[2019-04-26 23:59] spandantiwari commented on #915
@dashesy - The unused initializers seems to be coming from the PyTorch model. There's a recent change that went in PyTorch master that may be relevant to this issue. Could you please try to export the model with `do_constant_folding=True` in the call to `torch.onn.export` API, and see if this issue is gone? Since the change went in PT master recently, you may have to get the latest nightly build f

[2019-04-27 00:28] imeckr opened #927 "Split operator is not working for String type input"
onnxruntime is not able to find the implementation for string type input

[code]

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- ONNX Runtime installed from (source or binary): pip
- ONNX Runtime version: 0.3.0
- Python version: 3.6.7(packaged by conda-forge)

[2019-04-27 01:56] snnn commented on #889
@souptc, it's already added back. #872

[2019-04-27 03:16] xkszltl opened #929 "Release tag in master"
We are using git describe to pick up the version number from release tag.
This works fine but not on master.
The latest tag on master is v0.1.4

**System information**
- ONNX Runtime version (you are using): master

**Describe the solution you'd like**

Merge tagged release branch back to master, even with something like `git checkout --ours *` to take everything from master branch only in the "Me

[2019-04-27 04:06] kkaranasos commented on #885
Issue fixed with #918.

[2019-04-27 04:06] #885 closed

[2019-04-27 19:03] pranavsharma commented on #929
We're in the process of cutting a release branch for 0.1.4. It has not been cut yet. It'll be ready early next week. Thanks for your patience.

[2019-04-27 19:54] dashesy commented on #889
Thanks

[2019-04-27 19:54] #889 closed

[2019-04-27 22:44] xkszltl commented on #929
@pranavsharma
Sorry I don't really understand the word.
What does "cutting a release branch for 0.1.4" means?

[2019-04-27 22:51] bitnick10 opened #931 "help add this repo to vcpkg"
https://github.com/Microsoft/vcpkg
https://github.com/Microsoft/vcpkg/issues/6077

[2019-04-27 23:17] raymondxyang commented on #929
We cut the branch for the release for potential patches. It is requested by some partner teams.

[2019-04-27 23:35] xkszltl commented on #929
Oh that's probably not related to this?

What I'm asking is to run a PR from v0.3.1 to master, so that "git describe" can get a tag on master

[2019-04-28 06:47] pranavsharma commented on #931
@bitnick10 We would love to see contributions here if you've the resources. Thanks.

[2019-04-28 08:11] pranavsharma commented on #929
Can you please elaborate? What’s the objective?

[2019-04-28 08:43] xkszltl commented on #929
TLDR: We want to have an easy and general way to get a version number, by using `git describe`.

`git describe` command returns the latest annotated tag on the branch + how many commits ahead of it, in the form of `<tag>-<# commits ahead>-<hash>`.
This provides information similar to `/VERSION_NUMBER` but more git friendly.

Since master should be considered as a version ahead of any release, it w

[2019-04-28 08:47] xkszltl commented on #929
I also noticed there're cherry-pick commit from release branch back to master.
Merge commit may be better than cherry-pick.
If there's certain "release-only" commit, you can discard those changes when merging back to master.
Comparing to cherry-pick, this practice explicitly tells every stories in the history, and keep it "linear" for the long run.

[2019-04-29 19:58] #906 closed

[2019-04-30 22:03] NWH1111 opened #948 ""Float16" data type are not support in C# (Which mean it will impact to use the FP16 model in Onnxruntime)"
**Is your feature request related to a problem? Please describe.**
When I tried to test with Float16 model, it will run with error -
"Unexpected input data type. Actual: (class onnxruntime::NonOnnxType float) , expected: (class onnxruntime::NonOnnxType union onnxruntime::MLFloat16)". cause I cannot find any datatype to fulfill MLFloat16 requirement (so I put the float as input).

It seems like the

[2019-05-01 23:49] hariharans29 commented on #831
Hi @mika-fischer,

1) True, the model input dimensions are never [1, 64, 1, 1] but rather [1, 64, H, W], but the idea was to find an input value amongst the (1 * 64 * H * W) values that leads to a NaN output value and spread it out across all channels and try and repro the NaN generation by using a single BN node (and other initializers as provided in the model).

As far as I see (I could be wrong

[2019-05-02 08:41] mika-fischer commented on #831
Hi, @hariharans29,

Thanks for getting back to me and sorry for not being able to continue my investigation (I'll probably not find enough time to debug this in the next few weeks either...).

Quoting from https://github.com/onnx/onnx/blob/master/docs/Changelog.md#batchnormalization-7:

And similarly for the variance.

Conversely this means that if you have an input shape of [1, 64, 1, 1] the mean

[2019-05-02 10:18] dselivanov opened #956 "Docker files are just wrong"
This is very strange to see totally incorrect and untested docker files in the master branch.

### GPU

onnxruntime clearly states in depends on CUDA 9.1, but gpu images starts from 10.0 - https://github.com/Microsoft/onnxruntime/blob/628f4c3aa3bb03fb62fd580a897ec8b6de32e430/dockerfiles/Dockerfile.gpu#L9

On top of that it is based on ubuntu 16.04 and the most modern python from apt is 3.5. Howeve

[2019-05-02 14:43] xadupre opened #957 "Tokenizer fails if separators include special characters for regular expression"
**Describe the bug**
Last change changed the behaviour of the tokenizer by using regular expression when separators are used to split into words. The code fails if separators such '?', '.' are used. See
https://github.com/Microsoft/onnxruntime/blob/master/onnxruntime/contrib_ops/cpu/tokenizer.cc#L99.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): all
- ONNX Runt

[2019-05-02 23:09] #796 closed

[2019-05-02 23:18] skottmckay commented on #856
This is maybe a badly named property in the RunOptions. The original intention of the property was to allow the vlog level to be set, not the overall logger level. For vlog output to occur, the severity needs to be verbose, hence the current behaviour.

The logger severity would normally be set when creating the LoggingManager (either directly or via OrtCreateEnv).

[2019-05-03 00:21] pranavsharma commented on #927
Can you attach custom_converter.onnx for further debugging?

[2019-05-03 06:53] snnn commented on #956
It's not wrong. At source code level,  onnxruntime supports multiple python versions and multiple cuda versions.

[2019-05-03 06:55] snnn commented on #956
Sounds reasonable.

[2019-05-03 12:45] imeckr commented on #927
Here is the link to the [custom_converter.onnx](https://drive.google.com/open?id=1MiSq0lLR78r4jalwkVO343ieFMABJ-30)

Its a simple operation
![graph dot](https://user-images.githubusercontent.com/7942293/57137872-7b68f780-6d87-11e9-848e-69f17343f93d.png)

[2019-05-03 13:39] mohamedsarah opened #965 "Support for 3D ConvTranspose"
**Is your feature request related to a problem? Please describe.**
The [ConvTranspose Operator](https://github.com/onnx/onnx/blob/master/docs/Operators.md#ConvTranspose) supports inputs of size N x C x D1 x D2 x ... x Dn

Unfortunately, onnxruntime errors for inputs with anything other than 2D ConvTranspose (input N x C x H x W):

`RuntimeError: Method run failed due to: [ONNXRuntimeError] : 2 : I

[2019-05-03 18:28] dashesy opened #967 "[ONNXRuntimeError] : 9 : NOT_IMPLEMENTED : Could not find an implementation for the node BatchNormalization(6)"
**Describe the bug**
Try an inference session with older model

[code]

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu16
- ONNX Runtime installed from (source or binary): pip
- ONNX Runtime version: 0.4.0
- Python version: 3.6

**To Reproduce**
Describe steps/code to reproduce the behavior:

**Expected behavior**
Backward compatibility, or update changelog

[2019-05-03 18:50] hariharans29 commented on #967
Hi @dashesy,

Is your model an opset 6 conformant model ? It seems to be looking for a BatchNormalization node with opset version 6. [Here](https://github.com/Microsoft/onnxruntime/blob/master/docs/Versioning.md), under the section "Backwards compatibility", it says "All versions of ONNX Runtime will support ONNX opsets all the way back to (and including) opset version 7". So, I think this is expe

[2019-05-03 19:12] hariharans29 commented on #799
Fixed by #716 . CC: @shahasad @raymondxyang.

[2019-05-03 19:12] #799 closed

[2019-05-03 19:14] hariharans29 commented on #967
Closing as it seems this is by design since opset 6 is not supported per the versioning doc. Please feel free to re-open if you feels this was incorrectly interpreted.

[2019-05-03 19:14] #967 closed

[2019-05-03 21:22] raymondxyang commented on #948
Hi thanks for trying our C# support. If I remember correctly we have discussed this item before in the meeting @jignparm would you mind following up this issue?

[2019-05-03 21:29] tannergooding commented on #948
The framework side of this is being tracked by https://github.com/dotnet/corefx/issues/25702 and is being prototyped under https://github.com/dotnet/corefxlab/issues/2635.

There are also discussions to ensure that it gets the appropriate language support in C# (and potentially other languages like F#).

[2019-05-06 18:54] GuanLuo opened #975 "Does Official Build for C Work with CUDA 10?"
Hi, I notice that there are options to use CUDA 10 or CUDA 9 when I build from source, so I was wondering if the official GPU build for C will work with CUDA 10?

[2019-05-06 19:44] snnn commented on #975
YES.

[2019-05-06 20:12] GuanLuo commented on #975
I see. So the prebuilt binary is still with CUDA 9, is that correct?

If this is the case, it's there a future plan to also provide prebuilt binary with CUDA 10? Thanks.

[2019-05-06 20:24] pranavsharma commented on #975
Official binaries are built with cuda 9.1. See here https://github.com/Microsoft/onnxruntime#system-requirements.

[2019-05-06 20:24] #975 closed

[2019-05-06 20:32] lantiga commented on #791
Looking forward to this for RedisAI (https://github.com/RedisAI/RedisAI). We're going to add an ONNXRuntime backend very shortly, we're particularly interested in having support for this in the C API. I'll be happy to help out if need, of course.

https://github.com/RedisAI/RedisAI/issues/33

[2019-05-07 08:19] elevir opened #979 "Session::Run() function doesn't support multiple outputs"
**Describe the bug**
When I'm trying to infer two outputs of model at the same time an exception of access violation occurs.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 1809
- ONNX Runtime installed from (source or binary): source
- ONNX Runtime version: 0.4.0

**To Reproduce**
Code is same as [example](https://github.com/microsoft/onnxruntime/blob

[2019-05-07 13:34] drapado opened #980 "kernel32.LoadLibrary():'cublas64_91.dll' not found"
Hi, I'm trying to test in C# an ONNX model created from pytorch. I'm using the example code from [https://github.com/microsoft/onnxruntime/blob/master/docs/CSharp_API.md](https://github.com/microsoft/onnxruntime/blob/master/docs/CSharp_API.md).

I get this error in this lines of code:
`int gpuDeviceId = 0; // The GPU device ID to execute on `
`var session = new InferenceSession(@"C:/Users/David/Do

[2019-05-07 17:01] snnn commented on #979
Show me your code please.
For example,
[code]
Did you change the last parameter from 1 to 2?

[2019-05-07 18:14] elevir commented on #979
@snnn the code of `Run` looks like
[code]
The size of output_node_names equals to 2.

[2019-05-07 18:18] jignparm commented on #980
The project failed to load cublas64_91.dll. Could you reinstall the  Cuda 9.1 toolkit again? There are probably some missing dependent dlls that need to be resolved. You can use dependency walker to see what libraries are missing.

Can you also provide a few more details about your project (e.g. is it .NetCore or .NetFramework, and what's the target (AnyCPU, x86 or x64))? If you don't have a prefe

[2019-05-07 21:47] linkerzhang commented on #979
is it ok for you to share the model with us please?

[2019-05-07 21:51] linkerzhang commented on #948
ORT will also need to expose the support via C# API, @faxu for tracking it.

[2019-05-07 23:12] jignparm commented on #948
The ORT C#  API maps several tensor native types to C# system types (e.g. Int64 -> long, see below). Currently Bloat16 is not implemented. Ideal solution is to have  Bfloat16 implemented as a new type in C# as @tannergooding mentioned above.

https://github.com/microsoft/onnxruntime/blob/master/csharp/src/Microsoft.ML.OnnxRuntime/NamedOnnxValue.cs#L327

[2019-05-07 23:16] tannergooding commented on #948
@jignparm, do you need both `bfloat16` (Google's format) and `float16` (the IEEE half-precision format)?

We have proposals to support both currently and will likely end up implementing both, but I just want to make sure I have it tracked correctly.

[2019-05-08 01:00] vinitra commented on #956
Thank you for your feedback on the older versions of the dockerfiles, @dselivanov. I removed them in #987 and will address the suggested changes in a future PR!

[2019-05-08 05:34] elevir commented on #979
@snnn @linkerzhang there is full code of model using.
[code]
And there is the model: [super_point.zip](https://github.com/microsoft/onnxruntime/files/3155643/super_point.zip)

[2019-05-08 06:23] snnn commented on #979
I hit an error of:
[code]

[2019-05-08 06:39] elevir commented on #979
@snnn is it thrown before running inference? Because I can succesfully infer model with one node (including output node with shape { 2, 256, 60, 80 })

[2019-05-08 06:43] snnn commented on #979
No. It's inside sess.Run.

[2019-05-08 07:01] Varusnguyen commented on #853
Hi, @bitnick10. I am trying to use the example of onnx runtime for C++ API and now I am getting this kind of error even I included onnruntime_c_api.h and onnxruntime_cxx_api.h. Do you have any suggestions for me to resolve this problem? Thank you in advance,
![image](https://user-images.githubusercontent.com/49540574/57356086-23c0f680-71a2-11e9-8fa7-02a997516dfb.png)

[2019-05-08 07:07] bitnick10 commented on #853
@Varusnguyen ,Since C lib is the stable one for me ,I'm still using it, and wait someone who can help us add C++ API to vcpkg so that is would be very easy to use(which should be avoid your error code).
https://github.com/microsoft/onnxruntime/issues/931

[2019-05-08 07:14] Varusnguyen commented on #853
@bitnick10. Thank you for your quick answer. I hope someone will help us to do this. I am really getting stuck in this problem for a while since my applications are all written in C++.

[2019-05-08 07:17] bitnick10 commented on #853
@Varusnguyen you are welcome,I'm stuck for very long time since all code written in C++,so finally I choice the C API even it's not very fast

[2019-05-08 07:24] Varusnguyen commented on #853
@bitnick10.  Onnxruntime provided two header files: onnruntime_c_api.h and onnxruntime_cxx_api.h, so I thought that one of them will be used in C++ program and it will be directly included.  Do I make any misunderstanding here?

[2019-05-08 07:37] bitnick10 commented on #853
@Varusnguyen this header is new for me since it's not in the 0.3 ,I'll do some research and I'll see what I can do whit it

[2019-05-08 07:42] elevir commented on #979
@snnn strange. I have built Ort with Debug config and program still fails on access violation without errors related on Shape.
Just in case, I've updated message above with actual code.

[2019-05-08 08:26] bitnick10 commented on #853
hi @Varusnguyen,till now I'm OK to run the [C++ example](https://github.com/microsoft/onnxruntime/blob/master/csharp/test/Microsoft.ML.OnnxRuntime.EndToEndTests.Capi/CXX_Api_Sample.cpp) My step:1.nuget onnxruntime;2.copy onnxruntime_cxx_api.h to your project folder;3.run

[2019-05-08 08:46] Varusnguyen commented on #853
@bitnick10. Your support is so incredible to me and I very appreciate about that. Since I just move to C++ for a while, so a lot of things I need to study hard. Can you tell me how to NuGet onnx runtime ( is it the same way with load onnxruntime by NuGet in C#. I just choose project properties and choose to manage NuGet packages). Furthermore, the onnxruntime_cxx_api.h need to include the onnxrunt

[2019-05-08 08:53] bitnick10 commented on #853
@Varusnguyen yeah,nuget the .net version so that it gives you the c header and dll which wrapped by C#.I'm using the c version of it. but without the C++ header.

[2019-05-08 09:08] Varusnguyen commented on #853
@bitnick10 ,  your suggestion is so valuable for me so far, after installing the Nuget onnxruntime, I felt I have one step closer to what I expected. But there are some erros in my code as following pictures. Did you meet that when coding your program?
![image](https://user-images.githubusercontent.com/49540574/57363563-ea918200-71b3-11e9-921e-afd1eb335cdc.png)

[2019-05-08 09:12] bitnick10 commented on #853
@Varusnguyen I can run it well.You should troubleshooting the rest with [stackoverflow ](https://stackoverflow.com/)and google now.

[2019-05-08 17:40] #956 closed

[2019-05-08 18:22] jignparm commented on #948
The TensorProto definition contains both Float16 as well as BFloat16 (see below). We would need to support both the formats in the C# API. There are currently a handful of Float16 models in the test suite (half-precision) which cannot be scored in C#, but are fine in native C++. Is there a timeline for the proposal? There seems to be a growing interest in 16-bit models.

https://github.com/microso

[2019-05-08 22:32] suo opened #993 "GPU builds with Azure Pipelines?"
Hey all, I work on PyTorch and I'm experimenting with using Azure Pipelines in our CI. I noticed that you have GPU pipelines set up and I was wondering how you did it. Are there Microsoft-hosted agents with GPU available? Or can we get GPU VMs from Azure and wire them up to work with Azure Pipelines? Curious what the best practices are.

If this is a bad place to ask this question feel free to red

[2019-05-08 22:56] pranavsharma commented on #993
We use self-hosted agents. Last I checked Azure Pipelines doesn't support GPU VMs.

[2019-05-08 22:56] #993 closed

[2019-05-08 23:09] acdifran opened #995 "Bus Error on sess.run"
**Describe the bug**

I recently installed onnxruntime on a Jetson Nano device and am getting a bus error when running the hello world type example. The onnx parser in the current version of TensorRT on the Jetson Nano device does not support certain operations I would like to use in my onnx models, so I attempted to install onnxruntime directly with TensorRT and GPU support. The build and install

[2019-05-08 23:37] pranavsharma commented on #929
We don't plan to work on this as it's not one of our top priorities. Feel free to re-open if this is a blocker for your release. Thanks for your interest.

[2019-05-08 23:37] #929 closed

[2019-05-09 00:42] jywu-msft commented on #995
First, modify CMakeLists.txt to add jetson support

		-  set(CMAKE_CUDA_FLAGS "${CMAKE_CUDA_FLAGS} -gencode=arch=compute_50,code=sm_50") # M series
		+  set(CMAKE_CUDA_FLAGS "${CMAKE_CUDA_FLAGS} -gencode=arch=compute_53,code=sm_53") # Jetson support

Try the below build commandline instead (you can also add your numpy_version option if necessary):

./build.sh --config Release --update --build --bu

[2019-05-09 06:10] jaliyae commented on #508
This code was ported from a previous caffe2 based implementation as it is. Hope we can fix it for good.

[2019-05-09 10:09] t13m opened #999 "Question on DeepCPU"
Hi, I read the paper "DeepCPU: Serving RNN-based Deep Learning Models 10x Faster" (published by MSR), and trying to find DeepCPU's implementation. I found there are some "deepcpu_" prefixed file under `onnxruntime/core/providers/cpu/rnn`, like `deep_cpu_lstm.cc`.

Are those codes an implementation of the algorithms described in the paper?

Thanks.

[2019-05-09 13:15] acdifran commented on #995
Hi @jywu-msft thank your for the suggestion on how to attempt to fix this. I performed the steps you listed above and reinstalled onnxruntime, but python is still crashing when attempting to run the example. Although, now it seems to have changed from a bus error to a segmentation fault.

[2019-05-09 14:57] jim-meyer opened #1001 "Need CentOS support"
**Describe the bug**
I would like to be able to use onnxruntime on CentOS 7.6. I can pip install onnxruntime 0.4.0 on CentOS 7.6 fine. But when I try to "import onnxruntime" using python 3.6.3 it fails:
[code]
This almost certainly fails for other supported (>=3.5) versions of python though I haven't tried any other versions.

The output of `strings /usr/lib64/libstdc++.so.6 | grep GLIBCXX` is:
[c

[2019-05-09 17:00] xgirones commented on #979
I think I ran into a similar problem. I solved it by supplying an array of NULL initialized pointers to OrtValue, one for each expected output:

`std::vector<OrtValue *> vpOutputTensor(outputNodeNames.size() );

pSt = OrtRun( apS.get(), NULL, inputNodeNames.data(), (const OrtValue* const*)&pInputTensor, cInputNodes, outputNodeNames.data(), outputNodeNames.size(), vpOutputTensor.data() );`

[2019-05-09 18:51] #727 closed

[2019-05-09 19:11] hariharans29 commented on #717
Closing as the appropriate error message will be relayed after #988

[2019-05-09 19:11] #717 closed

[2019-05-09 19:48] acdifran commented on #995
I attempted this on a different machine just to see what would happen and it is failing there as well.

Machine stats: AWS p3.2xlarge w/ Tesla V100
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04 (based on deeplearning AMI)
ONNX Runtime installed from (source or binary): built from source
ONNX Runtime version: 0.4.0
Python version: 3.6.8
Visual Studio version (if applicable):

[2019-05-09 20:12] snnn commented on #1001
Yes.  You are right.

[2019-05-09 20:27] snnn commented on #979
HI @RyanUnderhill , looks like it's a bug in the cxx wrapper.

[2019-05-09 20:37] xgirones opened #1004 "Running inference on a batch of tensors using the C API"
Hi, I am new to onnxruntime and I have some doubts:

1-For the sake of performance I would like to run inference on a batch of input tensors, but I do not know how to specify it using the C API. Are there any samples and/or instructions I can use?

2-How can I load a model from a memory buffer using the C API?

3-Is it possible to build the onnxruntime DLL to incorporate both the MKLDNN/MKLML and

[2019-05-09 21:20] snnn commented on #1004
1. At API level, it doesn't have the 'batch' concept.  You may combine multiple tensors into one single tensor.  Tensor is a n-dim array, you may use the first dimension as batch size. Again, at API level, onnxruntime doesn't understand what is batch and which dimension is 'batch'. It should be defined in the model.

2. Working on that.

3. Yes.

[2019-05-09 21:22] snnn commented on #995
Hi @acdifran,
https://github.com/onnx/models/tree/master/resnet50 has multiple versions of the model. Only one of them could work with tensorrt. Which one you are testing?

[2019-05-09 21:45] jywu-msft commented on #995
if i'm reading it correctly, your 'hello world' model is resnet50.
that model expects input shape of [1,3,224,224] but you're passing in [3,4,5] ?
(thought we should be doing input shape validation but maybe we aren't for python bindings.
default cpu returns error to some other validation failure and I think tensorrt seems to not do any validation and we encounter an invalid memory access.)

I tri

[2019-05-09 22:03] acdifran commented on #995
@jywu-msft oh wow, you're absolutely right! I never changed the shape to match the model I was using and the low level faults were really throwing me off making me think it was something with the install itself. Thanks for the help!

[2019-05-10 06:08] mkwml commented on #915
@spandantiwari   hi, thanks for your advice. i have tried it, it cleaned the unused initializers,  but the function OrtSetSessionGraphOptimizationLevel can not work. i install the pytorch version is 1.1.0 nightly

[2019-05-10 08:12] xgirones commented on #1004
Thanks for your answer.

I have models trained with CNTK 2.7 and I am using CNTK for inference too. I am familiar with the CNTK API, which has functionality to create batches of inputs and I find it very convenient. The CNTK model (converted to ONNX) I would like to fed batched inputs is:

![ocr_basic_model_3rps_cntk27_eval_2017](https://user-images.githubusercontent.com/30896820/57511114-c0050d80

[2019-05-10 14:32] xadupre commented on #886
xgboost is multithreaded, onnxruntime is not for ensembles. That might explain the differences. How many cores does your CPU have?

[2019-05-10 17:21] snnn commented on #1004
@KeDengMS Any idea? Looks like the CNTK exporter doesn't support batch very well.

[2019-05-10 17:27] xadupre opened #1007 "TreeEnsembleClassifier: base_value not tested, fails for binary classification"
**Describe the bug**
If base_value is specified and the number of classes is 2, the score of the second class is constant.

**System information**
- OS Platform and Distribution: Windows
- ONNX Runtime installed from source
- ONNX Runtime version: 0.4
- Python version: 3.7
- Visual Studio version 2017

[2019-05-10 18:31] KeDengMS commented on #1004
@liqunfu and @BowenBao for awareness of CNTK issues.

This is known issue. To support batch, the exported model needs to be modified to have batch axis > 1. Here's an script I used for generate Scan test from CNTK and add batch axis to it. You may modified it to suite your needs:

[code]

[2019-05-10 22:00] linkerzhang commented on #441
for  self-contain model (it does not refer to external weight file), https://github.com/microsoft/onnxruntime/pull/718 is merged for fixing this issue.

[2019-05-10 22:04] xkszltl commented on #441
If this is ready, would you do a v0.4.1?
Thanks

[2019-05-11 03:35] jignparm commented on #508
I'm looking into generating reference models for each of the aggregation functions, to verify the implementation. Will update on this thread shortly.

[2019-05-11 10:34] xgirones commented on #1004
Thanks for your response. When I tried

`in_mp = onnx.read(pathMyEvalModeONNX, 'rb')`

I got the error

[code]

On the other hand, I was able to load the model using

`in_mp = onnx.load(pathMyEvalModeONNX)`

Then, I was able to run this part of your code

[code]

However, when I tried to save the model with

`onnx.save(out_mp, 'pathMyEvalModeONNX_fixed', 'wb')`

I got the error
[code]

I have a Co

[2019-05-11 15:57] jywu-msft commented on #995
closing this as it is resolved for the user.
will open another issue for avoiding low level failures in TensorRT provider.

[2019-05-11 15:57] #995 closed

[2019-05-12 18:44] tmccrmck commented on #1004
Not a response to your previous question, but I think it should be mentioned that loading from an in-memory buffer just got merged with #718

[2019-05-13 11:13] xgirones commented on #1004
This is great! Now if I manage to get the batch axis issue solved I will have everything I need to migrate to ONNX Runtime. Thanks!

[2019-05-13 16:17] prometheusDE opened #1016 "[Loading Model] Matlab Exported LSTM Model"
We encountered an issue with loading a onnx model generated in a different learning framework - Matlab Deep Neural Network Toolbox.

Basically we followed Matlab's tutorial on sequence-to-sequence regression models using LSTM Networks [Link](https://de.mathworks.com/help/deeplearning/examples/sequence-to-sequence-regression-using-deep-learning.html)

We exported the model using the plugin ONNX exp

[2019-05-13 18:21] #927 closed

[2019-05-13 20:55] xgirones commented on #1004
More problems, this time when trying to convert a very simple CNTK RNN model to ONNX:

[code]

![ocr_basic_line_model_cntk27_2017](https://user-images.githubusercontent.com/30896820/57652913-f2489080-75d0-11e9-8598-1e3117c00ab5.png)

In can be trained with CNTK and it works. However, when I try to save it as ONNX using

`vanilla_model().save(pathRNNModelONNX,C.ModelFormat.ONNX)`

CNTK issues an er

[2019-05-13 22:09] bencherian commented on #1004
@snnn In your earlier reply, you say the following:

Does this imply that you cannot run batched inference with varying batch sizes? (e.g., run inference with a batch of 128, and then on a batch of 140?)

[2019-05-14 00:01] raymondxyang commented on #1016
I am looking into it..

[2019-05-14 03:01] xybai opened #1021 "failed:[ShapeInferenceError] Attribute pads has incorrect size, when using onnxruntime to infer onnx model converted from pytorch model"
Hi, I use torch.onnx to convert a pytorch model to onnx model and use onnxruntime to use it to infer data (no gpu). The following error happends when running "onnxsession = onnxruntime.InferenceSession(args.onnxmodel)".
![image](https://user-images.githubusercontent.com/10529016/57667476-3752de00-7636-11e9-81ec-7247c8a40f5b.png)

Hope you can have a check. Thanks!

- OS Platform and Distribution:

[2019-05-14 05:54] jignparm commented on #508
@aldanor , thanks for the great comments. Besides the confusion in that section (I think the variable names are carried over from the classifier, which don't always apply for regression), I tried out several scikit-learn tree algorithms, including  RandomForestRegressor and ExtraTreesRegressor. Most of the models from sciki-learn use either SUM or AVERAGE, which work successfully.

For MIN and MAX

[2019-05-14 05:55] hariharans29 commented on #1021
Hi @xybai,

Could you please share the model for further investigation ?

Thanks!

[2019-05-14 06:26] oncetotry opened #1024 "Crash in C# coreclr.dll, while running x86 Microsoft.ML.OnnxRuntime.InferenceSample"
.NET coreclr.dll crash, when running Microsoft.ML.OnnxRuntime.InferenceSample, build with x86 onnxruntime.

**System information**
- OS Platform and Distribution: Win10 , x64 for build, Win10, x86 and x64 for target distribution
- ONNX Runtime installed from (source or binary): latest from source
- ONNX Runtime version: 0.4 for Nugat package

- Python version: 3.6.5
- Visual Studio version (if app

[2019-05-14 06:44] mkwml commented on #915
my problem have been solved.  i used onnx optimize my model, then the unused information was not shown again.

[2019-05-14 07:40] xybai commented on #1021
Hi, this is my model skeleton. Please have a look.

class TestModel(nn.Module):
    def __init__(self):
        super(TestModel, self).__init__()
        self.word_embedding = nn.Embedding(num_embeddings=10000, embedding_dim=100)

        self.queryRNN = nn.GRU(input_size=100, hidden_size=256, num_layers=2, batch_first=True,
                               dropout=0.5, bidirectional=False)

[2019-05-14 12:00] prometheusDE commented on #1016
Thanks a lot! :D

[2019-05-14 15:56] letmaik opened #1025 "Clang support"
Is there interest to add official support for Clang? Adding it to the CI build matrix would be useful to keep track of any Clang-related issues.

[2019-05-14 17:59] #979 closed

[2019-05-14 18:23] hariharans29 commented on #1021
Hi @xybai,

Thanks for the reply.

This is great, but I do need the .onnx file. This will help me to

1) Run it through the [onnx model checker](https://github.com/onnx/onnx/blob/master/docs/PythonAPIOverview.md) to determine if it is a valid ONNX model. There could be an exporter bug that could have created an invalid ONNX model which needs to be tracked differently.

2) Use the model to actually

[2019-05-14 19:09] jignparm commented on #1024
@oncetotry, thanks for the detailed description of the error. There is already a  PR #962 ( "x86 support fo C# API") to  fix this, which will be merged into master shortly. As you mentioned, the C-API for x86 should work fine in the NuGet package. The C# managed DLL required some refactoring to handle size_t typed variables on x86 platforms.

[2019-05-14 19:42] pranavsharma commented on #1025
There are no plans currently to add clang support. If there is enough interest we can reconsider this. Thanks!

[2019-05-14 19:42] #1025 closed

[2019-05-14 22:37] dashesy commented on #915
@mkwml can you share which optimization passes you tried? I would like to try an optimization with minimal change. `eliminate_deadend` looks promizing.

[2019-05-14 22:58] snnn commented on #1004
No, you can

[2019-05-15 01:11] skottmckay commented on #856
@NonStatic2014 Is this best fixed by improving documentation about what the expected usage of run_log_verbosity_level is? Or does your scenario require being able to set the severity at the inference session or run level so we need to add an additional value in the session and/or run options?

[2019-05-15 01:17] samyam commented on #999
The codes implement some of the optimizations described in the paper. It performs fusion of matrix-multiplications, and careful partitioning for parallelization, but it does not do weight centric streamlining. The performance of the code is significantly better than any naïve parallel implementation, but it won't match the performance in the paper.

[2019-05-15 01:20] skottmckay commented on #729
I ran the test code with the latest onnxruntime code and it was successful. @lucienwang1009 can you please check to see if it works for you?

[2019-05-15 03:20] snnn commented on #1004
Close this issue as the original problem is solved.
I'll add a sample program for demonstrating inferencing with batching.

[2019-05-15 03:20] #1004 closed

[2019-05-15 03:25] snnn commented on #853
Hi, I changed the title so that the dev team can focus on one specific problem and timely finished it.
If you have more questions/requirements, please feel free to open a new issue.

[2019-05-15 03:25] snnn commented on #1004
#853

[2019-05-15 03:31] GuanLuo opened #1034 "Can't Create Model Sessions on Different GPU"
**Describe the bug**
I am on a 2 GPU system, I tried to create one session on each GPU (so 2 sessions in total). I get the following error when it's creating the second session (i.e. creating the first session on GPU 0, and the second session on GPU1)
[code]
Changing the creation order (first session on GPU1, second session on GPU0) will gives the same kind of error, but with different id
[code]

[2019-05-15 04:01] t13m commented on #999
Thank you so much samyam for the detailed answer. It's very useful.
I run through the code and found fused matmul and the time-(in)dependent phases but didn't see the partitionings, are they implemented in sgemm kernels provided by mlas library? Also, is there any plan to add weight centric streamlining to onnxruntime to make it a full-fledged deepcpu implementation?

[2019-05-15 05:36] mkwml commented on #915
@dashesy  i used extract_constant_to_initializer and fuse_bn_into_conv optimization passes.

[2019-05-15 08:22] haifenghan commented on #852
caffe2 has a API to export all outputs:

[code]

Could you export the similar API to us? Thanks

[2019-05-15 10:46] AbhilashAwasthi01 commented on #886
Okay thanks for clearing this that onnxruntime is not for ensembles.
My Mac has 8 cores and ubuntu machine has 24 cores.

[2019-05-15 10:49] xadupre opened #1037 "Update examples in documentation"
**Describe the bug**
One python example raises the following exception:

ImportError: cannot import name 'convert_keras' from 'onnxmltools'

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): all
- ONNX Runtime installed from (source or binary): source
- ONNX Runtime version: git
- Python version: 3.7

[2019-05-15 12:04] timothyman commented on #791
We would love to have this too, since it will allow us to add the model file to Resources instead of loading it directly from a file.

[2019-05-15 13:25] elevir opened #1039 "Fully convolutional NN support"
Hello!

I have a question about using fully convolutional neural networks. FCNNs have a very useful property that allows their usage on images with variable resolution, is this feature supported by onnxruntime? For example, in CNTK I can clone a model with substitution of input variables, is there any way to do this in onnxruntime?

Thanks in advance!

[2019-05-15 14:55] xybai commented on #1021
Hi,

[2019-05-15 14:55] #1021 closed

[2019-05-15 14:59] xybai commented on #1021
Hi @hariharans29 , after talking with one colleague in onnxruntime team. The conversion error maybe related with maxpooling op, while it need 4 dimension, and only 3 is passed into. They will keep track of and try to fix this bug. Many thanks for your time. Thanks!

[2019-05-15 17:19] #508 closed

[2019-05-15 17:22] snnn commented on #1034
Yes, it's a known problem.

[2019-05-15 17:23] skottmckay commented on #999
The MLAS SGEMM kernels do the partitioning.

I'm not aware of any plan to add the weight-centric streamlining at this point.

[2019-05-15 17:25] snnn commented on #831
Updated the title because the model doesn't work on CPU.

[2019-05-15 18:10] hariharans29 commented on #801
Closing this as spec is unclear as to how to handle cases when pad size >= kernel size. When pad size >= kernel size, atleast one value in the output tensor will be generated from a "pure padding region". Raised an issue in ONNX to clarify the correct functionality (or if it is even allowed in the first place) - https://github.com/onnx/onnx/issues/1922. Since there is tracked separately in the pla

[2019-05-15 18:10] #801 closed

[2019-05-15 18:28] yuslepukhin commented on #284
@MironAtHome Let's make it clear, you are attempting to run protoc on files that reside in paths that have UNICODE characters within them. Was protobuf code written in a way that it can handle UNICODE characters? Addining `_DUNICODE` switches to the command line is not enough.
`-DUNICODE` is a Microsoft specific switch which may affect lots of stuff , but then again, affect nothing depending on th

[2019-05-15 19:42] aldanor commented on #508
@jignparm Thanks for fixing this - looks good now! (also the more tests the better)

[2019-05-15 21:44] raymondxyang commented on #1016
I traced the shape inference model:
1. the output of lstm node is 4-dimensions
2. the output of first gemm node (fc-1) is 2-dimensions
3. the output of first gemm node (fc-2) is 2-dimensions, which is different with the defined [1,1,1] shape.
From my limited understanding and the definitions on https://github.com/onnx/onnx/blob/master/docs/Operators.md#Gemm , those inferred results looks good to m

[2019-05-15 23:40] faxu commented on #486
@fumihwh : can you share some more details on your usage scenario? The python packages that are released are only built for single execution providers right now.

[2019-05-15 23:50] #915 closed

[2019-05-15 23:52] faxu commented on #1037
@xadupre which example? Can you help fix this?

[2019-05-16 03:12] snnn commented on #902
Close it as I can confirm it's a gcc(or ld) bug.  "The weak symbols in libstdc++.so might make the linker think it doesn't need the real ones from libpthread.so"

I'll submit a PR to bypass it.

[2019-05-16 03:12] #902 closed

[2019-05-16 03:24] t13m commented on #999
ok, thanks a lot :)

[2019-05-16 03:24] #999 closed

[2019-05-16 06:03] xkszltl commented on #1025
@pranavsharma
++interest

[2019-05-16 06:31] xkszltl commented on #902
FYI I also tried gcc 8.3.0 in Ubuntu released recently and got the same error

[2019-05-16 07:31] letmaik commented on #1025
For what it's worth, ONNX RT compiles just fine with Clang (`CC=clang CXX=clang++`) so this is mostly a matter of adding it to CI and making sure not to introduce breaks.

[2019-05-16 07:33] xkszltl commented on #1025
@letmaik
A few question about your setup:
  1. Which linker, ld or lld (-fuse-ld=lld)?
  2. libc++ or libstdc++?
  3. Which version of llvm?

Thanks

[2019-05-16 07:38] letmaik commented on #1025
ld, libc++, llvm 7

[2019-05-16 07:40] xkszltl commented on #1025
Thanks for the quick response

[2019-05-16 12:45] adriacabeza opened #1049 "Error: 'libcublas.so.9.1: cannot open shared object file: No such file or directory' with the latest Cuda version"
I am using onnxruntime for the inference of my model (which comes from keras). When I use CPU with onnxruntime everything goes well, but when I install onnxruntime-gpu (by using pip) I do get a CUDA error. My first guess was that the library versions did not match but since I do have a later version (v10) I believe it should work too.

My error message:

[code]

**System information**
- Linux Ubun

[2019-05-16 13:25] yanxben opened #1050 "onnx Runtime error for keras Reshape layer with batch"
Hello

I have a keras model with tensorflow backend converted to onnx with keras2onnx. I'm trying to run prediction with onnxruntime.
The conversion to onnx ends without errors.

data_format = 'channels_last'
K.set_image_data_format(data_format)

input_shape = (100, 100, 3)
x = np.random.randn(5, *input_shape).astype(np.float32)

# Build model
model = keras.models.Sequential()
model.add(keras.laye

[2019-05-16 17:38] snnn commented on #1049
Sorry, it's not true.  see: [http://tldp.org/HOWTO/Program-Library-HOWTO/shared-libraries.html](http://tldp.org/HOWTO/Program-Library-HOWTO/shared-libraries.html)

If the program was built with CUDA 9.0, you could run it with cuda 9.1, but not 10.x or 8.x. The major number can't be changed.  This is a general rule from the system's linker.

[2019-05-16 17:38] #1049 closed

[2019-05-16 18:46] tsu12 commented on #1016
We noticed that some LSTM models exported by MATLAB ONNX Converter don't work well with ONNX Runtime, although they could be loaded into other frameworks,  as ONNX Runtime strictly follows ONNX spec for the shape requirement. A new release of MATLAB ONNX converter will be released soon and it will work with ONNX Runtime better.

[2019-05-16 19:55] hariharans29 commented on #1050
Hello @yanxben,

Thanks for raising this.

Thinking out aloud -

1) I think had the requested shape been {-1, 1, 1, 20000} instead of {1, 1, 1, 20000}, it would have worked as expected as [ONNX does allow](https://github.com/onnx/onnx/blob/master/docs/Operators.md#Reshape)  one dimension in the new shape to be -1 so that it can be inferred (usually batch size).

2) The next question is how do we m

[2019-05-16 21:13] BowenBao opened #1053 "Resnet50 fails if update submodule to latest ONNX"
**Describe the bug**

Recent commit in onnx(https://github.com/onnx/onnx/pull/1988) updated shape inference for conv. This bug was discovered from CI for (https://github.com/microsoft/onnxruntime/pull/1052). With failure message
```1: [  FAILED  ] ONNXModelsTests/ONNXModelsTest.LoadFromProtobuf/9, where GetParam() = "resnet50" (52 ms)```,
and root cause
```Load model from model.onnx failed:[ShapeI

[2019-05-16 21:28] hariharans29 commented on #1053
Hi @stevenlix  - This seems to be a regression introduced in this commit -  https://github.com/onnx/onnx/pull/1988

[2019-05-16 21:28] wenbingl commented on #1050
the converter itself doesn't support the batch but there is some workaround for it, you can move the issue to keras2onnx github.

[2019-05-16 22:02] hariharans29 commented on #1050
@yanxben - The core problem is that the converted model doesn't seem to support batch inferencing, and the error you get from the runtime when trying to perform batch inferencing is just indicating that the model doesn't support that. Please open an issue in keras2onnx github repo to find out how to make the ONNX model support variable batch size.

Closing this as this is not a runtime issue. Plea

[2019-05-16 22:02] #1050 closed

[2019-05-16 23:19] hariharans29 commented on #1053
Hi @stevenlix @BowenBao @linkerzhang -

https://github.com/onnx/onnx/pull/2023 should fix this issue. (It is the output shape computation logic in ORT).

Please review. Thanks!

[2019-05-17 00:37] BowenBao commented on #1053
@hariharans29  thanks for looking into this so quickly!

[2019-05-17 10:09] Legorock opened #1056 "Onnx Backend API 'run_model' is broken"
**Describe the bug**
A clear and concise description of what the bug is.
Trying to run an Onnx model with Onnx Backend API raises TypeError exception
because it cannot call 'rep.run()' with 2 arguments (inputs, options).
I can invoke rep.run manually with 1 argument however, 'run_model' tries to have 'options' argument as well.

**System information**
- OS Platform and Distribution (e.g., Linux Ub

[2019-05-17 18:31] jim-meyer commented on #856
I'm trying to set the logging level from the python bindings for onnxruntime to avoid the default behavior of logging warnings.  The docs at https://microsoft.github.io/onnxruntime/api_summary.html don't describe what different values mean though.
Within the python bindings we have no control over how the LoggingManager gets created as @skottmckay noted. So I'm left (afaik) with just using Session

[2019-05-17 19:04] yuslepukhin commented on #1056
@Legorock Would you, please, share your script?

[2019-05-17 19:20] hariharans29 commented on #1053
@stevenlix's PR should resolve this finally - https://github.com/onnx/onnx/pull/2028. Will close this after the PR is merged.

[2019-05-17 21:11] snnn commented on #1034
We should fix the following warning:
[code]

[2019-05-18 00:04] GuanLuo opened #1060 "How to Create String Tensor Properly Using C API?"
Hi, I am using the C API of Onnx Runtime. It seems like I can use `OrtCreateTensorWithDataAsOrtValue()` to create String tensor, but I notice that the data being passed to the function is an array of string. I have heard that passing STL objects across shared library boundary is not a good practice, is that a valid concern in this case?

[2019-05-18 08:23] gwestner94 opened #1063 "Yolov3 Pytorch"
Is there any example of using yolov3 trained in pytorch (e.g https://github.com/ultralytics/yolov3) or the original darknet yolov3 in the onnx runtime?

When testing the pretrained model from https://github.com/ultralytics/yolov3,
 I keep having trouble applying the correct pre/ postprocessing operations (output parsing, nms) to replicate the pytorch output.

Thx
Georg

[2019-05-18 11:06] prometheusDE commented on #1016
Thanks a lot @raymondxyang  and @tsu12

@tsu12 Is there another C/C++ Framework that can load and score onnx models?

[2019-05-19 00:43] KeDengMS commented on #1034
I think the problem is in thread_local of per_thread_context in CUDA execution provider. @GuanLuo can you try create the two sessions in two different threads and see if the problem still exists?

[2019-05-20 03:09] linkerzhang commented on #919
Pin-ing this issue to track its progress. Thanks a lot!

[2019-05-20 09:25] yanxben commented on #1050
Thnx for the help, opened an issue in keras2onnx

[2019-05-20 10:52] KnightYao opened #1064 "How can i build shared lib？"
How can i build shared lib

[2019-05-20 12:46] wangshankun opened #1065 "Compile Error when CTest pytorch-operator"
Test command: /home/shankun.shankunwan/onnxruntime/build/Linux/Debug/onnx_test_runner "/home/shankun.shankunwan/onnxruntime/cmake/external/onnx/onnx/backend/test/data/pytorch-operator"
3: Test timeout computed to be: 10000000
3: 2019-05-20 20:44:33.944246227 [E:onnxruntime:Default, runner.cc:132 ParallelRunTests] Running tests in parallel: at most 16 models at any time
3: 2019-05-20 20:44:33.95611

[2019-05-20 16:21] GuanLuo commented on #1034
@KeDengMS So I just spawn a thread to execute `OrtCreateSession()`? Or the life time of the thread needs to be longer than that? Like once the session created, to run the model, I also need to run it in the same thread.

Anyway, I will try that.

[2019-05-20 17:30] EmmaNingMS commented on #1063
there is Yolov3 in ONNX model zoo. https://github.com/onnx/models/tree/master/yolov3

[2019-05-20 17:35] skottmckay commented on #1064
You can use the --build_shared_lib parameter with the build script.

./build.bat --help (Windows) or ./build.sh --help (linux) will list all the options.

[2019-05-20 17:36] #1064 closed

[2019-05-20 18:16] snnn commented on #1060
https://github.com/microsoft/onnxruntime/blob/master/onnxruntime/test/shared_lib/test_inference.cc#L266

[2019-05-20 18:16] #1053 closed

[2019-05-20 18:22] GuanLuo commented on #1060
Thanks.

[2019-05-20 18:22] #1060 closed

[2019-05-20 18:38] pranavsharma commented on #1064
Specifically you can do ```./build.bat --build_shared``` or ```./build.sh --build_shared```

[2019-05-20 20:37] linkerzhang commented on #1063
we're having a notebook for it in the progress https://github.com/vinitra/onnx-docker/blob/object-detect-demo/onnx-ecosystem/inference_demos/Yolov3_Object_Detection_ONNXRuntime.ipynb. @vinitra

[2019-05-20 21:46] Voxelworld commented on #948
I observed a similar problem when using the Python API after converting my model to float16 (using the ONNX [converter script](https://github.com/onnx/onnx-docker/blob/master/onnx-ecosystem/converter_scripts/float32_float16_onnx.ipynb)):

Is this related to the C# fix or should I open a new issue?

Tested with the CPU version of the onnxruntime 0.4.0 using `pip install onnxruntime`.

[2019-05-20 21:53] tannergooding commented on #948
I believe the current target is .NET 5, but it also depends largely on prioritization and scheduling.

[2019-05-20 23:00] pranavsharma commented on #1039
onnxruntime implements the ONNX [standard ops](https://github.com/onnx/onnx/blob/master/docs/Operators.md). If you don't find an operator that meets your needs, feel free to [add](https://github.com/onnx/onnx/blob/master/docs/AddNewOp.md) one.

[2019-05-21 01:24] jignparm commented on #1024
This should now be resolved. Please reopen if you find any other issues.

[code]

[2019-05-21 01:24] #1024 closed

[2019-05-21 07:39] Legorock commented on #1056
I am not at work until Thursday, I will be able to share my script when I will be in my office.

[2019-05-21 07:52] elevir commented on #1039
@pranavsharma thanks for answer!

I think that input data substitution must be implemented on onnxruntime level, not on computation graph level.

[2019-05-21 11:13] adriacabeza commented on #1049
Hey @snnn,  I downgraded to CUDA 9.0 (I am working an TensorRT 4.0 image) and I still do get the same error:

[code]

Here some information:
[code]

[code]

System information
Linux Ubuntu 16.04
ONNX Runtime installed by pip
ONNX Runtime 0.4.0 (both CPU and GPU)
Python 3.5.2

What am I missing?

[2019-05-21 15:45] snnn commented on #1049
Gould you try cuda 9.1 instead?

[2019-05-21 17:43] linkerzhang commented on #1039
what do you mean by "input data substitution" please? do you mean input variables with different shape/resolution? if yes, I think both onnx and onnx runtime support that.

For FCNN, I think the part that ONNX (op spec) does not support is "dynamic output shape for ConvTranspose", which should be used as the last layer of FCNN? https://github.com/onnx/onnx/pull/1839 has been trying to solve the ca

[2019-05-21 17:52] tsu12 commented on #1016
@prometheusDE, can you try to load this model to CNTK?

[2019-05-21 18:08] adriacabeza commented on #1049
@snnn

I can't because the TensorRT image I am working with needs or Cuda 9.0 or Cuda 10.1

Is there a way to make it work with 9.0 as you said before?

[2019-05-21 19:11] snnn commented on #1049
You can:
1. Either install multiple cuda versions. (They won't conflict with each other)
2.  Or build onnxruntime by yourself. Then you can choose either CUDA 9.1 or CUDA 10.x.

[2019-05-21 19:18] elevir commented on #1039
@linkerzhang

Yes, I do.

That is great! Is there any example of using FCNN with different shaped variables?

[2019-05-21 20:00] snnn commented on #1065
The error is in onnxruntime_test_all

[2019-05-22 00:42] linkerzhang commented on #1039
we don't have such examples right now. :(

[2019-05-22 00:44] linkerzhang commented on #1039
btw, is my understanding that ConvTranspose is the one used in FCNN to replace with FC correct? @elevir

(i am not an expert of FCNN :))

[2019-05-22 03:13] elevir commented on #1039
@linkerzhang

It is sad :( It will be grateful if someone show how to solve this task in couple lines of code (desired on C/C++)

FC can be easy replaced by convolution :) This one is just special case of convolution.

[2019-05-22 08:58] Jamiroquai88 opened #1079 "What is default backend for python CPU implementation?"
Hi,

I was trying to find out, which backend is used at default in python implementation. I used C api with MKL backend and my C code is around 3x slower compared to python.
Installed with
[code]
Version: `0.3.0`

[2019-05-22 11:19] wangshankun commented on #1065
67% tests passed, 1 tests failed out of 3

Total Test time (real) =  11.45 sec

The following tests FAILED:
          1 - onnxruntime_test_all (SEGFAULT)
Errors while running CTest
Traceback (most recent call last):
  File "/home/shankun.shankunwan/onnxruntime/tools/ci_build/build.py", line 840, in <module>
    sys.exit(main())
  File "/home/shankun.shankunwan/onnxruntime/tools/ci_build/build.py",

[2019-05-22 11:30] cuixing158 commented on #1016
@tsu12 @raymondxyang  Does the current matlab onnx version support the export of target detection networks(use exportONNXNetwork function), such as the Yolov2 network（export to yolov2.onnx）? It seems that only support 'classification' ,'regression','pixelclassification' layer type network...

[2019-05-22 16:29] GuanLuo opened #1080 ""Where" Op Is Not Implemented"
Hi all, I created a model containing "Where" operator but failed to load it via Onnx Runtime C API:
[code]
However, the [version matrix](https://github.com/Microsoft/onnxruntime/blob/master/docs/Versioning.md#version-matrix) says it supports Onnx opset version 10.

The Python script to generate the model:
[code]

[2019-05-22 17:11] skottmckay commented on #1080
This suggests you model has opset set to 9. What version of ONNX are you using?

[2019-05-22 17:23] GuanLuo commented on #1080
@skottmckay The onnx version is '1.4.1', and it is using opset 9 as you said. So it is not backward capatible?

[2019-05-22 18:18] skottmckay commented on #1080
Sorry - I thought Where was new in opset 10. What version of onnxruntime are you using as our implementation of Where was added a few months ago (and is valid for opset 9).

https://github.com/microsoft/onnxruntime/blob/master/onnxruntime/core/providers/cpu/tensor/where_op.cc

[2019-05-22 18:48] prometheusDE commented on #1016
@tsu12

I tried:

`pip install cntk`

in python:

[code]
I get the following error message (basically the same as in the onnxruntime).

[code]

[2019-05-22 18:51] pranavsharma commented on #1079
The 'onnxruntime' python pkg uses CPU as the default execution provider with MLAS enabled. MLAS is a compute library containing processor optimized GEMM kernels and platform specific threading code. You can read more about MLAS [here](https://github.com/microsoft/onnxruntime/tree/master/onnxruntime/core/mlas). We don't support building with MKL; you can either use mklml or mkldnn along with mklml.

[2019-05-22 18:52] GuanLuo commented on #1080
I am using Onnx Runtime 0.4.0 built from source. Now I looked at the `where_op.cc` at branch `rel-0.4.0` and I noticed that the types `int32_t` and `bool` is [commented out](https://github.com/microsoft/onnxruntime/blob/rel-0.4.0/onnxruntime/core/providers/cpu/tensor/where_op.cc#L38), so I suppose that "where" op is implemented in Onnx Runtime but it is limited to certain data types?

[2019-05-22 18:55] faxu commented on #1063
@gwestner94 Does that example notebook help with the pre/post-processing logic to replicate the output in the pytorch version? We've had success with it using the model zoo version wrt accruacy and correctness.

[2019-05-22 19:28] skottmckay commented on #1080
The current implementation does limit the supported types, I believe to try and keep the overall binary size small. Support for int32_t was enabled last week though, so if you pulled the latest master it would be in that.

https://github.com/microsoft/onnxruntime/commit/31cbb5d33de775dae852a4b566e3a82cadcc1c0e#diff-3276925863124d4b46cb2f4e29e49b9f

[2019-05-22 19:52] GuanLuo commented on #1080
I see. I wonder if there is a option / mode that I can enable to build the library with full Onnx support? Right now it seems to be inconvenient as I need to do something similar to 31cbb5d33de775dae852a4b566e3a82cadcc1c0e and to rebuild to support some data types.

[2019-05-22 22:02] dashesy opened #1084 "Exporter to support multidim operators"
**Is your feature request related to a problem? Please describe.**
I used something like `torch.mean(x, dim=(1,2,3))` for reduction.
I get this in the export:

[code]

[multidim operators](https://github.com/pytorch/pytorch/issues/9703) for `mean` and `sum` are available since 1.0, and for `std`/`var` since 1.1

**System information**
- ONNX Runtime version (you are using): 0.4

**Describe the sol

[2019-05-22 22:27] dashesy opened #1086 "Exporter to support aten:std"
**Describe the bug**

Cannot export `torch.std`

[code]

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu16
- ONNX Runtime installed from (source or binary): pip
- ONNX Runtime version: 0.4.0
- Python version: 2

**To Reproduce**
Export a model that uses `torch.std` in normalization

**Expected behavior**
Support `std` operator

**Additional context**

This

[2019-05-22 23:01] dashesy commented on #1086
I guess the issue is really that [ONNX ops]((https://github.com/onnx/onnx/blob/master/docs/Operators.md) does not support `std`! so will have to create issue for ONNX. Fortunately ONNX has `MVN`! so I will try to use that in this case

[2019-05-22 23:09] #1086 closed

[2019-05-22 23:24] dashesy commented on #1084
Added [this issue](https://github.com/onnx/onnx/issues/2045) for ONNX to support `std`/`var`, but still `mean`  with multidim also should be supported

[2019-05-22 23:32] dashesy opened #1087 "A function decorator for PyTorch modules, to export ONNX"
**Is your feature request related to a problem? Please describe.**
I have this `MVN` implementation:

[code]

I cannot export it because [std is not supported in ONNX](https://github.com/onnx/onnx/issues/2045) but ONNX already has [MeanVarianceNormalization](https://github.com/onnx/onnx/blob/master/docs/Operators.md#MeanVarianceNormalization) that I would like to be used with this `nn.Module`.

**

[2019-05-23 00:17] dashesy opened #1088 "Support Flatten ops (and extend its ONNX functionality)"
**Describe the bug**
Implement [ONNX Flatten](https://github.com/onnx/onnx/blob/master/docs/Operators.md#Flatten) to support `torch.flatten`.
Unfortunately ONNX flatten is a little too specialized though

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16
- ONNX Runtime installed from (source or binary): pip
- ONNX Runtime version: 0.4.0
- Python version: 2

[2019-05-23 00:22] dashesy commented on #1088
Also created a feature request [to extend Flatten ops functionality](https://github.com/onnx/onnx/issues/2046) in ONNX

[2019-05-23 00:36] dashesy commented on #1088
For now using `.view` to implement:

[code]

[2019-05-23 02:01] dashesy commented on #915
I had to use `eliminate_unused_initializer`:

[code]

[2019-05-23 02:55] raymondxyang commented on #1016
@cuixing158 Probably @tsu12 can better answer this problem.

Meanwhile, I would like to close the problem since it is followed up by a partner organization. But feel free to keep the discussion ongoing if necessary.

[2019-05-23 02:55] #1016 closed

[2019-05-23 05:31] Jamiroquai88 commented on #1079
Thanks, closed.

[2019-05-23 05:31] #1079 closed

[2019-05-23 07:51] Legorock commented on #1056
[code]
Above is my script. It is supposed to be launched with onnx model as the 1st commad-line argument.
If you replace `onnxruntime` with `caffe2`, it works.
Output:
![onnxrt_broken_2_blur](https://user-images.githubusercontent.com/6500946/58234793-abc90380-7d3f-11e9-8f97-dfd3c3794d59.png)

[2019-05-23 11:53] bitnick10 commented on #897
if onnx using the six core with 12 hyper thread with a RAM frequecy less than 3200(assume E52620 support 2400MHZ) it would be the result that using more thread slower than the "right"(mabye 4 is fastest,depends on your model's input type float32 or float64) core using.it's RAM bottleneck.

[2019-05-23 14:28] adriacabeza commented on #1049
@snnn I am trying to build it by myself and even though I specify cuda,cdnn and tensorrt, whenever it finishes I still get CPU as my device and I do want to use my GPU.

[2019-05-23 15:10] adriacabeza opened #1093 "How to choose execution provider using Python?"
I've seen some documentation about it using C but using Python I have not seen anything in order to choose execution provider; or does Onnxruntime choose the best one in order to get the best performance?

[2019-05-23 15:10] sharpwood opened #1094 "The onnxruntime nuget package can be installed under xamarin forms and run on the android system?"
The onnxruntime nuget package can be installed under xamarin forms and run on the android system?

[2019-05-23 15:35] adriacabeza opened #1095 "Error "trt_engine != nullptr was false" when running inference of ONNX model"
Hey I am trying to run TensorRT inference to my model using onnxruntime but I do get an error whenever I try to run an inference session.

The pipeline of what I am doing is the following:

I convert my tensorflow model to ONNX using tf2onnx:
[code]
And I do get a model.onnx with all the ops mapped.
[code]
Then I take the onnx file and I try to create an inference session and it shows up this erro

[2019-05-23 16:52] bencherian commented on #1087
This seems like something that should be a PyTorch issue relating to its ONNX export functionality.

[2019-05-23 17:32] mrgloom commented on #787
Seem I can print layers like:

[code]

But for some reason input layer is the last.

[2019-05-23 17:33] dashesy commented on #1087
@bencherian opened the issue there. It is related to PyTorch's ONNX exporter

[2019-05-23 17:33] #1087 closed

[2019-05-23 17:33] mrgloom commented on #787
Also how can I edit name `onnx_model.graph.input.pop().name` and save model?

[2019-05-23 17:37] pranavsharma commented on #1094
We've not tested this. Have you? The nuget pkg is essentially a zip file; you should be able to install it if you've space.

[2019-05-23 17:41] pranavsharma commented on #1093
Currently we offer 2 separate packages - one for CPU and one for GPU execution provider. The individual packages compile and link the specific execution provider code in the ORT (onnxruntime) binary. Hence, you can't really choose an execution provider unless you're building ORT with several providers in the same binary. Currently, there is no capability to choose the best one.

[2019-05-23 18:46] yuslepukhin commented on #1095
@adriacabeza Hi, where did you obtain the binary? If you built it yourself, have you enabled TENSORRT support?

[2019-05-23 18:53] yuslepukhin commented on #957
@xadupre The documentation now states that separators are now regex. Therefore, if you want to use one of the regex special characters, they must be escaped. I can add this sentence to the doc. Would that work?

[2019-05-23 22:47] xadupre commented on #957
That should work. I need to confirm. My first try doing that was not successful. I should try again.

[2019-05-23 23:12] sharpwood commented on #1094
I checked the nuget package, there is no arm cpu support library, this project will add arm support?

[2019-05-23 23:32] jignparm commented on #1094
@Sharpwood -- the NuGet package does not contain the arm binaries currently. The latest runtimes are listed below for the latest 0.4.0 version of the package.

One option for a quick workaround is to build the arm binaries from source (**onnxruntime.dll** mainly), , unzip the package, place the dlls into the correct arm-x64 folder, and reconstruct an updated NuGet package which contains the arm dl

[2019-05-23 23:51] sharpwood commented on #1094
Thank you for your quick answer. I will try this method first and look forward to the official support for arm.

[2019-05-24 00:07] #1094 closed

[2019-05-24 01:26] hariharans29 commented on #1088
Hi @dashesy ,

If I understand correctly, you would like ONNX Flatten to have a more generic spec (support `start_dim` and `end_dim`) and have it's corresponding implementation in ONNXRuntime. Is this a correct summary of this issue ?

Thanks!

[2019-05-24 01:28] dashesy commented on #1088
Yes, currently ONNXRuntime does not have Flatten. And Flatten in ONNX is not generic enough either.

[2019-05-24 01:46] hariharans29 commented on #1088
@dashesy - ONNXRuntime doe seem to have Flatten implementation -
https://github.com/microsoft/onnxruntime/blob/11243253f234e6b46d894acf8b112b6530edeafe/onnxruntime/core/providers/cpu/cpu_execution_provider.cc#L103

But it seems like the version support is only till opset 9. Let me fix that.

For the change in spec, it needs to be proposed to ONNX first. I ll propose a change in spec.

[2019-05-24 07:16] prasanthpul commented on #1016
Being discussed here: https://www.mathworks.com/matlabcentral/fileexchange/67296-deep-learning-toolbox-converter-for-onnx-model-format

[2019-05-24 08:04] pranavsharma commented on #1093
Please reopen if the above comment doesn't address your question. Thanks!

[2019-05-24 08:04] #1093 closed

[2019-05-24 19:14] faxu commented on #827
Update: this item is on the backlog and will be investigated in upcoming months.

[2019-05-24 21:07] linkerzhang commented on #1095
the failure is "Network must have at least one output" when building TRT network (graph). @adriacabeza is it possible to share the converted model to repro the issue?

[2019-05-24 21:41] jignparm commented on #980
Closing this out -- assuming no response means all is good. Reopen if required.

[2019-05-24 21:41] #980 closed

[2019-05-24 22:29] joyIntel opened #1108 "Is TVM Working ?"
There is --use_tvm option for building the onnxruntime. However, is it working for ONNX inference now? What is the way to enable it for ONNX apps?

If it is working, what option(-e) needs to be passed to do the ONNXRuntime Performance Test ?

[2019-05-24 22:38] stevenlix commented on #1095
This is where failure happened,
[2019-05-23 15:29:51   ERROR] Parameter check failed at: ../builder/Network.cpp::addInput::432, condition: isValidDims(dims)

Are there dynamic shapes on the inputs?

[2019-05-24 23:18] KeDengMS commented on #1108
https://github.com/microsoft/onnxruntime/pull/881 is our TVM-based execution provider. It is still being actively worked on.

[2019-05-24 23:23] linkerzhang commented on #1095
if there's dynamic shape inputs, then TRT should not return the sub-graph in GetCapability, right? @stevenlix

[2019-05-24 23:35] stevenlix commented on #1095
TRT parser won't check dynamic shape until this PR (https://github.com/microsoft/onnxruntime/pull/1012) checked in. Please try the latest master code, or if possible share the model so that I can take a look.

[2019-05-24 23:35] joyIntel commented on #1108
Thanks @KeDengMS . So it is not ready to use till now. Am I right ?

[2019-05-25 00:17] hariharans29 commented on #1088
Hi @dashesy ,

1) `Flatten` is implemented in the ONNXRuntime. So it should be part of ONNXRuntime 0.4.0. If you specific issues while trying to run an ONNX model with a `Flatten` op, please open a separate issue.

2) Regarding the request for a more generic `Flatten` spec, I ll address this early next week, but let's use the feature request issue in ONNX to track the request. I will close this is

[2019-05-25 00:17] #1088 closed

[2019-05-25 00:55] dashesy commented on #1084
This is about PyTorch ONNX exporter, so closing this here.

[2019-05-25 00:55] #1084 closed

[2019-05-25 06:46] gwestner94 commented on #1063
@linkerzhang  Thank you I will try to apply the logic of the notebook.

@faxu The pytorch model is a bit different especially because the whole nms process isn't included in the graph like in the keras version. So the outputs differ in that no 'Indices' output is given.

I will give an update when I figure out how to apply it.

[2019-05-26 09:38] adriacabeza commented on #1095
I built it from source cloning the repository https://github.com/Microsoft/onnxruntime :
[code]
so as you can see I enabled tensorrt. Also it does have variable dimensions as you can see in the Keras summary of the model with those None :

[code]

[2019-05-27 08:37] adriacabeza commented on #1095
I've tried the latest master version of the repo and it seems that the issue about the variable dimensions is solved, but now I get a segmentation fault (core dumped):

[code]

[2019-05-27 16:45] ahmed-shariff opened #1113 "cannot import name 'RunOptions' when executing in AWS lambda"
**Describe the bug**
I get an error `cannot import name 'RunOptions'` when I am trying to import onnxruntime in an aws lambda function.

Full stack trace:
[code]

**System information**
- OS Platform and Distribution: amazon linux 2018.03
- ONNX Runtime installed from (source or binary): source
- ONNX Runtime version: 0.4.0
- Python version: 3.6

**To Reproduce**
execute the following script in a

[2019-05-28 18:04] faxu commented on #892
@dashesy Is this still a persistent issue with the latest runtime version? If not, please close the issue. If so, let's see how we can help to troubleshoot this.

[2019-05-28 18:07] faxu commented on #897
@longpengcs Hi, is this still an issue you're experiencing?

[2019-05-28 18:07] KeDengMS commented on #1034
@GuanLuo, yes please try spawn a thread to execute OrtCreateSession for different devices. Your inference code should run on the same thread too. Please let me know what do you find.

[2019-05-28 18:18] dashesy commented on #892
This is same issue with 0.4.0 is there a newer version I can try? I shared a small project with you that shows the issue

[2019-05-28 18:43] jignparm commented on #892
The 40-50ms performance gap between Python and C# requires investigation. It looks like there's a delta even without retrieving/iterating over the output results. This should be addressed as part of the quality milestones.

[2019-05-28 18:53] dashesy commented on #892
One thing I noticed is that this gap is almost constant. For an inference that is in the order of 150ms, a 40-60ms gap is more noticeable, but it is always there.

[2019-05-28 19:22] pranavsharma commented on #1113
I can't reproduce this. See below.

[code]

[2019-05-28 20:02] whitmark opened #1118 "OnnxRuntime library in 3rd-party x64 .NET Framework 4.5 application"
I am looking to reference the OnnxRuntime library in my 3rd-party x64 .NET Framework 4.5 application (as I did easily with the [CNTK library](https://docs.microsoft.com/en-us/cognitive-toolkit/cntk-library-evaluation-on-windows))  Is this feasible given the dependencies, and if so which DLLs would I need to include?

[2019-05-28 23:10] GuanLuo opened #1122 "Option/Mode to Build Onnx Runtime with Full Onnx Support"
**Is your feature request related to a problem? Please describe.**
I am using Onnx Runtime library and expecting it to have full Onnx support as it promises. But some data types for some operators are turned off as discussed in #1080. Right now it is inconvenient to ensure that the Onnx Runtime library has all Onnx operators enabled, as I need to do something similar to 31cbb5d and then rebuild to

[2019-05-28 23:12] GuanLuo commented on #1080
Opened a new issue #1122 for the feature requested in followup comment.

[2019-05-28 23:12] #1080 closed

[2019-05-28 23:38] yuslepukhin commented on #1056
@Legorock I hope this addresses the issue. Pls, reopen if you feel that something more is needed.

[2019-05-28 23:38] #1056 closed

[2019-05-29 00:11] lsy323 opened #1123 "C++ Library Linking Question"
Hi all,

I would like to use the C++ API of ONNX Runtime in my C++ program. I successfully built the ONNX Runtime from source code, however, I couldn't find the shared library (.so) in the build directory. Dose someone have the experience of using the C++ API of ONNX Runtime?

Thanks!

[2019-05-29 00:44] jywu-msft commented on #1123
build shared lib option is by default off https://github.com/microsoft/onnxruntime/blob/master/cmake/CMakeLists.txt#L66

if you're using build script (build.sh/build.bat) you can use the --build_shared_lib option
https://github.com/microsoft/onnxruntime/blob/master/tools/ci_build/build.py#L96

[2019-05-29 01:24] jywu-msft commented on #1113
the onnxruntime python whl was built on ubuntu 16.04 (gcc 5.4.0)
it looks like amazon linux dist is closest to rhel/centos 7 which isn't an officially supported due to its default compiler being gcc 4.8
see: https://github.com/microsoft/onnxruntime/blob/master/BUILD.md

you might be able to build from source, but you'll need to use gcc >= 5.0

[2019-05-29 01:31] jywu-msft commented on #1001
onnxruntime was built on ubuntu 16.04 (gcc 5.4.0)

onnxruntime requires gcc >= 5.0
see https://github.com/microsoft/onnxruntime/blob/master/BUILD.md

[2019-05-29 02:12] bitnick10 opened #1126 "Predict slow"
**Describe**
[code]
This takes 0.3s and same model using keras predict only takes 0.01s.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows
- ONNX Runtime installed from (source or binary):nuget
- ONNX Runtime version:0.4
- Python version:
- Visual Studio version (if applicable):15.9.4

[2019-05-29 02:59] bitnick10 commented on #1126
python code:
[code]

[2019-05-29 09:05] skottmckay commented on #856
The log verbosity level was intended to set the VLOG level not the logging severity level. I will look at adding a log severity level to the session and run options, as I think that will provide what you're looking for.

I'll also see if I can expose the default logging severity to the python bindings as well.

[2019-05-29 10:03] qiaodalei opened #1127 "import onnxruntime error"
When I try to import onnxruntime, it return error as below:
ImportError: cannot import name 'RunOptions' from 'onnxruntime.capi._pybind_state'

I checked the cuda, cudnn version and path, it doesn't work. Finally I find it is the problem of VC runtime. Maybe the error massage could be clearer.

[2019-05-29 16:28] lsy323 commented on #1123
Appreciate it, I can generate the shared library now.

[2019-05-29 16:28] #1123 closed

[2019-05-29 16:55] kikoland commented on #791
Same here, we would love to have this as this is something required for cross-platform solutions.  Has someone tried to modify the API code?

[2019-05-29 17:14] lantiga commented on #791
Take a look at the API in master, there’s a new function in the C API that supports this.

[2019-05-29 17:40] kikoland commented on #791
Totally, many thanks!

Here is the signature:
`ORT_API_STATUS(OrtCreateSessionFromArray, _In_ OrtEnv* env, _In_ const void* model_data, size_t model_data_length,
               _In_ const OrtSessionOptions* options, _Out_ OrtSession** out);`

[2019-05-29 17:53] faxu commented on #1122
Hi, are there some common types you've found are needed but not currently supported? We're looking into ways to support types more fully, though it's a balance between minimizing binary size and breadth of support. If there are specific things you've commonly found missing, this will be useful for the assessment.

[2019-05-29 17:57] faxu commented on #1118
There are official Nuget packages published with C# APIs. Details
 here - https://github.com/microsoft/onnxruntime#apis-and-official-builds

Does that work for you?

[2019-05-29 20:16] pranavsharma commented on #1127
What's the full error? What was the problem of VC runtime? Also, take a look at this https://github.com/Microsoft/onnxruntime#system-requirements.

For e.g. in my case when I don't have the required library dependencies, it clearly tells me so.
[code]

[2019-05-29 22:21] jignparm commented on #1118
The NuGet packages are tested on .NET Framework 4.6.1, and .Net Core 2.0.

The latest version NuGet version (0.4.0) contains both the x64 as well as x86 native runtimes.

For native C++ projects, you only need the x64 **onnxruntime.dll** library.

For C# projects, you'll need both the managed AnyCPU **Microsoft.ML.OnnxRuntime.dll**, as well as the appropriate native **onnxruntime.dll** libraries.

[2019-05-30 00:54] GuanLuo commented on #1122
Hi, I haven't encountered actual use cases that required unsupported data types, I was just expanding our application's test cases to cover some custom models and noticed some data types are unsupported.

That being said, our application allows users to provide their own Onnx models which may come with various operators and types. That is why I wish there is a build option to build the library wit

[2019-05-30 02:00] qiaodalei commented on #1127
It's the same problem like #251 when I try to import onnxruntime as ort

UserWarning: Cannot load onnxruntime.capi. Error: 'DLL load failed: The specified module cound not be found.'
  warnings.warn("Cannot load onnxruntime.capi. Error: '{0}'".format(str(e)))
  File "C:\Users\xxxx\AppData\Local\Programs\Python\Python37\lib\site-packages\onnxruntime\__init__.py", line 21, in <module>
    from onnxr

[2019-05-30 03:05] GuanLuo commented on #1034
@KeDengMS Yes! It works if I spawn a new thread to execute OrtCreateSession, the following is what I changed in my code snap. Notice that I didn't run my inference code on the same thread, and everything seems fine. Is that expected? Or there is pitfall for doing that?
[code]

[2019-05-30 03:15] adaber opened #1133 "[ShapeInferenceError] Attribute dilations has incorrect size"
Hey, everyone :)

Not sure if this is a bug or it is something on my end but this is what led to this error.

1) Loaded a CNTK 2.4 .cmf model using the CNTK 2.7 library.
2) Saved the model as ONNX using the CNTK 2.7 library.
3) Used the ONNX C++ example here on GitHub to load the model and it gave me the error: "Load model from ... failed:[ShapeInferenceError] Attribute dilations has incorrect siz

[2019-05-30 05:44] KeDengMS commented on #1126
It is not an apple-to-apple comparison. In your Keras model, the batch size is 16000, while in ORT the batch size is 1, with 16000 iterations.
@wenbingl can you check if the converter is able to generate model with batch dimension? This model has output with symbolic batch dim, but input batch size is 1...

As a workaround, you can manually edit model.onnx to add a symbolic batch dimension. My tes

[2019-05-30 05:51] KeDengMS commented on #1108
You can try [Nuphar branch](https://github.com/microsoft/onnxruntime/tree/gt/Nuphar) before it's merged into master. Here is the [build instructions](https://github.com/microsoft/onnxruntime/blob/gt/Nuphar/BUILD.md#nuphar), and [document](https://github.com/microsoft/onnxruntime/blob/gt/Nuphar/docs/execution_providers/Nuphar-ExecutionProvider.md).

[2019-05-30 06:05] KeDengMS commented on #897
I think it might be related to [NUMA](https://software.intel.com/en-us/articles/optimizing-applications-for-numa). The recommendation is to create one process per NUMA node, so that weights would be placed in the memory for one NUMA node to access. You may set environment variable OMP_NUM_THREADS to control how many cpu cores to run in NUMA machines, and ideally it should be no more than cores in

[2019-05-30 06:07] KeDengMS commented on #1034
Thanks for the confirmation, will work on a fix to it. Your workaround is OK, as long as the inference threads for different GPUs are separated.

[2019-05-30 06:07] hariharans29 commented on #1133
Hi @adaber,

Can you please share your ONNX model from step (2) ?

Thanks

[2019-05-30 06:09] bitnick10 commented on #1126
So it is still the "batch" predict problem that I asked at #853 !

[2019-05-30 06:18] KeDengMS commented on #1126
If the ask is to use C api to edit model to have batch dimension, you could do that too, with ONNX protobuf directly. However that is beyond the scope of ONNXRuntime's C api..

[2019-05-30 06:22] bitnick10 commented on #1126
I want to know how to predict like
 `y_predict=model.predict(x_train,batch_size=len(x_train)` in C or C++

[2019-05-30 06:32] KeDengMS commented on #1126
ONNXRuntime currently do not have that kind of C api, and batch dimension needs to be specified as symbolic instead of fixed size in the onnx model to allow batched predict.

I understand the usefulness of the proposed API, but there are ambiguities if the API is not carefully designed. In the case of 1 input, it's easy to replace 1 at dim0 with symbolic dimension, but we should also consider mode

[2019-05-30 06:39] bitnick10 commented on #1126
@KeDengMS Thanks for your patient answers.

[2019-05-30 06:50] #1126 closed

[2019-05-30 07:22] adaber commented on #1133
No problem, hariharans29

This is just one of my models that doesn't do much and is used for testing purposes only. Hope it helps.

[TestModelCNTK27.zip](https://github.com/microsoft/onnxruntime/files/3235873/TestModelCNTK27.zip)

Thanks

[2019-05-30 08:22] pranavsharma commented on #1113
@ahmed-shariff can this be closed based on the above comment?

[2019-05-30 16:15] GuanLuo commented on #1034
I just realized I wasn't being clear. I mean my inference code is run on the main thread (sessions are created on different threads via async), and the inference code send one request to each session.

[2019-05-30 18:43] lsy323 opened #1134 "Use C++ API in shared library"
Hi all,

I'm trying to using the C++ API (APIs in inference_session.h and model.h). I built the Onnxruntime from source with the flag --build_shared_lib and I got the libonnxruntime.so.

Then I wrote a simple C++ program. It can be compiled, but undefined reference errors were raised during the linking stage.

Code:
[code]

The error during linking is:
[code]

The compiling command is: (Those flag

[2019-05-30 19:15] snnn commented on #1134
We hide it intentionally. We won't export any C++ symbol in a shared library.

Please use the [C API](https://github.com/microsoft/onnxruntime/blob/master/docs/C_API.md) instead.

[2019-05-30 19:15] #1134 closed

[2019-05-30 19:19] #1108 closed

[2019-05-30 19:31] HarryVancao opened #1135 "Handle the case where there is only one core in the machine."
**Describe the bug**
I get a floating exception whenever I run a simple model that is just one convolution layer. I am running an onnx file generated by MATLAB.

I was able to view the stacktrace of the exception with gdb. It seems to crash in a function called MlasSgemmTryMultithread

Since this points to something relating to concurrency, I tried running the same model while setting the session_

[2019-05-30 19:32] hariharans29 commented on #1133
Hi @adaber,

Thanks for sharing the model.

It seems like the model has been incorrectly exported to ONNX. I tried loading the model and I hit the same error message (at load time, not at inference run time)

The root cause seems to be in the batch dimension - it seems to have both the symbolic dimension (for processing a batch of inputs) and also a '1' denoting that it can only process 1 input pe

[2019-05-30 19:37] pranavsharma commented on #1127
Yeah, the system requirements are documented [https://github.com/Microsoft/onnxruntime#system-requirements](here). Glad this resolved your issue.

[2019-05-30 19:37] #1127 closed

[2019-05-30 19:56] adaber commented on #1133
Thank you for looking into this, hariharans29

So, it is a problem on the CNTK exporter's end if I understood correctly ?

If so, I wonder if there is anyone else who has also run across this problem ? I just want to see if there's anything on my end that I can do to resolve this issue.

This is so unfortunate because my input variable is very straightforward and you'd think it should just work. I

[2019-05-30 20:24] hariharans29 commented on #1133
Hi @adaber,

That's correct. I believe this is an exporter mistake (whether due to a bug or an incorrect configuration at export time I don't know yet).

Thanks for opening the issue there - I would also share the model export code just so that they may know if there was something wrong in the export configuration.

Thanks

[2019-05-30 20:24] ahmed-shariff commented on #1113
It still doesn't resolve the issue.

I built onnx from source using gcc72 and cmake-3.14.4 for python3.6 using a docker image of amazonlinux:1
Since the size limit of a function in lambda is 256MB, and the size of `onnxruntime_pybind11_state.so` alone was 263MB, i ran `strip` on it which reduced it's size to 6MB (which was interesting).

I uploaded the function with the onnxruntime and still am ge

[2019-05-30 20:31] hariharans29 commented on #1133
@wenbingl @EmmaNingMS - FYI -> @adaber has a CNTK model that is being loaded in CNTK and then exported to ONNX. The problem is that the exported model has both symbolic dimension (Sequence) and '1' for the batch dimension. So the input dimension becomes [Sequence, 1, 3, 480, 640] instead of [Sequence, 3, 480, 640] or [1, 3, 480, 640].

Is there a quick solution from the converter side to convert t

[2019-05-30 20:38] adaber commented on #1133
hariharans29,

Just uploaded all three models (CNTK 2.4 and CNTK 2.7 "CNTKv2" models and CNTK 2.7 "ONNX" model) there. Hope they get around to look at this issue since the CNTK 2.7 version was their last major release.

Thanks for your help :)

[2019-05-30 21:33] joyIntel commented on #1108
Thanks @KeDengMS

[2019-05-30 22:04] whitmark commented on #1118
@faxu, @jignparm Thank you.  Since OnnxRuntime adheres to the NETStandard 1.1, I am hopeful this will work for CPU inferencing on my 3rd-party x64 .NETFramework 4.5 app that compiles its own C# script and can reference external DLLs, but they must be specified individually.  The script I am using is similar to the one provided in the OnnxRuntime C# API docs, but I cannot get the DLLs to load clean

[2019-05-31 00:29] pranavsharma commented on #1113
Can you run `ldd onnxruntime_pybind11_state.so` and paste the output here? This will show if you're missing any dependent libraries. Having said that we only support building on Ubuntu 16.04 with gcc 5.x. See build instructions here: https://github.com/microsoft/onnxruntime/blob/master/BUILD.md.

[2019-05-31 01:16] GuanLuo opened #1138 "Could not find an implementation for the node Relu(1)"
**Describe the bug**
Failed to load VGG-19 model from Azure AI Gallery ([link](https://gallery.azure.ai/Model/VGG-19)) with the message shown in title

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- ONNX Runtime installed from (source or binary): source
- ONNX Runtime version: 0.4.0
- GCC/Compiler version (if compiling from source): gcc (Ubuntu 5.4

[2019-05-31 01:41] hariharans29 commented on #1138
Hi @GuanLuo,

The VGG-19 seems to be an opset 3 model -

![image](https://user-images.githubusercontent.com/9969784/58675661-28447f00-830a-11e9-9cf2-06fbc123b370.png)

ONNXRuntime supports Opset 7 and onwards only as documented [here](https://github.com/microsoft/onnxruntime/blob/master/docs/Versioning.md)

`ResNet50` and `Inception` models seem to be opset 7 models and hence load fine.

[2019-05-31 01:49] GuanLuo commented on #1138
@hariharans29 Oh I see, thanks for pointing it out. Before closing the issue, do you mind to tell me if there is a way to check the opset for a given model?

[2019-05-31 02:00] hariharans29 commented on #1138
Sure. There are a couple of ways -

1) Use Python APIs documented [here](https://github.com/onnx/onnx/blob/master/docs/PythonAPIOverview.md) and print opset_import from ModelProto like this -

import onnx
onnx_model = onnx.load("model.onnx")
print(onnx_model.opset_import)

2) Use [Netron](https://github.com/lutzroeder/netron) and use the highlighted button -

![image](https://user-images.githubuse

[2019-05-31 02:15] hariharans29 commented on #1138
Closing this for now. Please re-open if there are any other concerns. Thanks.

[2019-05-31 02:15] #1138 closed

[2019-05-31 03:16] pranavsharma commented on #1135
Can't seem to reproduce this. See below.

[code]

[2019-05-31 03:27] HarryVancao commented on #1135
Hi Pranav,

Thanks for investigating. However, that is a bit odd. I can try to investigate a little further on my end. Is there debugging step that I could try? One thing to note is that I am running Debian on a VM. Do you think that this could cause the issue?

Harry

[2019-05-31 05:40] pranavsharma commented on #1135
Something seems to be wrong in your VM. I tried on Debian 9 as well and it works just fine. See below.

[code]

[2019-05-31 05:41] pranavsharma commented on #1135
Closing as per above comment.

[2019-05-31 05:46] pranavsharma commented on #1065
Our CI builds that run these tests run just fine. You're possibly running on a different OS/arch. Please see https://github.com/microsoft/onnxruntime/blob/master/BUILD.md.

[2019-05-31 05:49] snnn commented on #1065
Could you please run 'onnxruntime_test_all' with valgrind?

valgrind ./onnxruntime_test_all

[2019-05-31 09:57] adaber opened #1142 "Load/Inference on GPU (C, C++)"
Hi everyone,

What DLLs (besides GPU onnxruntime.dll ) are required to load and run a model on GPU (Visual Studio 2017, Windows 10) ?

Also, it seems that I would need to include cuda_provider_factory.h in my project and use the OrtSessionOptionsAppendExecutionProvider_CUDA method to add the CUDA execution provider.

Any help would be very appreciated. Thanks!

[2019-05-31 12:50] HarryVancao commented on #1135
Hi Pranav,

Thanks for trying to reproduce again. As per your comment, I created a new VM running Debian 9 and it works now. Once difference that I noticed is that the new VM that I created has multiple CPU cores. Whereas my crashing VM only had one. I am speculating, but I this might be related.

I will let you know if I have more time to investigate the issue. But for now, lets keep this closed

[2019-05-31 12:53] ahmed-shariff commented on #1113
When I run `ldd` in the docker image:
[code]

I also uploaded the onnxruntime with to the lambda function and ran `ldd` through python's `subprocess`. This is what I initially got:
[code]
The default `LD_LIBRARY_PATH` on lambda was:
[code]
Since the `libstdc++.so.6` I packaged with the function is unziped to `/var/task/lib/`, I manually set `LD_LIBRARY_PATH` to:
[code]
After which, when I run `ldd

[2019-05-31 14:12] linkerzhang commented on #1122
Thank you @GuanLuo for the constructive feedback!

Let's do it this way, as you suggested, to firstly come out of the table containing not supported types for each op in ONNX, secondly, add type support drive by demand (as there's no missing common data type list right now, and it's not that good to just add all types). Make sense please?

[2019-05-31 16:41] faxu commented on #1142
Please see: https://github.com/microsoft/onnxruntime#system-requirements
The official GPU builds require the CUDA 9.1 and cuDNN 7.1 runtime libraries being installed in the system.

CUDA binaries are published here: https://www.nuget.org/packages/Microsoft.ML.OnnxRuntime.gpu
If you use this, you do not need to register any execution provider.

To build from source, instructions are here: https://g

[2019-05-31 16:52] HarryVancao commented on #1135
Hi  @pranavsharma

I apologize for the continued comments in this issue. I am convinced that the floating point exception is caused by the VM having only one physical core available to it. I modified my existing VM to have 4 virtual processors (from 1) and inference runs without issue now. However, reverting back to 1 virtual processor restores the exception.

Please let me know if you are able to

[2019-05-31 17:56] snnn commented on #1142
Yes.

[2019-05-31 18:07] jywu-msft commented on #897
followup to @KeDengMS's comment, one can use a combination of setting OMP_NUM_THREADS and numactl to force execution on the cpu cores of a specific NUMA node.
e.g. if a NUMA node has 12 cores,
export OMP_NUM_THREADS=12
numactl --physcpubind=0-11 --membind=0 ./your_application

see https://www.unix.com/man-page/centos/8/numactl/

[2019-05-31 19:04] hariharans29 commented on #1133
Hi @adaber,

Can we close this issue since it's not really actionable on the ONNX Runtime side ? Would it be okay if once you have the correct model exported, and still have issues using ONNX Runtime, we then re-open this issue ?

Thanks!

[2019-05-31 19:51] adaber commented on #1142
Thank you for answering my question, faxu and snnn.

I always try to manually include the necessary header, library and dll files in my C++ projects initially to know exactly what files I need to be able to compile them.

I've already included the ONNXRuntime GPU binaries in my project manually and that's fine.

I am not trying to build ONNXRuntime from source right now and would try to avoid inst

[2019-05-31 20:31] pranavsharma commented on #1135
I am able to reproduce on a 1-core machine. Will follow up with a fix.

[2019-05-31 20:46] adaber commented on #1133
Of course, hariharans29 :)

I will close it now. Thanks again for the help!

[2019-05-31 20:46] #1133 closed

[2019-05-31 23:51] KeDengMS commented on #1034
Thanks @GuanLuo, I found your [workaround](https://github.com/NVIDIA/tensorrt-inference-server/commit/fbbbeefd24ee537b3074bd055444755fd7889b81). Will try my fix with TRTIS later.

[2019-06-01 10:18] torkeldanielsson commented on #1142
Thank you for the OrtSessionOptionsAppendExecutionProvider_CUDA tip! That was what I was missing to get CUDA inference running using the c api.

Dont't you think this info should be included in the "C_API.md" file that is in the zip file for the GPU distributable? I followed those instruction and apart from this everything was really easy to get up and running! Let me know if you want me to make a

[2019-06-01 18:42] adaber commented on #1142
Glad you got it working, torkeldanielsson :)

Also, I'd like to report that I got "GPU model loading and inference" working without installing the whole CUDA 9.1 package. The currently required NVIDIA dlls to run the GPU version of "C_Api_Sample" are cudnn64_7.dll and cudart64_91.dll on my laptop.
I believe I hadn't installed any NVIDIA CUDA package in the past and shouldn't have any other dll fil

[2019-06-02 12:12] mayeut commented on #1113
Probably related to #1001

[2019-06-02 12:29] mayeut commented on #1001
onnxruntime could be built on the manylinux2010 image based on CentOS 6 using gcc-8. This would allow to upload a valid manylinux2010 wheel on PyPI rather than uploading a misleading/non-conforming manylinux1 wheel.
I was able to build at least the CPU version (not tried other flavors) using this image.
c.f. https://github.com/pypa/manylinux

I hacked a bit the CMake files in order to get it to bu

[2019-06-02 18:18] snnn commented on #1142
@torkeldanielsson  That would be great, thank you!

[2019-06-03 00:39] #1142 closed

[2019-06-03 02:57] longpengcs commented on #897
@jywu-msft @KeDengMS My model is very small and the machine has 128G memory, so i think there is a problem of muti-thread Scheduling. When I set the OMP_NUM_THREADS to a small value like 2 or 3, it get a better performance, and using numactl binding the process to one NUMA node can also get some improvement.

[2019-06-03 09:17] wangshankun commented on #1065
sorry，i remove onnxruntime ， replace with onnx-tensorrt.

Test Env:
    Xeon(R) Silver 4110 + Ubuntu16.04 + cuda10 + cudnn7.5 + tensorrt5.15

[2019-06-03 13:02] snnn commented on #1065
How did you build it? Could you uninstall tensorrt before running build.sh ?

[2019-06-03 13:09] wangshankun commented on #1065
**Compile cmd:**
./build.sh --cudnn_home /home/shankun.shankunwan/trt/cudnn-10-v7.5/lib64 --cuda_home /usr/local/cuda-10.0 --use_tensorrt --tensorrt_home /home/shankun.shankunwan/trt/TensorRT-5.1.5.0

**OR：**
./build.sh --config RelWithDebInfo --build_wheel --cuda_home /usr/local/cuda-10.0 --use_tensorrt --tensorrt_home /home/shankun.shankunwan/trt/TensorRT-5.1.5.0  --cudnn_home /usr/local/cuda-10

[2019-06-03 16:45] faxu commented on #1063
@gwestner94 - any update on this? let us know if you need more assistance

[2019-06-03 17:14] stevenlix commented on #1065
Could you add --use_full_protobuf in compile command when you build TRT? If some tests still failed, please attach the whole compile log so that I can see which test failed.

[2019-06-03 17:27] snnn commented on #1113
It says, you are still using the old C++ runtime for gcc 4.x .

[2019-06-03 18:21] MironAtHome commented on #284
Just found your comments. Will review at home tonight what is new in the build ( if anything ) and where I have left the project off when worked on it.
I think I fixed it back than but need to take a look.

[2019-06-03 18:40] GuanLuo commented on #1122
@linkerzhang Sure, and do you mind to point me to the table once it is available? Thanks.

[2019-06-03 18:46] jignparm commented on #1118
@whitmark, using the  [Microsoft.ML.OnnxRuntime](https://www.nuget.org/packages/Microsoft.ML.OnnxRuntime/0.4.0) as an example, if you are compiling a C# project and plan to run on a Windows operating system, you'll require these DLLs from the package.

───microsoft.ml.onnxruntime.0.4.0
    │
    ├───lib
    │   └───netstandard1.1
    │           Microsoft.ML.OnnxRuntime.dll
    ├───runtimes
    │

[2019-06-03 21:07] whitmark commented on #1118
@jignparm, thanks for the follow-up on this atypical use-case.  Yes, precisely . . . since I am not using it as one typically would in a VS project, I am "**looking to deconstruct the package and copy out a minimal set of DLLs to get a project to compile [and run without errors], without depending on the NuGet package**"

To see what packages are included in the OnnxRuntime (and MKLML) I started a

[2019-06-03 21:23] skottmckay commented on #729
Closing as I can't reproduce. Please re-open if this is still an issue.

[2019-06-03 21:23] #729 closed

[2019-06-03 22:24] lsy323 opened #1153 "Run part of the graph"
Hi Ort team,

I'm playing around the ORT and it is a great backend for ONNX models. Here I have a question regarding running part of the network in ORT.

I'd like to know is it possible to run part of the ONNX model?

For example, we network is: input->fc1->fc2->fc3->fc4->output. Is it possible to only run fc2->fc3 in the network? (manually load input for fc2, instead of using the output of fc1)
O

[2019-06-03 22:51] snnn commented on #1153
Thanks for interesting in onnxruntime. I believe this issue is duplicated with #852 .

[2019-06-03 22:51] #1153 closed

[2019-06-03 23:13] jeffsaremi opened #1155 "Enable Debug Prints Though out the Execution"
For those who write convert models to onnx and test them using the runtime, debugging issues in the runtime is very painful. This request is to add features to the runtime whereby one could ask for verbose prints (with different levels) while the model is being executed.

Current runtime version is 0.5.0 and it does not have such feature.

I'd like to have options to run a model and print details

[2019-06-03 23:22] jignparm commented on #1118
Every package (e.g. the **System.Runtime.4.3.0** package you mentioned above) can have specialized DLLs and properties files, for different versions of Windows (e.g. 7, 8, 10), locales (e.g. de, es), framework versions etc.

Inspecting the individual package sub-folders would  error prone.  You should be able to view the correct list of DLLs in the output folder of a sample project. For example, s

[2019-06-03 23:33] snnn commented on #1155
You can control the logging level.
onnx_test_runner.exe is an example.  If you run the with '-v', you will see more logs.

[2019-06-03 23:41] skottmckay commented on #1155
Configuration around running optimizations should be separate from configuration for logging. There is a session option for the optimization level.

There is the notion of a vlog level for the VERBOSE logging level which sounds like it matches better what you're after, however that's different to 'normal' logging with levels such as INFO, WARNING, ERROR.

I would think it's relatively easy to add

[2019-06-04 00:24] pranavsharma commented on #1113
As mentioned before, we don't support this OS/compiler version combination. Please see system requirements.

[2019-06-04 00:24] #1113 closed

[2019-06-04 01:28] lucienwang1009 commented on #729
@skottmckay It works fine now, Thanks!!

[2019-06-04 04:52] lsy323 commented on #1153
Hi snnn,

Thanks for your reply. I've done some experiments by add output to the protobuf object to dump the output of each layer.

However, I wonder is it possible to load input for a specific layer. Like in the example above, we start running the network from the intermediate layer, which needs to load the input for the intermediate layer. (in that case, we only feed the input of fc2 instead of

[2019-06-04 05:44] abczhaoling commented on #265
I come across the same problem. anyone ran into this issue and how to resolve it ?

[2019-06-04 05:47] pranavsharma commented on #1135
@shschaefer mentioned today that he'll be taking care of this as part of his threading related PR.

[2019-06-04 08:34] ahmed-shariff commented on #1113
@snnn yes, it seems so. Still trying to figure out how to load the library before running the lambda function script. Will update here if I found a solution.

[2019-06-04 12:19] whitmark commented on #1118
@jignparm thanks for the additional info.  I did build a release solution in VS 2019 using the sample csharp inferencing code found [HERE](https://github.com/microsoft/onnxruntime/blob/master/csharp/sample/Microsoft.ML.OnnxRuntime.InferenceSample/Program.cs) targeting .NETFramework 4.5 so my list of DLLs is different.

This generated the following files in \bin\release output:
System.Memory.dll
Sy

[2019-06-04 20:20] jignparm commented on #1118
You may need to use **BindingRedirect** and/or **CodeBase** to load up the force loading of specific versions of the strong-named assemblies.

See this [blog post](https://michaelscodingspot.com/how-to-resolve-net-reference-and-nuget-package-version-conflicts/) on how to do this.

[2019-06-04 20:56] faxu commented on #271
https://github.com/microsoft/onnxruntime/blob/master/BUILD.md#android-builds

[2019-06-04 20:56] #271 closed

[2019-06-04 22:30] faxu commented on #441
This will be released in the next official release and is in master.

[2019-06-04 22:30] #441 closed

[2019-06-04 23:32] #1034 closed

[2019-06-04 23:37] KeDengMS commented on #1034
@GuanLuo can you try the fix and see if your issue is solved?

[2019-06-05 02:18] xkszltl opened #1162 "TSAN report for data races"
**Describe the bug**

I'm running TSAN on our application and got a set of data races within onnxruntime functions.
Currently I'm not sure if we somehow provided overlapping data or if it an actual issue of ort.
Do you guys have any idea?
Report attached:

[code]

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7 / Ubuntu 18.04
- ONNX Runtime installed from

[2019-06-05 02:25] GuanLuo commented on #1034
@KeDengMS I tried with my sample code and the issue is resolved! I can deploy models on different GPUs without using threading. However, I am not going to try it on our server code until there is new release version for ONNX Runtime, hope you understand that.

[2019-06-05 07:47] oohlala1204 opened #1164 "[ShapeInferenceError] Mismatch between number of source and target dimensions. Source=1 Target=0"
**Describe the bug**
I am trying to use onnxruntime to load my onnx model.

`import onnxruntime as rt `
`sess = rt.InferenceSession(onnx_path)`

and I get the following error:

`failed:Node:dropout/sub Output:dropout/sub [ShapeInferenceError] Mismatch between number of source and target dimensions. Source=1 Target=0`

It seems that the shape of the tensor "Output:dropout/sub" is wrong.
but when I

[2019-06-05 09:17] skottmckay commented on #1164
The error is from the 'dropout/sub' node but the node you've printed has a name of 'dropout/sub/x'. Is it the same node?

Not sure if you need to run shape inferencing as a separate step to calling onnx.load. https://github.com/onnx/onnx/blob/master/docs/PythonAPIOverview.md#running-shape-inference-on-an-onnx-model

The target having 0 dims would usually indicate it has a shape that is empty. A sh

[2019-06-05 10:25] oohlala1204 opened #1166 "RuntimeError: Unable to handle object of type <class 'float'>"
I am trying to feed data and run the onnx model,  and the code is as follows:
[code]
I print the info of the inputs and outputs, as follow
[code]
An error occurs as follow:
[code]
As the above code shows, I have two inputs, one is "input_x", and the other is "dropout_keep_prob", whose type is float.

Any help would be greatly appreciated.

**System information**
- OS Platform and Distribution (e.g

[2019-06-05 10:53] skottmckay commented on #1166
The type is 'tensor(float)' not 'float'.

Based on the example code on https://microsoft.github.io/onnxruntime/ I believe you need to pass in the float value in a numpy array for it to be converted to a tensor.

e.g.
batch_predictions = sess.run([output_name], {input_name: x_test_batch, input_name2: numpy.array((1.0)).astype(numpy.float32)})

[2019-06-05 11:13] oohlala1204 commented on #1166
Thank you so much. My problem is solved!

[2019-06-05 15:31] #1166 closed

[2019-06-05 18:42] KeDengMS commented on #1034
Awesome, thanks for the confirmation.

[2019-06-05 19:07] hariharans29 commented on #1164
Hi @oohlala1204,

Along with @scottmckay's suggestions, I would:

1) Validate if your model is a valid onnx model first: https://github.com/onnx/onnx/blob/master/docs/PythonAPIOverview.md#checking-an-onnx-model

2) Make sure the input tensor you are feeding is of the right shape corresponding to the expected input shape for the input

3) Paste the entire code snippet that you are using to invoke O

[2019-06-05 23:11] christian-vorhemus opened #1170 "pip install fails on Windows?"
**Describe the bug**
I created a new VM on Azure (Windows 10 Pro N v1803) and installed the newest Python version (currently 3.7.3). When I try to install onnxruntime over pip, I get `Could not find a version that satisfies the requirement onnxruntime`. Is there really no supported wheel for this configuration?

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Wind

[2019-06-06 03:28] vsooda opened #1173 "float 16 inference support"
**Is your feature request related to a problem? Please describe.**
I try to use c-api as this [demo](https://github.com/microsoft/onnxruntime/blob/master/csharp/test/Microsoft.ML.OnnxRuntime.EndToEndTests.Capi/C_Api_Sample.cpp), it is ok. but when I try to quantize squeeze.onnx to float 16, and then inference again, it report:

[code]

I use the follow script to convert float32 model to float16:

[2019-06-06 04:57] snnn commented on #1153
Sorry, I'm not aware of any existing tool for your requirement.
For me, it's not an issue as I always got the model from a converter, or another framework. I usually modify the graph at the source(e.g. Tensorflow), For example, If you need input/output of the intermediate level, the tf2onnx converter can do this for you.  I would treat onnx model as compiled binary, usually people want to read or

[2019-06-06 06:03] snnn commented on #1153
See: https://github.com/onnx/onnx/issues/2078

[2019-06-06 08:47] oohlala1204 opened #1174 "Error when loading with C#: An unhandled exception of type 'System.AccessViolationException' occurred in Microsoft.ML.OnnxRuntime.dll"
I have loaded and run my model with python API, and it works, but when I try to load the onnx model with C#, an error occurs.
I just use the code in the sample:

[code]

An error occurs:
[code]
The Call Stack is as follows:
![image](https://user-images.githubusercontent.com/32919349/59019234-3fd7b680-887a-11e9-8c15-97d188fb9091.png)

Any help would be appreciated!

**System information**
- OS Plat

[2019-06-06 08:51] oohlala1204 commented on #1164
Thank you all! I regenerate the model using tf2onnx, and the error doesn't occur.

[2019-06-06 08:51] #1164 closed

[2019-06-06 09:22] christian-vorhemus commented on #1170
Got it working, apparently admin rights are necessary for the install.

[2019-06-06 09:22] #1170 closed

[2019-06-06 11:34] #1174 closed

[2019-06-06 14:10] ArekMC opened #1175 "error: unknown type name '_Frees_ptr_opt_'"
**Describe the bug**
I am trying to include onnxruntime into a c-application for win 10. For that I use the precompiled binaries [here](https://github.com/Microsoft/onnxruntime/releases/tag/v0.4.0). Compiling of my program stops with `error: unknown type name '_Frees_ptr_opt_'`. Google can't help.
I added my gcc command below. Did I miss sth? Thanks in advance.

[code]

**System information**
- Wi

[2019-06-06 16:03] jim-meyer opened #1176 "Need to be able to explain predictions from ONNX models (aka need Shapley values from onnxruntime)"
**Is your feature request related to a problem? Please describe.**
Many ML frameworks supported by ONNX provide [Shapley values](https://en.wikipedia.org/wiki/Shapley_value) . These values are import for explaining a model's predictions.
LightGBM optionally provides them if the [predict()](https://github.com/microsoft/LightGBM/blob/master/python-package/lightgbm/basic.py#L2288-L2324) function's pr

[2019-06-06 16:10] ahmed-shariff commented on #1113
So I did find a solution.
I had to load the `libstdc++.so.6` file I bundle with the function/layer needs to be manually loaded using `ctypes.cdll.LoadLibrary` before importing onnxruntime.

Example function:
[code]

[2019-06-06 16:57] clin99 opened #1177 "Question about ParallelFor"
Hi, just out of curiosity, I have a question about the [ParallelFor](https://github.com/microsoft/onnxruntime/blob/1a86421affa7a3cd677931a5b8e88cf81e9ee086/onnxruntime/core/common/threadpool.cc#L78). The `ParallelFor` function uses a `Barrier` to wait for  task completion. I was thinking the `Barrier` can be simply replaced by a `promise` and an `atomic variable` like this:

[code]
To me this is m

[2019-06-06 16:59] lsy323 commented on #1153
Hi @snnn,

Thanks for the reply. I'm modifying the model structure using ONNX API to achieve that.

[2019-06-06 18:31] lara-hdr opened #1179 "Upsample not matching numbers in linear mode"
**Describe the bug**

Numbers are not matching with Upsample in "linear" mode ("nearest" mode works fine) in opset_version 9 (and might have the same issue with Resize for opset_version 10).

I have a simple ONNX graph with a single upsample node.

The input has a size of (1, 1, 2, 2):
input = [[[[1, 2], [3, 4]]]]

The scale is:
scale = [1, 1, 2, 2]

The mode is "linear".

the expected output is:

[2019-06-06 18:38] hossein1387 opened #1180 "android deployment"
**Is your feature request related to a problem? Please describe.**
I was able to cross compile onnxruntime for android using  steps provided in [https://github.com/microsoft/onnxruntime/labels/enhancement](BUILD.MD) I have also read #271. However I am still lost on how to use it. The following is the steps I took to cross compile for android:

1- `git clone --recursive https://github.com/Microsoft

[2019-06-06 18:58] lara-hdr commented on #1179
[model.zip](https://github.com/microsoft/onnxruntime/files/3263062/model.zip)

[2019-06-06 19:00] pranavsharma commented on #1175
Let me try and get back to you.

[2019-06-06 19:09] pranavsharma commented on #1180
@daquexian can you please address this? thanks!

[2019-06-06 19:59] snnn commented on #1177
How could you implement future.wait(); without using mutex and condition variable(or similar things)?

[2019-06-06 20:01] snnn commented on #1175
_Frees_ptr_opt_ is Windows specific things, You shouldn't see it on Linux.

[2019-06-06 20:07] snnn commented on #1175
Oh, I get it.

We do never tested the code with MinGW, and we don't have any plan in the near future to support it.
We do support WSL.

I can send a PR to fix this, would you help me test it? (you need to compile  onnxruntime from source code).

[2019-06-06 20:09] hariharans29 commented on #1179
Hi @lara-hdr ,

1) The input test data provided by you above seems to be the exact same as the `upsample_linear` test
    here - https://github.com/onnx/onnx/blob/rel-1.5.0/docs/Operators.md#Resize. The expected output
    there doesn't match your `expected_output`. Seems like there is a gap in expectation.

2) I ran separate unit tests for `Upsample (9)` and `Resize (10)` and they both aligned wi

[2019-06-06 20:09] #1179 closed

[2019-06-06 20:26] clin99 commented on #1177
Thanks for the answering!  Yes, I agree `future` should internally use something similar to the `mutex` and `condition_variable` for thread communication. But condition variable is more complicated as it allows you to notify others multiple times and this seems unnecessary in the `ParallelFor`. So I was wondering will this cause any performance difference?

[2019-06-06 20:44] snnn commented on #1177
if `future` is implemented upon `condition variable`, why do you think `condition variable` is more complex than `future`?

[2019-06-06 21:08] clin99 commented on #1177
Hi @snnn , If `future` is implemented upon `condition variable`, then the `Barrier` is a good solution to me. I will close this issue.  Thanks for your answering!

[2019-06-06 21:08] #1177 closed

[2019-06-06 22:20] faxu commented on #831
https://github.com/onnx/models/issues/156

[2019-06-06 22:28] faxu commented on #1039
@elevir: do you have the CNTK-exported (or other) ONNX model you are referring to? Having a concrete example will help us advise on this.

CC: @liqunfu

[2019-06-06 23:44] jignparm commented on #1118
Closing this issue for now. Please re-open if needed.

[2019-06-06 23:44] #1118 closed

[2019-06-07 05:59] elevir commented on #1039
@faxu it can be any model with shape independent layers. For example, a model which has just one convolutional layer. There is example of how can I solve the problem in CNTK:
[code]
And the input/output shape inference:
![image](https://user-images.githubusercontent.com/8929511/59083793-6b51b400-8901-11e9-91d0-a604a10d1592.png)
Also there is the [model](https://github.com/microsoft/onnxruntime/fil

[2019-06-07 07:47] ArcticTee commented on #1175
I got this error as well.

If you include `#define _Frees_ptr_opt_` in the `main.cpp` file you can compile it but you can not run anything.

[2019-06-07 08:35] snnn commented on #1175
I tried to fix it, but it's not easy.  older version gcc (like 5.4) doesn't support calling conversion for lambda expressions.  It's a problem for 32 bits program and gcc.

[2019-06-07 08:43] snnn commented on #1175
Hi @faxu, this is a new feature request. @ArekMC is asking for  MinGW and gcc support on Windows for the C API.  Currently, we are assume the only compiler we support on Windows is the Visual Studio 2017.  see: https://github.com/microsoft/onnxruntime/blob/master/BUILD.md#supported-dev-environments .
 And MinGW  was never in my mind.

[2019-06-07 12:00] viharigandrakota opened #1187 "onnxruntime with Openvino build error."
I am trying to build onnxruntime with openvino on Windows10. I am using openvino 2019 R1 version and I have cloned the main Repo.
In the process of building I find a lot of errors in the following projects:
1. onnxruntime_providers_openvino
2. onnxruntime_graph
3. onnx_test_runner
4. onnxruntime_test_all

I am using visual studio 2017.

Severity	Code	Description	Project	File	Line	Suppression State

[2019-06-07 17:16] yuslepukhin commented on #1095
@adriacabeza could you share the binary model and its inputs, please? That would save some time. Thanks!

[2019-06-07 17:25] snnn commented on #1187
Are you talking #935 ?

[2019-06-07 17:31] jywu-msft commented on #1187
that PR is for linux. windows is not yet supported.

[2019-06-07 17:33] jywu-msft commented on #1187
FYI @smkarlap , @suryasidd

[2019-06-07 18:13] yuslepukhin commented on #957
@xadupre have had a chance to try escaping those characters?

[2019-06-07 18:51] pranavsharma commented on #1175
We've no plans to provide official support for MinGW at this time. We do encourage contributions, however, please note that since we won't be supporting it officially, it is subject to break in the future.

[2019-06-07 18:52] pranavsharma commented on #1175
Closing this as per previous comment.

[2019-06-07 18:52] #1175 closed

[2019-06-08 17:01] adriacabeza commented on #1095
Of course. Can you provide any email?

[2019-06-10 04:55] viharigandrakota commented on #1187
Thanks for the reply.

[2019-06-10 17:32] yuslepukhin commented on #1095
@adriacabeza would not attaching it here to the issue work?

[2019-06-11 07:46] luvclear opened #1203 "Test failed when building wheel"
I met a problem when running  ./build.sh --config RelWithDebInfo --build_wheel
result:
3:      Models: 35
3:      Total test cases: 35
3:              Succeeded: 24
3:              Not implemented: 0
3:              Failed: 11
3:                      Other reason:11
3:      Stats by Operator type:
3:              Not implemented(0):
3:              Failed:
3: Failed Test Cases:
3/3 Test #3: onnx_t

[2019-06-11 14:10] petrsm opened #1204 "Weird results for evaluation of squeezenet in C_Api_Sample.cpp"
I am integrating ONNX runtime to C++ application. I have latest version, build from sources, OS is Windows 10, evaluation is on CPU. I followed exactly usage of C-API as defined in C_Api_Sample.cpp (code is basically the same).

When I feed 'test pattern' instead of real image to model, I get expected results as stated
in example source code:

 // Results should be as below...
  // Score for class

[2019-06-11 16:48] faxu commented on #1204
Hi, what model are you using and have you done all the appropriate preprocessing on the image to ensure the inputs are correct? ONNX Runtime is production ready and already powers many high-volume, high-scale production scenarios for Microsoft products and services.

[2019-06-11 17:10] jywu-msft commented on #1203
is the test failing consistently or it's an intermittent failure?
to disable running tests when building the wheel, use the following build command

./build.sh --config RelWithDebInfo --build_wheel --update --build

[2019-06-11 17:13] jywu-msft commented on #1187
I'm going to close this for now. CMakeLists.txt was updated to throw error if you try to build on Windows.
ORT + OpenVINO on Windows will be supported in the future.

[2019-06-11 17:13] #1187 closed

[2019-06-11 17:24] stevenlix commented on #1065
Is the issue still there? I am going to close this. Please feel free to reopen it if necessary

[2019-06-11 17:24] #1065 closed

[2019-06-11 18:25] petrsm commented on #1204
I am using squeezenet 1.3 and I am normalizing the inputs with appropriate mean and std-dev.
However the results are very similar even if I don't do any normalization.

[2019-06-11 18:37] snnn commented on #1204
Hi, I have an alternative. I'm creating another demo for inception model on imagenet dataset. And the demo code uses the C API. I have checked the result, it's correct. If you are interested, you could use this new model.
The C API and runtime itself is good, if the result was wrong, mostly likely it's because of the model or preprocessing.

[2019-06-11 19:04] petrsm commented on #1204
I'll be happy if I can take a look into this new demo, once it is available !

[2019-06-11 19:26] hariharans29 commented on #1204
Hi @petrsm,

I downloaded a sample image from the ONNX.JS squeezenet demo (the 'Granny Smith' apple) and ran a simple python script to check if the result label looked okay and it was fine. (I did this for 0.4.0 release and current master)

This is my python script -

import onnxruntime as rt
import numpy as np
from PIL import Image

def preprocess(img_path):
    img = Image.open(img_path)
    img

[2019-06-11 20:01] #876 closed

[2019-06-11 20:41] petrsm commented on #1204
I guess there must be something wrong in my code, question is what :)

I created simple repro by modifying C_API_sample.cpp. Entire solution with data can be
downloaded from here:

https://drive.google.com/file/d/1EBYkoXMGjwRJSy9p7XJNpQ43nP9qMpxs/view?usp=sharing

As stated before, when feeding test pattern, all is OK. When feeding cheetah image, it is classified as 669 - 'mosquito net'. I tried v

[2019-06-11 21:00] hariharans29 commented on #1204
Hi @petrsm,

I see several things that can be tried -

1) For now we can skip the mean subtraction and standard_deviation division (as the python code that works didn't require that)

2) We can skip the division by 255 for each pixel (as the python code that works works with values in the range 0-255) (i.e.) un-normalized

3) I **think** the correct format is NCHW (and not NCWH as you mention as "

[2019-06-11 21:25] petrsm commented on #1204
You hit the nail on the head !
After removing normalization to <0, 1> range (and also mean/std dev) everything works fine.

I blindly followed advice from here :

https://github.com/onnx/models/tree/master/models/image_classification/squeezenet

"Preprocessing
The images have to be loaded in to a range of [0, 1] and then normalized using mean = [0.485, 0.456, 0.406] and std = [0.229, 0.224, 0.225]

[2019-06-11 22:01] hariharans29 commented on #1204
Glad you could get it working!

Closing this issue.

[2019-06-11 22:01] #1204 closed

[2019-06-11 22:20] jywu-msft commented on #897
closing as it sounds like OP's issue has been resolved.

[2019-06-11 22:20] #897 closed

[2019-06-11 23:07] faxu commented on #852
@hcsearch does this answer your question? if so, please close this issue, thanks!

[2019-06-11 23:12] #1063 closed

[2019-06-12 00:43] luvclear commented on #1203
the test failed intermittently
i tried to disable the test using that command and build complete
but whether it would work well if i disable the test?

[2019-06-12 01:02] skottmckay commented on #856
You can now change the default logging severity, and this is exposed via the python bindings. This will be used for inference sessions created after the call though - existing session will not have their severity updated.

Additionally the log severity for the inference session can be set in SessionOptions via the new session_log_severity_level option, and the log severity for an individual call t

[2019-06-12 01:02] #856 closed

[2019-06-12 01:04] skottmckay commented on #1203
It should work.

Which test in onnxruntime_test_all fails and why? You'd have to scroll back up in the test output to find the information.

[2019-06-12 01:19] pranavsharma commented on #1180
@hossein1387 the current support for Android is not complete in the sense that onnxruntime only cross-compiles, but doesn't produce an artifact that can be used on android machines. This issue https://github.com/microsoft/onnxruntime/issues/919 is tracking full support for Android. Please follow that issue.

[2019-06-12 01:19] pranavsharma commented on #1180
Closing as per previous comment.

[2019-06-12 01:19] #1180 closed

[2019-06-12 01:26] luvclear commented on #1203
[  FAILED  ] 1 test, listed below:
1: [  FAILED  ] ContribOpTest.StringNormalizerTest
1:
1:  1 FAILED TEST
1/4 Test #1: onnxruntime_test_all .............***Failed   15.28 sec
...
  Models: 80
2:      Total test cases: 80
2:              Succeeded: 57
2:              Not implemented: 0
2:              Failed: 23
2:                      Other reason:23
2:      Stats by Operator type:
2:

[2019-06-12 01:28] daquexian commented on #1180
@hossein1387 @pranavsharma Sorry for the late reply. onnxruntime can compile for Android and a c++ library and also binary files of tests will be produced. The binary files can be executed in adb shell. However, it needs some extra code like jni (Java Native Interface) to make onnxruntime library usable directly in an Android app.

[2019-06-12 01:31] jywu-msft commented on #1203
I believe that test fails due to missing locale on your system.

From the System Requirements section in https://github.com/microsoft/onnxruntime/blob/master/README.md

Certain operators makes use of system locales. At the very least you will need to install English language package and configure en_US.UTF-8 locale.
For Ubuntu install language-pack-en package
Run the following commands:
locale-gen

[2019-06-12 01:37] luvclear commented on #1203
ok i'll try ,thanks

[2019-06-12 01:42] hossein1387 commented on #1180
Hi @daquexian, @pranavsharma thanks for your reply. As I said I am confused on what is the output of the build? When I compiled onnxruntime for Android, I did not find any .whl being generated (which is not a surprise to me).

[2019-06-12 01:49] daquexian commented on #1180
@hossein1387 We don't expect python installed on Android devices. The output is static libraries like libonnxruntime_common.a and libonnxruntime_session.a, and also binaries of tests, like onnxruntime_test_all. These binaries (like onnxruntime_test_all) can be executed in adb shell after pushing it to the device.

To deploy onnxruntime in an Android app, an Android package (.aar) may be what you w

[2019-06-12 01:50] pranavsharma commented on #1173
Here's a unit test that demonstrates conversion of float32 input to float16 - https://github.com/microsoft/onnxruntime/blob/2663b9c44381b30525ae6234e13ed25c69206d07/onnxruntime/test/framework/float_16_test.cc#L161. Let us know if this doesn't work for you.

[2019-06-12 01:51] hossein1387 commented on #1180
@daquexian Thanks a lot for clarification.

[2019-06-12 02:38] pranavsharma commented on #791
This API is already supported in the master branch.

[2019-06-12 02:38] #791 closed

[2019-06-12 03:53] vsooda commented on #1173
@pranavsharma thank you. it works

[2019-06-12 03:53] #1173 closed

[2019-06-12 12:27] vsooda opened #1212 "[TypeInferenceError] Graph attribute inferencing failed"
**Describe the bug**
I use c api to load [tacotron](https://github.com/keithito/tacotron/blob/master/models/tacotron.py) model witch I had converted to onnx fp format. It report error:

[code]

What is `Node:generic_loop_Loop__97`,  how can I debug.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS
- ONNX Runtime installed from (source or binary): binary
- ON

[2019-06-12 17:03] letmaik opened #1213 "perftest: set parallel executor and thread pool size separately"
In perftest, currently, there's only `-x <pool_size>` which activates both parallel execution plan and sets the session thread pool size. It would be good for benchmarking to be able to set these things separately. I suggest changing `-x <pool_size>` to only set the pool size (and mentioning that the default is the hw thread count) and add another flag `-P` (or whatever you like) that only enables

[2019-06-12 17:35] snnn commented on #1213
Welcome to change it

[2019-06-12 17:41] SidGATOR opened #1214 "Build fails, complains ceil is not a member of std"
**Describe the bug**
Building onnxruntime from source fails for gcc-5.5 for c++11 standard. While building, cmake errors out on onnxruntime/onnxruntime/core/provider/cpu/tensor/upsample.cc on line 82, with error ceil is not a member of std.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04) :Ubuntu 18.04.2 LTS
- ONNX Runtime installed from (source or binary): source

[2019-06-12 17:43] SidGATOR commented on #1214
Issue can be fixed by adding #include <cmath>. I added on my pulled master branch and it worked for me

[2019-06-12 17:47] SidGATOR opened #1215 "Build fails, complains __builtin_isnan is not a member of std"
**Describe the bug**
Building onnxruntime from source fails for gcc-5.5 for c++11 standard. While building, cmake errors out on onnxruntime/onnxruntime/test/framework/data_type_test.cc on line 363, with error __builtin_isnan is not a member of std.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04) :Ubuntu 18.04.2 LTS
- ONNX Runtime installed from (source or binary):

[2019-06-12 17:47] SidGATOR commented on #1215
Issue can be fixed by added `#include <cmath>`

[2019-06-12 18:44] pranavsharma commented on #1212
Can you attach decoder.onnx? generic_loop_Loop__97 is the name of a node in the graph and it looks like there's a type mismatch. 10 = float16 and 1 = float32.

[2019-06-13 00:55] linkerzhang commented on #1039
a little bit confused.

@elevir I am assuming that you can use any of our API (python/C/C++) to run your onnx model if any. here's a CAPI sample code. https://github.com/microsoft/onnxruntime/blob/master/csharp/test/Microsoft.ML.OnnxRuntime.EndToEndTests.Capi/C_Api_Sample.cpp

[2019-06-13 00:59] skottmckay commented on #1214
Fix is merged.

[2019-06-13 00:59] #1214 closed

[2019-06-13 00:59] skottmckay commented on #1215
Fix is merged.

[2019-06-13 00:59] #1215 closed

[2019-06-13 05:32] elevir commented on #1039
@linkerzhang I've already seen these examples, but the question is not how to use onnxruntime to evaluate pretrained model, but how to evaluate a model, for example, for images with shape 20x20 and 640x480 without modifying this model in any external framework. Examples show how to evaluate model with known and fixed input variable shape, if I understood correctly.

[2019-06-13 08:27] pranavsharma commented on #1039
@elevir  you should be able to construct the input of any shape you desire. Have you tried it?

[2019-06-13 08:49] elevir commented on #1039
@pranavsharma that is what I needed! Thanks!

[2019-06-13 08:49] #1039 closed

[2019-06-13 15:35] izeigerman commented on #1001
I second this. @mayeut thank you so much for sharing your snippet. Right now we have to maintain our own `onnxruntime` build in order to use it on CentOS 7 systems. The CentOS 7 and its RedaHat counterpart are highly adopted OS in enterprise environments and to have `onnxruntime` support out of the box would be just great. Especially if it's not too hard to achieve. Are there any plans to fix this

[2019-06-13 19:58] lara-hdr opened #1224 "Maxpool unexpected shape with dilation>1"
The output of Maxpool has a dimension of 0 for some corner cases with dilation > 1.
Is that expected?

Repro:
  Maxpool1d(kernel_size=3, stride=2, padding=0, dilation=2)
  input=torch.randn(1,1,4)

  expected shape (pytorch): {1, 1, 1}
  ONNXRuntime shape: {1, 1, 0}

The corresponding ONNX model is attached.

[test_max_pool.zip](https://github.com/microsoft/onnxruntime/files/3287883/test_max_pool.

[2019-06-13 20:56] faxu commented on #1203
@luvclear were you able to resolve this?

[2019-06-13 21:56] jignparm commented on #1224
@lara-hdr - how are you computing the output size?

For **maxpool1d**, the expected output size formula is here -> https://pytorch.org/docs/stable/nn.html

The variables for the tensor size, kernel etc. above are **i=4 ,k=3 d=2, s=2, p=0**
[code]

[2019-06-14 02:40] vsooda commented on #1212
@pranavsharma  thank you. I'm checking model convert tools.

[2019-06-14 08:14] flak1990 opened #1228 "How to limit the cpu_num to 1?"
**Describe the bug**
i converted a tensorflow-1.7 model to onnx model, and wish to run it with only 1 cpu core.
but the onnxruntime.SessionOptions() seems does not make effect. How can i control the cpu core nums like we do in tensorflow?

**System information**
- OS Platform and Distribution: CentOS Linux release 7.5.1804 (Core)
- ONNX Runtime installed from : binary
- ONNX Runtime version: 0.4.0

[2019-06-14 10:48] antonfr opened #1229 "Problem with loading converted onnx model"
**Describe the bug**
I have converted to onnx ssdlite_mobilenet_v2_coco model from tensorflow detection model zoo (could be found [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md)). Now I'm trying to load the model using ML.NET and get an error

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.1

[2019-06-14 14:00] tsocha opened #1230 "MeanVarianceNormalization operator test uses undocumented attributes in ONNX."
In [ONNX documentation of MeanVarianceNormalization](https://github.com/onnx/onnx/blob/master/docs/Operators.md#MeanVarianceNormalization) there should be only an `axes` attribute.

But [this test](https://github.com/microsoft/onnxruntime/blob/master/onnxruntime/test/providers/cpu/tensor/tensor_op_test.cc#L500-L519) in testsuite uses attributes which are undocumented in ONNX standard.
`across_chan

[2019-06-14 18:49] hariharans29 commented on #1230
Hi @tsocha,

The test you are referring to tested the opset 7 version of the operator -

https://github.com/microsoft/onnxruntime/blob/2148827d3a82916da45a24a99a52996ed56772c5/onnxruntime/test/providers/cpu/tensor/tensor_op_test.cc#L499

The opset 7 version (corresponding to ONNX release 1.2) of the operator is documented here -

https://github.com/onnx/onnx/blob/rel-1.2.3/docs/Operators.md#MeanVa

[2019-06-14 19:38] hariharans29 commented on #1230
Closing this for now. Please re-open in case you need more clarifications.

[2019-06-14 19:38] #1230 closed

[2019-06-15 09:48] flak1990 commented on #1228
i've already tried to set the OMP_NUM_THREADS to 1, or/and set SessionOptions.enable_sequential_execution to True, but it still has no effect. (The default value of sessionOptions.enable_sequential_execution is True)
Perhaps it really needs to enhance...

[2019-06-15 09:52] meynety opened #1232 "ARM build fail both on cross and native compile (requested alignment 128 is larger than 64)"
**Describe the bug**
Following instructions in [Build ONNX Runtime](https://github.com/microsoft/onnxruntime/blob/master/BUILD.md), build fails using both the cross compiling with Docker method [(Cross compiling with Docker)](https://github.com/microsoft/onnxruntime/blob/master/BUILD.md#cross-compiling-for-arm-with-docker-linuxwindows---faster-recommended) and with the native compiling on the devi

[2019-06-17 06:08] #852 closed

[2019-06-17 06:17] colinback opened #1234 "Scan Op support"
**Is your feature request related to a problem? Please describe.**
I have a simple RNN ONNX model generated using tf2onnx (https://github.com/onnx/tensorflow-onnx/).

When I try onnxruntime, it seems does not support Scan Operator.
[code]

**System information**
- ONNX Runtime version (you are using): 0.4.0

**Describe the solution you'd like**
I expect that I can get inference result using onnxru

[2019-06-17 06:49] colinback commented on #1234
Hi, sorry I fix it. It's because tensorflow-onnx set opset 7 as default. When I set opset 8 during call `process_tf_graph`, the problem is gone.

[2019-06-17 06:49] #1234 closed

[2019-06-17 06:50] tsocha commented on #1230
Thanks for your reply.

I suspected that test was prepared for old MeanVarianceNormalization but I didn't found it in [Operator Changelog](https://github.com/onnx/onnx/blob/master/docs/Changelog.md) and that is a reason why I asked about this test.

[2019-06-17 17:41] #1213 closed

[2019-06-17 17:41] snnn commented on #1213
Thanks!

[2019-06-17 18:34] pranavsharma commented on #1232
At this point we don't ship any pre-built ARM binaries.

[2019-06-17 18:38] pranavsharma commented on #1229
Based on this error - Graph input with name i__19 is not associated with a node. - it looks like the converted model doesn't have any input by the name 'i__19'. You should take a look at the inputs in the onnx graph and use them for inference. Can you upload the converted onnx model here?

[2019-06-17 20:40] RandySheriffH commented on #827
Python 3.7, Scikit 0.19, Onnx 1.5, OnnxRuntime 0.4
Tested GradientBoostingRegressor model with 100 features:
////////////////////////////////////////////////////////////////////////////
25000 scikit batch prediction for 259659 microsecond
25000 onnxruntime batch prediction for 20366 microsecond
////////////////////////////////////////////////////////////////////////////

[2019-06-17 20:45] RandySheriffH commented on #827
Trained model by:
/////////////////////////////////////////////////////////////////
X = np.random.rand(1000,100)
y = np.random.rand(1000,)
clf = ensemble.GradientBoostingRegressor(**params)
clf.fit(X_train, y_train)
////////////////////////////////////////////////////////////
Any pointers?

[2019-06-18 01:34] hariharans29 commented on #1229
Just curious @antonfr - did you try an inferencing run ?

From the below, I see a bunch of warnings (not errors), so I wonder if the model actually loaded correctly.

`Additional context
With OnnxRuntime 0.4.0 I got
2019-06-12 14:32:53.802528 [W:onnxruntime:InferenceSession, session_state_initializer.cc:502 SaveInputOutputNamesToNodeMapping] Graph input with name i__19 is not associated with a nod

[2019-06-18 01:34] xprotobeast2 opened #1246 "Fallback to CPU execution provider for Op type: Unsqueeze"
Hi, I am trying to load [this](https://contentmamluswest001.blob.core.windows.net/content/14b2744cf8d6418c87ffddc3f3127242/9502630827244d60a1214f250e3bbca7/08aed7327d694b8dbaee2c97b8d0fcba/densenet121-1.2.onnx) model with this modified config.pbtxt

[code]

I am getting the following message many times over
[code]
This was not happening when i was using the 0.4.0 release version. I updated to the

[2019-06-18 02:04] pranavsharma commented on #1246
Did you try inferring the model? These are just warnings.

[2019-06-18 07:01] antonfr commented on #1229
@pranavsharma here is my model
[ssd_mobilenet.onnx.zip](https://github.com/microsoft/onnxruntime/files/3300163/ssd_mobilenet.onnx.zip)
@hariharans29 I opened the same issue in [tensorflow-onnx repository](https://github.com/onnx/tensorflow-onnx/issues/591), @guschmue writes, that he successfully converted ssd mobilenet model, and he provided link to his repository, nevertheless, I had the same pro

[2019-06-18 18:58] hariharans29 commented on #1229
Hi @antonfr,

Thanks for sharing the model. I think the model loads fine. I hit issues while performing the inference run. Here are some noteworthy points -

1) The model seems to have symbolic dimensions-

![image](https://user-images.githubusercontent.com/9969784/59711518-1c890180-91c0-11e9-9ae5-661042f885d8.png)

So I followed the lead from your earlier snapshot where width = height = 300 and f

[2019-06-18 21:03] xprotobeast2 commented on #1246
Inference seems to be unaffected. Not sure why these warnings appear.

[2019-06-18 22:07] skottmckay commented on #1229
This will possibly be fixed by https://github.com/microsoft/onnxruntime/pull/1233 that just got checked in.

There are NonZero nodes earlier in the graph that provide an iteration count to a Loop node. If there are no matches the iteration count is zero. The shape of some of the Loop outputs wasn't correct in that case, leading to Gather breaking later on. This occurring is dependent on the input

[2019-06-18 23:30] prabhat00155 commented on #827
Here is a sample code you could use. I am doing batch predictions 10 times for both scikit and onnx models and calculating the mean prediction times. You could try different models and compare the predictions times.

import time
import numpy as np
import onnxmltools
from onnxruntime import InferenceSession
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestCl

[2019-06-19 00:04] hariharans29 commented on #1229
Thanks @skottmckay. I built a python wheel including #1233 and the model didn't crash and finished its run successfully.

@antonfr - could you try building from source and checking if the results look okay (I only validated that the crash was resolved, still need to validate results) ?

[2019-06-19 01:26] hariharans29 commented on #1246
Hi @xprotobeast2,

The warnings are just to warn you that one ( and possibly more ) 'Unsqueeze' node(s) were assigned to be executed on CPU (as opposed to the GPU). This makes sense as the [unsqueeze operator](https://github.com/onnx/onnx/blob/master/docs/Operators.md#Unsqueeze) itself doesn't involve any logic to operate on the input data and it just modifies metadata (tensor dimensions) so there

[2019-06-19 01:28] #1246 closed

[2019-06-19 01:28] hariharans29 commented on #1230
Hi @tsocha,

I am not sure how the Changelog is created/maintained honestly. But the way I go about finding an operator spec for a specific opset version is to try and map it to particular ONNX release. Like in the case, for opset 7, I looked at 1.2.x, for opset 8 it would be 1.3.x and so on. Hope this helps for the future.

Thanks

[2019-06-19 05:45] pranavsharma commented on #1203
@luvclear did you try setting the locale as commented before?

[2019-06-19 06:57] pranavsharma commented on #1162
- What build config are you using?
- Is this specific to a an input?
- Do you see it for other inputs as well?
- How did you get this output?

[2019-06-19 07:07] pranavsharma commented on #1135
This is being taken care of in this PR https://github.com/microsoft/onnxruntime/pull/1197

[2019-06-19 07:23] xadupre opened #1252 "Python wheels does not include libtvm.so when --use_tvm is switched on"
**Describe the bug**
import onnxruntime does not work due to missing assemblies

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Any Linux
- ONNX Runtime installed from (source or binary): installed from master branch
- ONNX Runtime version: github
- Python version: 3.7

**To Reproduce**
* Build with: python3.7 ./tools/ci_build/build.py --build_dir ./build/debian

[2019-06-19 07:41] meynety commented on #1232
Alright thank you, what about the build error then ?

[2019-06-19 08:01] pranavsharma commented on #1232
I’ll look into it.

[2019-06-19 12:58] letmaik opened #1253 "Remove executor threadpool"
There's currently a session threadpool but also an executor threadpool here:
https://github.com/microsoft/onnxruntime/blob/e26e11b9f7f7b1d153d9ce2ac160cffb241e4ded/onnxruntime/core/framework/parallel_executor.cc#L29

Will the executor threadpool go away such that the parallel executor uses the session thread pool? Is someone working on it? I could PR this but I'm not sure whether it breaks somethi

[2019-06-19 17:11] pranavsharma commented on #1253
The threading design is being reworked as we speak to use a single threadpool like you said. @shschaefer is working in it.

[2019-06-19 17:26] #1253 closed

[2019-06-19 18:15] hossein1387 opened #1256 "Python Wrapper for Raspberry Pi"
**Is your feature request related to a problem? Please describe.**
Currently only C API is available for ARM (Raspberry Pi for instance)

**Describe the solution you'd like**
A Python wrapper for onnxruntime on ARM devices.

[2019-06-19 18:24] snnn commented on #1252
Before doing that, please make sure we have included TVM and all its dependencies(recursively) in the TPN file. If we don't include libtvm.so , we are not distributing TVM. It has such a difference.

[2019-06-19 18:42] pranavsharma commented on #1252
Yup, when i did this last year, I included all it's deps: dlpack, halide, llvm, dmlc-core. Having said that I don't think we're distributing a whl that includes tvm.

[2019-06-19 18:46] snnn commented on #1252
Let's disable tvm in packaging pipelines first. Until tvm is get used.

[2019-06-19 18:49] saipj opened #1257 "YOLO V3 error"
**Describe the bug**
A clear and concise description of what the bug is.

Encountering error when running YOLO V3 perf test. Please find the error below.
[E:onnxruntime:Default, runner.cc:185 RunTests] Test yolov3 failed:Load model from /onnx_models//yolov3/yolov3.onnx failed:[ShapeInferenceError] Number of elements of input 'scales' must be same as rank of input 'X' and element type must be float

[2019-06-19 18:53] hariharans29 commented on #1257
Hi,

This should have been fixed by https://github.com/microsoft/onnxruntime/commit/c96049fe4ad16f1964257e442fad6906e0acb198. Di d you include this commit in your build ?

CC: @raymondxyang

[2019-06-19 18:57] hariharans29 commented on #1212
Hi @vsooda,

Were you able to resolve this ?

Thanks

[2019-06-19 19:00] raymondxyang commented on #1257
Yes the changes were merged last afternoon.. would u mind kindly confirm you are using the latest version of onnxruntime?

[2019-06-19 19:03] ldcastell opened #1258 "ONNX backend test: test_mod_float_mixed_sign_example_cpu is failing"
**Describe the bug**
We are seeing the **test_mod_float_mixed_sign_example_cpu** onnx backend test fail in a number of different platforms using default execution provider.

Here are the test logs:
[code]
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04.6 LTS.
- ONNX Runtime installed from (source or binary): source
- ONNX Runtime version: latest
- Pyt

[2019-06-19 19:03] pranavsharma commented on #1155
@jeffsaremi can this be closed? Does Scott's fix work for you?

[2019-06-19 19:04] snnn commented on #1256
Do you have some docs for setting up cross compiling environment for Raspberry Pi? Especially, how to create the sysroot, which is essential for building python binding.

[2019-06-19 19:06] snnn commented on #1258
You must build onnx from source, use the same version with the one under onnxruntime/cmake/external dir.
Otherwise, in order to get the build pass, you need to uninstall onnx first.

[2019-06-19 19:06] #1258 closed

[2019-06-19 19:16] pranavsharma commented on #1256
Doesn't [this](https://github.com/Microsoft/onnxruntime/blob/master/dockerfiles/Dockerfile.arm32v7) create the whl as well?

[2019-06-19 19:18] hossein1387 commented on #1256
Running docker image as explained results in:

[code]

[2019-06-19 19:43] snnn commented on #1256
I tried to remove the '--use_openmp' argument, but I reverted the change. I'm wondering which source version you are using.

[2019-06-19 19:45] hossein1387 commented on #1256
I am working on master branch commit
`e26e11b9f7f7b1d153d9ce2ac160cffb241e4ded`

[2019-06-19 20:45] antonfr commented on #1229
@hariharans29 Unfortunately I met problems with installing onnxruntime from source, though I have followed instructions:

1. Checkout the source tree: - done
2. Install cmake-3.13 or better from https://cmake.org/download/. - done
3. (optional) Install protobuf 3.6.1 from source code - met a problem, used `brew install protobuf instead`
5. (optional) Install onnx from source code (cmake/external/o

[2019-06-19 20:59] hariharans29 commented on #1229
@snnn and @pranavsharma - any idea what's the issue ?

[2019-06-19 21:05] pranavsharma commented on #1229
I don't usually run the optional steps. It should work without that.

[2019-06-19 21:11] hariharans29 commented on #1229
@antonfr - what's the exact build error you get ?

[2019-06-19 21:18] pranavsharma commented on #1229
I just built this and it works just fine. The only change I had to make was to comment out the running of onnx_backend_test_series.py inside build.py. I ran it like this: ```./build.sh --config RelWithDebInfo --build_wheel --parallel```. I'm at this commit 23838d9c2a637c5eacafe29194c73eefd2f4943f.

[2019-06-19 21:28] JohnCraigPublic opened #1260 "Query the version number of OnnxRuntime and/or of a Model?"
I notice the onnxruntime.dll does not have a fileversion string on it - which would be helpful.

Alternatively, is there an API call ( C / C++ ) so I can query which version of ORT I have?  I guess related questions: can I query which Opset number is supported?

[2019-06-19 23:13] RandySheriffH commented on #1232
Let's review a solution:
https://github.com/microsoft/onnxruntime/pull/1261

[2019-06-20 02:05] vsooda commented on #1212
Hi @hariharans29 ,

No. I had checked the model convert tool, couldn't not found any problem.

could onnxruntime support seq2seq model fp16 inference?  I was worried about wasting too much time on it, and finally found out that was onnxruntime kernel's problem

[2019-06-20 03:05] xkszltl commented on #1162
Release, more specifically https://github.com/xkszltl/Roaster/blob/a5495b309e6b298b7fc72f4cfa8e271a93415694/pkgs/ort.sh#L66-L100

No

Yes, several occurrence in our unit test set.

I compiled our code with llvm-8/libstdc++(gcc-8's version)/tsan (`-stdlib=libstdc++ -fsanitize=thread`) and link with gcc-8 compiled ort.

[2019-06-20 07:25] antonfr commented on #1229
@hariharans29 here is the full log in zip archive
[log_build.zip](https://github.com/microsoft/onnxruntime/files/3309232/log_build.zip)

@pranavsharma tried to use your solution, unfortunately, result is the same.

[2019-06-20 08:40] antonfr commented on #1229
Additionally, when I'm trying `python3 setup.py bdist_wheel`, I get `error: package directory 'onnxruntime/backend' does not exist`
I asked my colleague to try building from source on his mac, he got the same problems as me.

[2019-06-20 15:45] rlewkowicz commented on #1063
@gwestner94

https://github.com/ultralytics/yolov3

[2019-06-20 18:39] saipj commented on #1257
Thanks, this worked. We can close the issue now.

From: Raymond Yang [mailto:notifications@github.com]
Sent: Wednesday, June 19, 2019 12:00 PM
To: microsoft/onnxruntime <onnxruntime@noreply.github.com>
Cc: Jayanthi, Sai <sai.jayanthi@intel.com>; Author <author@noreply.github.com>
Subject: Re: [microsoft/onnxruntime] YOLO V3 error (#1257)

Yes the changes were merged last afternoon.. would u mind k

[2019-06-20 18:45] RandySheriffH commented on #827
Thanks, now I could reproduce the gap. Investigating...

[2019-06-20 18:48] hariharans29 commented on #1257
Thanks for confirming. Closed.

[2019-06-20 18:48] #1257 closed

[2019-06-20 18:58] hariharans29 commented on #1212
Can you share your model ?

[2019-06-20 20:42] RandySheriffH commented on #886
@AbhilashAwasthi01: would u mind share related script?
Will reproduce the issue and profile the model.

[2019-06-20 20:57] faxu commented on #1203
Closing the issue. Please reactivate if issue still persists.

[2019-06-20 20:57] #1203 closed

[2019-06-20 21:05] faxu commented on #1252
@KeDengMS : will dependencies be installed when the build flags for tvm and llvm are set, or do these need to be installed separately? please make sure these instructions are included in installation notes.

[2019-06-20 22:06] KeDengMS commented on #1252
llvm is statically linked into tvm, so we just need to include tvm dll.

[2019-06-20 22:31] yuslepukhin commented on #1095
@adriacabeza How big is the model? Would you compress it?
Email systems have their limits as well.

[2019-06-20 22:32] hariharans29 commented on #1229
Are you using `clang` compiler on Linux ?
`clang: error: linker command failed with exit code 1 (use -v to see invocation)`

I don't think this is supported according to the OS/Compiler support matrix here - https://github.com/microsoft/onnxruntime/blob/master/BUILD.md

(@pranavsharma can correct me if I am wrong)

[2019-06-20 22:42] #1260 closed

[2019-06-20 22:46] snnn commented on #1232
We should fix the problem, instead of ignore the warning.

[2019-06-21 01:51] pranavsharma commented on #1252
@KeDengMS
The current set of releases are not built with tvm enabled. Hence the tvm dll doesn't need to be present in the NuGet pkg. Are you referring to the nuphar nuget pkg? I don't think there are plans to distribute a nuphar nuget.

[2019-06-21 01:58] KeDengMS commented on #1252
When --use_tvm is used, tvm dll should be included in python wheel or nuget package. It should nothing to do with nuphar, nor with the default release. If we accidentally have --use_tvm for default release, then it should be removed from the build config.

[2019-06-21 06:54] lucienwang1009 opened #1272 "loop output empty tensor"
**Describe the bug**
A clear and concise description of what the bug is.
If max_iter_count is 0 or initial cond is False, Loop op is supposed to output an empty tensor, while current ort will give a scalar result of 0.
See this model as an example: [test_range_non_const.zip](https://github.com/microsoft/onnxruntime/files/3313305/test_range_non_const.zip)

**System information**
- OS Platform and D

[2019-06-21 07:17] lucienwang1009 commented on #1272
fixed by #1233 Thanks @skottmckay

[2019-06-21 07:17] #1272 closed

[2019-06-21 14:42] maondra opened #1273 "Mobile GPU NVIDIA Quatro - performance issues"
ONNXRuntime doesn't use GPU for inference

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
 Windows 10
- ONNX Runtime installed from (source or binary):
  Pypi
- ONNX Runtime version:
   onnxruntime-gpu 0.4.0
- Python version:
  3.6

- CUDA/cuDNN version: 9.1/7.1
- GPU model and memory: NVIDIA Quatro P1000 and P2200

**To Reproduce**
run your example (https://pypi

[2019-06-21 18:46] faxu commented on #957
@xadupre : any update on this?

[2019-06-21 19:50] xadupre commented on #957
Yes, I checked. It works.

[2019-06-21 19:50] #957 closed

[2019-06-21 21:27] RandySheriffH commented on #827
Let's review a fix: https://github.com/microsoft/onnxruntime/pull/1276

[2019-06-21 22:39] kubansal opened #1278 "Build failing on Windows: onnxruntime master branch"
**Describe the bug**
Syntax errors:
Onnx\OnnxRuntimev4\onnxruntime\onnxruntime\core\mlas\lib\amd64\SgemmKernelAvx512F.asm(488): error A2008: syntax error : k1 [D:\Onnx\OnnxRuntimev4\onnxruntime\build\Windows\RelWithDebInfo\onnxruntime_mlas.vcxproj]
:\Onnx\OnnxRuntimev4\onnxruntime\onnxruntime\core\mlas\lib\amd64\SgemmKernelAvx512F.asm(488): error A2008: syntax error : k1 [D:\Onnx\OnnxRuntimev4\onn

[2019-06-21 23:16] tracysh commented on #1278
Hello. The error is what you'd see if you were using too old of a Visual Studio build that doesn't support AVX-512 instructions. What is the version number shown in the cmake output? Can you try updating your compiler to the latest VS 2017?

Example:
-- The C compiler identification is MSVC 19.16.27027.1
-- The CXX compiler identification is MSVC 19.16.27027.1

[2019-06-21 23:24] joyIntel opened #1279 "Build with Intel C++ Compiler"
In Windows, the default compiler is VC. I want to build onnxruntime in windows with Intel C++ compiler. What are the necessary changes I need to make ?

[2019-06-22 02:52] pranavsharma commented on #1278
There is no option called ```--mkldnn```. It's ```--use_mkldnn```.

[2019-06-22 02:54] pranavsharma commented on #1273
Can you attach the model for debugging?

[2019-06-22 04:03] xkszltl opened #1281 "MKLDNN Update"
**Describe the bug**

FYI MKLDNN 0.19 is out for a while with new version of MKLML, and MKLDNN v0.20 is already in RC

https://github.com/microsoft/onnxruntime/blob/204bd38d6a4d40d13affd234ec55459e354f1f4a/cmake/external/mkldnn.cmake#L5

[2019-06-22 04:34] pranavsharma commented on #1281
Thanks for the updated? Have you tested it? How much perf improvement does it show?

[2019-06-22 05:05] xkszltl commented on #1281
No. It's just FYI.

Here's the story about what brings me to this:

I was faking MKLML with full MKL, which works great with native C++.
When we integrate it with .Net, C# tries to check for all symbols at load time, even if it's unused.
And interestingly it found a missing function in the latest version of full MKL (2019 update 4) but exists the version of MKLML used by onnxruntime (2019.0.3.2019

[2019-06-23 04:56] snnn commented on #1279
[code]

see: https://cmake.org/cmake/help/v3.15/envvar/CXX.html

[2019-06-23 05:01] snnn commented on #1256
Could you please open tools/ci_build/build.py and search if there is a line like:

[code]

?

[2019-06-24 07:16] tadas-subonis opened #1284 "Loading ONNX model fails with Fatal error: ConstantFill is not a registered function/op"
**Describe the bug**
I've saved PyTorch model, and now I am trying to load it on ONNXRuntime:
[code]
but this throws an error:

[code]

**System information**
- OS Platform and Distribution: Windows 10
- ONNX Runtime version:  onnxruntime==0.4.0
- Python version: 3.7

[2019-06-24 07:38] pranavsharma commented on #1284
Can you attach the onnx model? How did you convert it? ConstantFill is not an onnx op; see [here](https://github.com/onnx/onnx/blob/master/docs/Operators.md).

[2019-06-24 08:16] tadas-subonis commented on #1284
I've converted it using:
[code]

where skorch_model.module is a standard torch.nn.Module

The ONNX file can be found here:
https://send.firefox.com/download/04e009f5f8634e9c/#myOqDeOep_Zb2rHe4vzpRQ

[2019-06-24 08:17] tadas-subonis commented on #1284
PyTorch's version is pytorch=1.0.0=py3.7_cuda100_cudnn7_1

[2019-06-24 08:29] antonfr commented on #1229
@hariharans29 yes, I'm using clang compiler on macOS, any ideas, if I could build onnxruntime from source and if yes, how could I do it?

[2019-06-24 08:43] xkszltl opened #1286 "Extremely Slow Download Speed of Test Data in China"
**Describe the bug**

I'm trying to download `https://onnxruntimetestdata.blob.core.windows.net/models/20190419.zip` for test but it's very hard.
I tried a few machines in US and Asia, outside Microsoft.
Most of them only reached 3 Mbps, the fastest one got ~12 Mbps.

Note that Internet bandwidth is not the bottleneck.
All of them has 100-1000 Mbps capacity available.

[2019-06-24 17:09] RandySheriffH commented on #1232
It is eigen code.

[2019-06-24 17:10] RandySheriffH commented on #1232
Issue fixed by the PR.

[2019-06-24 17:12] #1232 closed

[2019-06-24 17:51] faxu commented on #1284
CC@spandantiwari
@tadas-subonis can you try with pytorch 1.1 and see if this repros?

[2019-06-24 17:56] raymondxyang commented on #1286
It's stored on azure central us and ncus data center.. and we use aria2c and curl for accessing it

[2019-06-24 18:01] xkszltl commented on #1286
If I access it from SCUS Azure, it can reach ~500Mbps.
But outside Microsoft network it's barely reachable (Will take ridiculously long, and with high chance of non-resumable connection lost)
I wonder if it's better to put it simply as the Release assert on GitHub.
They got nice CDN.

[2019-06-24 18:06] raymondxyang commented on #1286
@snnn do we have any security concern on hosting the test data on outside site?

[2019-06-24 18:37] hariharans29 commented on #1229
Yes, the steps to build onnxruntime from source are documented here - https://github.com/microsoft/onnxruntime/blob/master/BUILD.md. Can you please check if you are missing something from the steps ?

[2019-06-24 18:48] snnn commented on #1286
For the files under https://onnxruntimetestdata.blob.core.windows.net/models, no. They are public.
However, our ci build won't fetch the data from github.  It's like, when you live in the U.S., you won't go to Microsoft's Beijing cafeteria for lunch.

[2019-06-24 20:15] xkszltl commented on #1286
Haha but that makes it less friendly to the open source community.
What I'm proposing is more like `wget azure` in CI file only + `wget -c github` in general script, which means the second step basically does nothing in your CI.

[2019-06-24 20:32] antonfr commented on #1229
@hariharans I have described in details all steps above https://github.com/microsoft/onnxruntime/issues/1229#issuecomment-503739646

[2019-06-24 20:34] joyIntel commented on #1279
Hello,

Thanks for giving the hints. I am trying the following command –

cmake -DCMAKE_C_COMPILER="C:\Program Files (x86)\IntelSWTools\parallel_studio_xe_2019\compilers_and_libraries_2019\windows\bin\intel64" -DCMAKE_CXX_COMPILER="C:\Program Files (x86)\IntelSWTools\parallel_studio_xe_2019\compilers_and_libraries_2019\windows\bin\intel64" -DCMAKE_BUILD_TYPE=Release

But it is not generating the b

[2019-06-24 20:46] ebarsoum commented on #1284
@tadas-subonis  can you try PyTorch 1.1? ConstantFill was an experimental OP that got replaced with ConstantOfShape.

[2019-06-24 21:11] snnn commented on #1279
Hi @joyintel,

It's a commercial software, I don't have it, so I can't reproduce your error. Sorry.

Could you please post the full build log here?

[2019-06-24 21:15] tracysh commented on #1279
Maybe it should instead be (add icl.exe to the parameters instead of just the directory):

cmake -DCMAKE_C_COMPILER="C:\Program Files (x86)\IntelSWTools\parallel_studio_xe_2019\compilers_and_libraries_2019\windows\bin\intel64\**icl.exe**" -DCMAKE_CXX_COMPILER="C:\Program Files (x86)\IntelSWTools\parallel_studio_xe_2019\compilers_and_libraries_2019\windows\bin\intel64\**icl.exe**" -DCMAKE_BUILD_TYP

[2019-06-24 21:44] kubansal commented on #1278
@pranavsharma : Sorry it was a typo. I actually used --use_mkldnn.

As per @tracysh, I checked the ml64.exe version and it built with an outdated version (14.10.*) which didn't have support for AVX-512 instructions. Updated the VS and now it is building fine 👍  Thanks @tracysh

[2019-06-24 21:45] #1278 closed

[2019-06-24 22:38] joyIntel commented on #1279
I have given the trace here. The build is successful but there are no binaries (onnxruntime_perf_test.exe) created in the specified directory.

C:\ICC_Vs_VC\ICC\onnxruntime\build>cmake ..\cmake\ -DCMAKE_C_COMPILER="C:\Program Files (x86)\IntelSWTools\parallel_studio_xe_2019\compilers_and_libraries_2019\windows\bin\intel64\icl.exe*" -DCMAKE_CXX_COMPILER="C:\Program Files (x86)\IntelSWTools\parallel

[2019-06-24 23:06] snnn commented on #1279
Hi @joyIntel

Could you find a "*.sln" file in C:\ICC_Vs_VC\ICC\onnxruntime\build dir?
If it exists, please open it, **select build config  to 'Release',** then build the solution.

[2019-06-25 00:09] joyIntel commented on #1279
That works. Thanks @snnn

[2019-06-25 08:03] vsooda commented on #1212
@hariharans29 thank you. I had tried to ask our company to share the model,  but failed.  I will debug onnx convert tool and onnxruntime after I finish the job at hand. or I will try to use an open source model to reproduce this problem.

[2019-06-25 09:01] tadas-subonis commented on #1284
You guys were right - after updating to 1.1.0 and re-exporting the model, it works.

Thanks for the help.

[2019-06-25 11:03] #1284 closed

[2019-06-25 17:14] faxu commented on #1176
Thanks for sharing the feature request. We'll discuss this and get back to you soon.

[2019-06-25 20:14] RandySheriffH commented on #886
Close the issue by fix - https://github.com/microsoft/onnxruntime/pull/1276

[2019-06-25 20:15] RandySheriffH commented on #827
PR checked in, closing the issue.

[2019-06-25 20:46] raymondxyang commented on #1286
Does our subscription include Azure's China region?

[2019-06-25 21:55] faxu commented on #1212
Closing this issue for now. If you have an example model or portion of a model to share, feedback on error messaging/debuggability, let us know and feel free to reactivate in future.

[2019-06-25 21:55] #1212 closed

[2019-06-25 23:45] snnn commented on #1286
No. China is totally different. For example, your .S. Amazon account can't be used in Amazon China.

[2019-06-26 00:16] faxu commented on #1286
The data set is quite large and probably not well suited to be hosted in github. The azure blob store is publicly accessible and @raymondxyang will update the documentation to include the link. If this is only a non-blocking inconvenience for users physically located in China, then this is a low priority fix for us at this time. This should mostly be a one-time cost to download the data for anyone

[2019-06-26 00:16] #1286 closed

[2019-06-26 01:11] xkszltl commented on #1286
@faxu It is not only China. I also tried machines in US west coast.
Because the connection is slow and unstable, in fact I wasn't able to download it at all, and end up using an Azure VM to download first and relay the traffic out via rsync.

Also, correct me if I'm wrong but I don't think github has limit for release asset size. I'm not talking about check it into the git.

[2019-06-26 07:52] snnn commented on #1286
Hi @xkszltl the data is hosted in central us. I live in the west coast. I can download the data at full internet speed. If you are having connectivity issue with Azure blob storage, please feel free to contact Azure networking team.

 And also, I would suggest you use the tools provided by Azure blob storage team. For example, azcopy. It has very good retry and error recovery function.

[2019-06-26 10:24] xkszltl commented on #1286
azcopy is probably a good suggestion. Thanks!

[2019-06-26 14:26] letmaik opened #1294 "Expose session options in server command line"
For example, the session threadpool size cannot be changed. It would be good to expose this using more command line arguments. Currently the server uses only default session options.

@csteegz

[2019-06-26 16:26] ellerado commented on #487
Could you please share your script? I'm having the similar issue and i'm not sure what i'm doing wrong. Would really appreciate it. Thanks!

[2019-06-26 17:34] priyanka1023 commented on #1279
I have tried to use the CMAKE_C_COMPILER and CMAKE_CXX_COMPILER flags. But every time MSVC is selected instead.

[2019-06-26 18:18] hariharans29 commented on #1229
Hi @antonfr,

This must be a local dev environment issue and probably not a build issue itself as Mac builds are run on a daily basis (and a per PR basis) and things look fine.

However, we will try building on a Mac and get back to you.

Thanks

[2019-06-26 18:51] hossein1387 opened #1297 "Documentation on JSON profile report"
I am using **onnxruntime 0.4.0** and I am using profiler.  I am trying to understand how to use this report. I am unable to find documentation on what the numbers represent. I enable the profiling using the following code:

[code]
I then end profiling by:

[code]

After running, I get a Json file with the following information (just couple of lines from the report with 14619 lines) :

[code]

I ca

[2019-06-26 21:40] minus-one opened #1300 "Runtime issue with mkldnn"
**Describe the bug**
Runtime error thrown with onnxruntime built for MKL-DNN
2019-06-26 13:22:59.733400731 [E:onnxruntime:, sequential_executor.cc:127 Execute] Non-zero status code returned while running Node: MKLDNNExecutionProvider_MkldnnCustomOp1_0 Status Message: Status: 3, message: could not initialize a memory descriptor

**System information**
- OS Platform and Distribution (e.g., Linux Ubu

[2019-06-26 21:54] minus-one commented on #1300
Sorry folks!. Looks liked I had an installed version of mkldnn installed on my machine and it was picking that instead of the one that was built with onnxruntime. When I set the correct path this vanished! Fie!

[2019-06-26 21:54] #1300 closed

[2019-06-26 22:07] ybrnathan commented on #1297
This is a standard performance tracing file, you can open it by
1. Open Chrome browser, and type chrome://tracing/
2. Load the saved JSON file, then you can see the performance along the time

[2019-06-26 22:24] prabhat00155 commented on #827
This issue is not just in trees, I found onnxruntime consistently slower accross all classifiers and regressors. Have you checked with other models like linear, MLP, NB, etc?

[2019-06-27 00:53] malz opened #1304 "Adding metric logging to Runtime Server"
**Is your feature request related to a problem? Please describe.**
No

**System information**
- ONNX Runtime version (you are using): 0.4.0 on the gRPC server branch

**Describe the solution you'd like**
I think it would be worthwhile to extend the Runtime Server to record/support metric logging (e.g Prometheus metrics) for inference time, latency, total requests, error counters etc.

**Describe a

[2019-06-27 01:33] joyIntel opened #1305 "Msbuild fails using onnxruntime.sln"
I am trying to build onnxruntime master branch using the following commands.

git clone https://github.com/microsoft/onnxruntime.git
cd onnxruntime
git submodule update –-init -–recursive
mkdir build
cd build
cmake -G "Visual Studio 15 2017 Win64" ..\cmake\
msbuild "onnxruntime.sln" /t:Rebuild /p:Configuration=Release /m

But I am getting errors -
![Error](https://user-images.githubusercontent.com

[2019-06-27 02:58] xkszltl commented on #1286
FYI I did a curl in Redmond office just now, after normal working hours so no much traffic to interfere with.
Here's the speed pattern:
![image](https://user-images.githubusercontent.com/5203025/60230847-25c33f80-984c-11e9-867a-3a8ac57d1c33.png)

Machine is connected with GE network and I can certainly reach line speed during my daily work.

[2019-06-27 03:29] xkszltl opened #1306 "Improve Test Data Compression"
Test data is getting really large and I think we should improve the compression at least to reduce network traffic.

Here's the current statistics:
[code]

**System information**
- ONNX Runtime version (you are using): master

**Describe the solution you'd like**

Create 2 pkgs.
`.txz` for Linux, better `.zip` for windows.

Besides, in general, it's a bad practice to have several items (opset7/ops

[2019-06-27 04:46] snnn commented on #1306
I did it in purpose. Because increasing compression level will slow down data downloading. Our network speed is even faster than local disk, which is much faster than any data compression algorithm.  I saw no value here to waste cpu time just for saving 10% bandwidth. As I pointed before, on our build machines, the downloading only takes 2 minutes. So even you can optimize it to 1min 48sec without

[2019-06-27 04:50] snnn commented on #1305
You can find an example in our CI build.
And you can modify compiler flags freely, it doesn't matter if you'll build it with msbuild or visual studio.

[2019-06-27 05:37] xkszltl commented on #1306
Interesting.
I also noticed that unzip is slow.
However, since xz is a streaming algorithm, you can do an equivalence of `curl $url | xz -cdT$(nproc) | tar -x` on Linux/macOS.
This hides the extraction time and it's even multi-theaded.

[2019-06-27 05:38] xkszltl commented on #1306
The total download time for me in Redmond is ~20min so 10% is definitely noticeable, and for other geo location I tried, 10% is several hours.

For me I can accept creating a mirror server or republish it somewhere else, since I have the infrastructure to do so and I can make the first successful download.
But for the broader open source community this can be quite frustrating.

[2019-06-27 06:07] antonfr commented on #1229
Thanks @hariharans29, waiting for results. From my side, I can provide you all information about my environment, that you might consider necessary.

[2019-06-27 07:06] snnn commented on #1306
It's a one time thing. You don't need to do it repeatly. Once you get it on one machine, you can transfer it to another, without bothering Azure. If you need to frequently download it, please let me know. Because this is the easiest way to get us bankrupted.  Network bandwidth is expensive (but it's free if both of the hosts are in the same Azure region).

My suggestion is:
If the downloading happ

[2019-06-27 07:09] snnn commented on #1306
And, for all the cloud storage, don't compress the data by yourself. The storage layer and network layer will handle it for you.

[2019-06-27 07:14] snnn commented on #1306
Won't do it as I can't see much benefit from it.

[2019-06-27 07:14] #1306 closed

[2019-06-27 07:15] xkszltl commented on #1306
Haha!

On Windows, for production build, we start from a clean set up dir to ensure reproducibility. I did implement a local cache.
On Linux, we're building docker, so everytime we start from scratch and there's no cache at all if it's build in Azure or Corpnet. If it is build in China I use a local file server to host the cache.

[2019-06-27 07:16] xkszltl commented on #1306
It's limited to gzip by HTTP.

[2019-06-27 14:07] MaxNoe opened #1308 "python onnxruntime not using multiple threads for application of ml model"
**Describe the bug**

Despite declaring the options
[code]

the application is only run on a single core.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux, Ubuntu 18.04
- ONNX Runtime installed from (source or binary): pip
- ONNX Runtime version: 0.4.0
- Python version: 3.7.3

**To Reproduce**

[code]

**Expected behavior**

onnxruntime is using 12 cores to

[2019-06-27 15:18] hossein1387 commented on #1256
I tried it today and apparently, this line was added long time ago by [yourself](https://github.com/microsoft/onnxruntime/commit/6c9d815de592a77d83f5a5e2d66ce12c43bfa4da#diff-98790bd74beaa51d0196dd9bba024269).

However, I am used the latest commits and the docker file is now working.
05a222a961c4729c729c24cbbbc19a12dde6e211

I was able to create the wheel, however, when I try to import onnxruntime

[2019-06-27 15:51] joyIntel commented on #1305
Could you be more specific ? I want to build the onnxruntime.sln and I am getting the linker errors.

[2019-06-27 16:09] snnn commented on #1305
Please tell me if you want a 32 bits build or 64 bits?

[2019-06-27 17:02] joyIntel commented on #1305
64 bits

[2019-06-27 17:58] snnn commented on #1305
Did you set it in your msbuild command?

[2019-06-27 18:32] tracysh commented on #1305
In case this helps, when you run the initial cmake, you need to specify "-A x64":

cmake -A x64 -G "Visual Studio 15 2017" ..\cmake

I tried what you originally had and the generated files for the MLAS project were missing the assembly files. With the above command, I see the expected files. The above is what is done in tools\ci_build\build.py.

[2019-06-27 18:54] snnn commented on #1305
Hi @tracysh,

Your hit is helpful. Please allow me elaborate more.

For cmake and VS, there are two ways to specify architecture(32 bits or 64)

1. (new) cmake -A x64 -G "Visual Studio 15 2017"
2. (old) cmake -G "Visual Studio 15 2017 Win64"

Everybody today should use the new one.
The old one, in most projects other than onnxruntime, should continue to work. For us, looks like it's not.  If someb

[2019-06-27 19:09] jignparm commented on #1224
Fixed By: https://github.com/pytorch/pytorch/pull/22304

@lara-hdr, this will be fixed shortly in the PyTorch implementation of Maxpool1d. Closing this for now in OnnxRuntime.

[2019-06-27 19:09] #1224 closed

[2019-06-27 20:17] hossein1387 commented on #1297
Thanks, but what is the best way to use these statistics in the code? or do I need to parse the json file to get the statistics?

[2019-06-27 21:29] i-newton opened #1311 "cannot use fasterrcnn onnx model in c# api"
steps:
download https://github.com/onnx/models/tree/master/faster_rcnn
try to run model in .net
[code]
when inference any image you will get
Unhandled Exception: System.ArgumentException: Length of memory (150528) must match product of dimensions (3).
   at System.Numerics.Tensors.DenseTensor`1..ctor(Memory`1 memory, ReadOnlySpan`1 dimensions, Boolean reverseStride)
   at Microsoft.ML.Transforms.O

[2019-06-27 21:30] skottmckay commented on #1305
build.bat has a --cmake_extra_defines flag to pass through additional arguments to cmake. Is that insufficient? If so can you give an example of what you need to do?

[2019-06-27 21:42] skottmckay commented on #1308
SessionOptions.enable_sequential_execution is more about executing multiple nodes in parallel. In this case it looks like you only have a RandomForestClassifier node, which I believe converts to TreeEnsembleClassifier in onnx.

There was a recent change to that to allow multiple threads to execute within the TreeEnsembleClassifier node if OpenMP is being used. https://github.com/microsoft/onnxrunt

[2019-06-27 22:48] joyIntel commented on #1305
Thanks guys for helping. As @snnn mentioned, option 1 is working but I was using option 2.  To answer @skottmckay 's question, I am using different compiler (not MSVC). I think the only thing I was doing wrong was x64 tag.

[2019-06-27 23:09] jignparm commented on #1229
@antonfr -- can you do the following steps, and skip the optional steps listed above? The optional steps may be confusing the issue.

1> remove any installation of protobuf
2> start off with a clean Python installation (packages may include libprotobuf, which could interfere with the build). So uninstall Anaconda if you have it installed.

* git clone https://github.com/microsoft/onnxruntime
* cd

[2019-06-27 23:35] hariharans29 commented on #1229
Thanks @jignparm

Also, the errors in your logs are similar to the one raised midway of #648 and the resolution was try building first without `--use_openmp`.  I notice that in your build logs, `-Donnxruntime_USE_OPENMP=ON'`  did exist indicating that you were building with OpenMP. Can you try building without OpenMP please ?

[2019-06-28 00:07] snnn commented on #1229
BTW, We'll remove the onnxruntime_USE_OPENMP option and keep it always off.

[2019-06-28 00:17] joyIntel commented on #1279
@priyanka1023 Use the following commands -
1> cmake -A x64 -G "Visual Studio 15 2017" -T "Intel C++ Compiler 19.0" ..\cmake
2> msbuild "onnxruntime.sln" /t:Rebuild /p:Configuration=Release /m

[2019-06-28 00:17] #1279 closed

[2019-06-28 00:26] skottmckay commented on #1311
The error seems to be coming from Microsoft.ML code rather than Microsoft.ML.OnnxRuntime code. Should this issue be for https://github.com/dotnet/machinelearning?

[2019-06-28 01:33] jignparm commented on #1311
@i-netwon,  I was able to score the faster-rcnn model just fine using the OnnxRuntime C# API and the sample test data that comes with the model, using [this code snippet](https://github.com/microsoft/onnxruntime/blob/master/csharp/test/Microsoft.ML.OnnxRuntime.Tests/InferenceTest.cs#L21).

As sckottmckay mentioned,  the ML.NET project is under a different [repo](https://github.com/dotnet/machinele

[2019-06-28 03:28] fdwr opened #1313 "OneHot should treat negative axis as range from last dimension"
**Describe the bug**
The Lotus CPU implementation OneHot rejects negative axes except -1 (rejects -2, -3...) which is overly strict and inconsistent with the spec. It should treat negative values like the other ONNX operators (Gather, Pad, Slice) as distance from the last dimension. Although the spec doesn't *explicitly* state this, it is implied by the wording, and the ONNX shape inference honors

[2019-06-28 04:07] fdwr opened #1314 "OneHot missing kernel for float data type with int32 indices"
**Describe the bug**
Lotus's OneHot implementation registers as many as 6 permutations, yet it's missing the most intuitive combination, float values with integer indices.

onnxruntime\core\providers\cpu\tensor\onehot.cc

    #define REG_ONE_HOT_OP(index_type, out_type, depth_type)
      REG_TYPED_ONE_HOT_OP(index_type##_##out_type##_##depth_type, in_type, out_type, depth_type)

    REG_ONE_HOT_OP

[2019-06-28 05:39] MaxNoe commented on #1308
Even if the tree ensemble is not parallelized, why is the application over the events not?

This is the trivial parallelzation that's possible with every learner.

[2019-06-28 07:29] i-newton commented on #1311
Thanks, I tried the snippet, set fixed dimensions and it worked,
I also created another issue under  https://github.com/dotnet/machinelearning
Could you please help me with one question:
how can i transform jpeg image into bench.in file? i can't find any examples of doing this.

[2019-06-28 18:10] jignparm commented on #1311
The bench.in format (assuming you're referring to the file below) contains a header line containing input column names, followed by text version of the linearlized data values.

See [the LoadTensorFromFile() function](https://github.com/microsoft/onnxruntime/blob/master/csharp/test/Microsoft.ML.OnnxRuntime.Tests/InferenceTest.cs#L723) which parses the bench.in file for more details about the forma

[2019-06-28 18:56] ac4922 opened #1315 "How to populate onnx model with custom meta data map ?"
I have an array which I intend to append in the onnx file itself.

In my opninion, onnxruntime provides an option to retrieve custom meta data map/

from onnxruntime import InferenceSession
sess = InferenceSession(example)
meta = sess.get_modelmeta()
print("custom_metadata_map={}".format(meta.custom_metadata_map))
source - https://microsoft.github.io/onnxruntime/auto_examples/plot_metadata.html#sp

[2019-06-28 19:44] i-newton commented on #1311
i am closing the issue since it is related to https://github.com/dotnet/machinelearning

[2019-06-28 19:44] #1311 closed

[2019-06-28 20:42] faxu commented on #331
Closing this issue.

- Specifying execution provider via python API is tracked here: https://github.com/microsoft/onnxruntime/issues/486
- "smarter" execution provider selection (beyond greedy algo) may be a future feature

[2019-06-28 20:42] #331 closed

[2019-06-28 20:44] faxu commented on #643
@xadupre is this still active or has it been resolved?

[2019-06-28 20:45] faxu commented on #662
No intention to support.

[2019-06-28 20:45] #662 closed

[2019-06-28 20:49] faxu commented on #755
@harrysummer is there still intention to complete this PR?

[2019-06-28 20:52] harrysummer commented on #755
Hello. This is an issue. Not a PR. PR #778 is ready from my side. I can rebase it again if you want but the current build errors are not be caused by the PR as far as I understanding.

[2019-06-28 22:00] jignparm commented on #673
Closing this out -- taking in float[] and bitmap structs will probably cause confusion, especially  since Onnxruntime is heavily tensor-centric.

[2019-06-28 22:00] #673 closed

[2019-06-29 00:11] faxu commented on #1252
To summarize: the default python pkg published does not include tvm. If you need this, you'll have to get a build with it in order to use the build option.

[2019-06-29 00:11] #1252 closed

[2019-06-29 00:26] hariharans29 commented on #1313
Hi @fdwr

Don't you mean:

For 4D input, the output would be 5D and axis = -3 should be treated as -3 + 5 = 2 and axis = -2 should be treated as -2 + 5 = 3 ?

[2019-06-29 00:50] fdwr commented on #1313
@hariharans29 Indeed :). Updated typo in-place.

[2019-06-29 05:59] snnn commented on #1252
I guess he is saying, when --enable_tvm is enabled, the generated wheel is not usable because of lacking shared libraries.

[2019-06-29 13:57] fuzzyBatman opened #1319 "How to turn off warnings during execution in Python?"
I've tried setting SessionOptions and RunOptions but they have no effect.
I get output of the form

[code]

and then some.

Can someone help me with this?
Also, is it possible to redirect onnx warnings and errors to a file on the system?
Thanks.

[2019-06-30 06:25] xkszltl commented on #1162
Do we have any new findings for this?

[2019-06-30 08:27] xkszltl commented on #1162
Since only our code is compiled with tsan, not onnxruntime, there's a chance of false positive.
I'll silence it with `TSAN_OPTIONS=ignore_noninstrumented_modules=1` on our side for now.
Let me know if there's any interesting finding.

[2019-07-01 03:01] wm6057 opened #1321 ""Size Overflow" error when executing OrtCreateTensorWithDataAsOrtValue()"
Hi guys,

I have a Keras-Tensorflow based model and have converted to Onnx format.

When I'm trying to load it inside a **MFC

** project, "**Size Overflow**" error just came out.

But when I load the same Onnx model  in python by **onnxruntime.InferenceSession()**, it works!

The Model output Dim is :
Input 0 : type = 1
Input 0 : num_dims = 4
Input 0 : dim 0 = -1
Input 0 : dim 1 = 128
Input 0 : d

[2019-07-01 04:20] xkszltl opened #1322 "Typo"
**Describe the bug**

"session_op[t]ions"
https://github.com/microsoft/onnxruntime/blob/2698edbc98950c31edbae91af8ca049f61c46eb6/csharp/test/Microsoft.ML.OnnxRuntime.EndToEndTests.Capi/CXX_Api_Sample.cpp#L22

**System information**
- ONNX Runtime installed from (source or binary): source
- ONNX Runtime version: master

[2019-07-01 07:24] antonfr commented on #1229
@jignparm thanks a lot, remove --use_openmp and comment out onnx_backend_test_series.py works fine!

[2019-07-01 09:07] antonfr commented on #1229
One more question, how to add built from source onnxruntime to existing project in Visual Studio? I use project -> add nuget packages ->configure sources -> add. What folder should I select?

[2019-07-01 09:08] #1321 closed

[2019-07-01 09:18] doruime opened #1323 "How to use C API to do inference with models with multiple inputs and outputs？"
How to use C API to deal with models with multiple inputs and outputs？

[2019-07-01 09:56] Timonsc commented on #237
Hi I still have the same problem. What libraries exactly, the ones that are listed in setup.py? And do you mean the CMakeLists.txt in .../onnxruntime/cmake ?

[2019-07-01 16:02] jeffsaremi commented on #1155
Yes
Scott's solution is perfect for us and has been already helped us in a few cases.

[2019-07-01 16:02] #1155 closed

[2019-07-01 18:04] pranavsharma commented on #1323
Did you take a look at the header file? The Run() function takes multiple inputs and returns multiple outputs already. Take a look [here](https://github.com/microsoft/onnxruntime/blob/master/include/onnxruntime/core/session/onnxruntime_c_api.h#L196). Let us know which part of this function is not clear?

[2019-07-01 18:22] dashesy opened #1326 "DynamicSlice was a removed experimental ops. In the future, we may directly reject this operator"
**Describe the bug**
I use PyTorch to export a model with dynamic input size (using `torch.script`) and now I get this warning

So, if I export again in the future would it have issue with dynamic input size, or would normal `Slice` do the correct thing?

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- ONNX Runtime installed from (source or binary): nuge

[2019-07-01 18:55] pranavsharma commented on #1326
Slice operator (since opset 10) now supports dynamic inputs. Please use that instead.

[2019-07-01 18:58] pranavsharma commented on #1315
Please file this issue here https://github.com/onnx/sklearn-onnx/issues. Thanks!

[2019-07-01 18:58] #1315 closed

[2019-07-01 19:58] snnn commented on #1326
The "DynamicSlice" operator has been removed from ONNX.  But onnxruntime still has it, so you may ignore this warning.

[2019-07-01 20:19] dashesy commented on #1326
Thanks, nice to have a single Slice.

[2019-07-01 20:19] #1326 closed

[2019-07-01 21:29] #1313 closed

[2019-07-01 21:30] hariharans29 commented on #1314
Closed via #1317

[2019-07-01 21:30] #1314 closed

[2019-07-01 21:58] jignparm commented on #1229
To add a "built from source onnxruntime" to an existing project in Visual Studio, you need to first generate a NuGet package, which includes the runtimes you need (**.dll, .so or .dylib** files). If you build locally from master branch on a Windows operating system, you'll only get **.dll** files for Windows. If that is good enough for you, then you can run **msbuild** command below to generate a

[2019-07-01 22:39] ybrnathan commented on #1297
Those data are for performance profiling and debugging purpose. It should not be used in prod scenario since it impacts performance. Can you elaborate your scenario?

[2019-07-01 22:39] joyIntel commented on #1305
MSVC works fine. But while using Intel compiler, I am getting the following error.
![compile_error](https://user-images.githubusercontent.com/39498824/60470703-502f4700-9c16-11e9-8642-86901ee0836c.png)

Steps to reproduce -
git clone https://github.com/microsoft/onnxruntime.git
cd onnxruntime
git submodule update –-init -–recursive
mkdir build
cd build
cmake -A x64 -G "Visual Studio 15 2017" -T "I

[2019-07-01 22:59] faxu commented on #1322
@xkszltl can you please send a PR to fix it?

[2019-07-02 00:30] xkszltl commented on #1322
A little bit overkill but sure -_-|||

[2019-07-02 02:53] jignparm commented on #892
@dashesy, reviving this old issue, as part of quality cleanup. The C# running versus Python time is  close, at least in current master branch..

On the celeb model, for 100 iterations, C#=42.48 milliseconds on average, and Python=45.13 milliseconds.

If anything, C# is a bit faster for the same model.  It's possible that recent changes to C-API (which C# uses directly) may have closed the gap. I'm

[2019-07-02 02:53] #892 closed

[2019-07-02 03:05] skottmckay commented on #1305
All those errors seem to come from static_assert(std::is_pod<T>::value, ...). Given they're only happening for the Intel compiler, and they are coming from code in external libraries (re2 and protobuf), what potential change to onnxruntime would address the problem?

You could try and get more information on which specific types are involved by temporarily updating the code with the static_assert

[2019-07-02 03:32] skottmckay commented on #1319
What did you try setting in SessionOptions and RunOptions? The latest code has the ability to set the logging severity (was checked in a couple of weeks ago), but the 0.4 release only let you set the verbose logging level.

Another approach would be to fix the model so that it doesn't have unused initializers. Is that an option?

It should be possible to add a class that implements ISink and uses

[2019-07-02 04:25] #1322 closed

[2019-07-02 06:41] antonfr commented on #1229
@jignparm with --build_csharp flag I got following errors (see log_file for full log)
[log_build2.zip](https://github.com/microsoft/onnxruntime/files/3348632/log_build2.zip)
Though without this flag everything works fine. Any other ways to create onnxruntime nugget package on macOS?

[2019-07-02 09:39] xadupre opened #1331 "Inconsistent results foor two consecutive results or crash with a specific ONNX model"
**Describe the bug**
The memory optimization fails to produce consistent results over two consecutive runs or fails.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- ONNX Runtime installed from (source or binary): from source (python %~dp0onnxruntime\tools\ci_build\build.py --build_dir %~dp0onnxruntime\build\Windows --config Release --build_wheel --numpy

[2019-07-02 17:51] joyIntel commented on #1305
I don't think static_assert() will help. As far as I know , the second argument must be a string literal.

[2019-07-02 19:09] minus-one opened #1332 "SSD-Resnet34 model load fails with CPU-MKL-DNN backend"
**Describe the bug**
ssd-resnet34 onnx model fails to load on onnxruntime with mkl-dnn as backend. Fails with the following error:
[code]
The model loads correctly with onnxruntime as GPU as backend.
The model also loads correctly with a CPU backend from the pypi builds.
In all the cases it does throw warnings like
[W:onnxruntime:Default, graph.cc:2227 CleanUnusedInitializers]

**System informatio

[2019-07-02 19:13] snnn commented on #1332
@guschmue @jywu-msft FYI

[2019-07-02 20:32] jignparm commented on #1229
From the log files, it seems like some Mono  header files are getting pulled into the build, even for the Native C++ library build, when you use the **--build_csharp** flag on MacOS. The C# dlls are usually compiled on Windows in our build systems, since they are cross-platform.

} png_time;

Since you are able to build the native dylib library successfully without the **--build_csharp** flag, ano

[2019-07-02 20:34] yuslepukhin commented on #1331
@xadupre The python version worries me a bit. My tests did not often worked until I downgraded it to 3.6.7.

What's pandas version?

[2019-07-02 21:01] yuslepukhin commented on #1331
Yes, I have a repro in a debug build:

![image](https://user-images.githubusercontent.com/11303988/60546315-e3798280-9cd1-11e9-8924-fb7b335768dc.png)

[2019-07-02 21:05] antonfr commented on #1229
Thanks for your reply @jignparm. As for the first option, path to my onnxruntime library is /Users/anton Is it the root to my build directory?
As for the second option, though I got `2019-07-02 11:06:03,836 Build [INFO] - Build complete` message, both libonnxruntime.dylib and Microsoft.ML.OnnxRuntime.dll aren't available.

[2019-07-02 21:42] jignparm commented on #1229
To generate a dylib file, add the **--build_shared** flag to the build script. It'll generate the dylib in the location below. The build configuration in this case is RelWithDebInfo, but other options could be Debug or Release.

The build directory root, in the example path below, would be **/onnxruntime/build**. If building C# independently, set OnnxRuntimeBuildDirectory to this value before star

[2019-07-02 21:47] jywu-msft commented on #1332
@sreekanth-yalachigere , can you please take a look? i'm assuming this is with your latest subgraph changes.

[2019-07-02 21:56] minus-one opened #1334 "ssd-mobilenet model load fails with GPU backend"
**Describe the bug**
Source of ssd-mobilenet: https://zenodo.org/record/3163026/files/ssd_mobilenet_v1_coco_2018_01_28.onnx (taken via MLPerf/inference https://github.com/mlperf/inference/tree/master/v0.5/classification_and_detection)

So this model correctly loads with CPU backend. It fails with the GPU backend. I tested it with the pypi build and a more recent master build with cuda 10.0

I try

[2019-07-03 11:18] adriacabeza commented on #1095
I tried tar, tar.gz, zip and 7z and the compression rate was really low for all of them.

 However, not long ago I was told I cannot share the model for external issues, so I am trying to replicate it by myself with another dataset.

[2019-07-03 13:19] ScoreMe opened #1338 "ONNX Runtime wrong predictions for GradientBoostingClassifier and XGBClassifier"
[gbt_audit_onnx.py.txt](https://github.com/microsoft/onnxruntime/files/3355021/gbt_audit_onnx.py.txt)
[gbt_audit_onnx_result.txt](https://github.com/microsoft/onnxruntime/files/3355041/gbt_audit_onnx_result.txt)

**Describe the bug**
ONNX Runtime provides uncorrect predictions (always class 0) scoring a model exported from scikit-learn.

In particular, a model is trained using scikit-learn and it

[2019-07-03 16:48] xadupre commented on #1037
Fixes with #1151.

[2019-07-03 16:48] #1037 closed

[2019-07-03 18:06] joyIntel commented on #1305
@skottmckay, @snnn  I don't think static_assert() will help. As far as I know , the second argument must be a string literal.

I am assuming the followings may cause the trouble -

onnxruntime\cmake\external\re2\util\sparse_arry.h - `PODArray <IndexValue>`
onnxruntime\cmake\external\re2\re2\simplify.cc - `PODArray<Regexp*>`
onnxruntime\cmake\external\re2\re2\set.cc - `PODArray<re2::Regexp*>`
onnxr

[2019-07-03 18:26] pranavsharma commented on #1162
Is this impacting any use case or integration efforts? I didn't catch that. This will be lower priority for now.

[2019-07-03 19:03] snnn commented on #1305
There are separated things. I think the original issue was for how to use msbuild. Now you are asking support for Intel c++ compiler.
Would you please create an new issue or change the title of this one please?

[2019-07-03 20:00] joyIntel commented on #1305
@snnn You are right. I will close this one and create a new issue. Sorry, it was my bad !

[2019-07-03 20:00] #1305 closed

[2019-07-03 21:01] maondra commented on #1273
It should be possible to reproduce this issue using script from https://pypi.org/project/onnxruntime-gpu/

[2019-07-03 21:43] joyIntel opened #1341 "Support for Intel Compiler"
I am trying to build onnxruntime using Intel compiler with the following commands -

git clone https://github.com/microsoft/onnxruntime.git
cd onnxruntime
git submodule update –-init -–recursive
mkdir build
cd build
cmake -A x64 -G "Visual Studio 15 2017" -T "Intel C++ Compiler 19.0" ..\cmake
msbuild "onnxruntime.sln" /t:Rebuild /p:Configuration=Release /m

I am getting the following error.
![comp

[2019-07-03 21:59] csteegz opened #1342 "Master can't build due to TVM"
**Describe the bug**
On master Submodules can't be init'd.

[code]

[2019-07-03 22:32] xkszltl commented on #1162
No, I'm just asking if there's any thoughts on top of your mind.
Feel free to close if no.

[2019-07-03 23:28] csteegz commented on #1342
Ah - it's because the upstream changed.

[2019-07-03 23:28] #1342 closed

[2019-07-04 00:45] pranavsharma commented on #1162
I haven't investigated it, so don't have any thoughts yet.

[2019-07-04 02:18] skottmckay commented on #1331
I believe your model is bad.

Both the Scan nodes in the model have 2 outputs, and the output shape for both outputs in both Scan nodes is {'None', 'None'}. The problem is that 'None' is not a special name in ONNX and is treated as a variable name, which equates to the model saying all 4 outputs have exactly the same shape, and not to all 4 having unknown shapes.

Please see https://github.com/onn

[2019-07-04 04:24] #1162 closed

[2019-07-04 06:02] xadupre commented on #1331
Ok I see. I did not about the variables for shapes. I'll try to find the proper values. I faced other issues when leaving the values empty but I don't remember which ones. I was confused by the fact the same graph was working with less nodes so it did not seem related to the way I defined nodes. The allocation planner should be able to detect this kind of inconsistencies? From what you say, I gues

[2019-07-04 06:26] ZeroCool11000 commented on #1203
Ok i was able to build onnxruntime with the comment like

./build.sh --use_cuda --cudnn_home /usr --cuda_home /usr/local/cuda --use_tensorrt --tensorrt_home /usr/lib/x86_64-linux-gnu/ --update --build

it works with --update --build but without it am getting this kind of error

[2019-07-04 07:19] doruime commented on #1323
Thank you. I have multiple inputs and read data from memory, how can I create OrtValue with multiple inputs?

[2019-07-04 09:40] oohlala1204 opened #1344 "System.IO.FileLoadException: Could not load file or assembly 'System.Runtime.CompilerServices.Unsafe,"
When I load the onnx model in the ASP.NET application, an error occurred:
[code]
It seems that the vision of  "System.Runtime.CompilerServices.Unsafe.dll" is wrong.

 I install the onnx runtime via NuGet, and here the onnx runtime is installed as a package reference.
In the csproj file, I find that:
[code]
The "System.Runtime.CompilerServices.Unsafe.dll"  isn't included in the .csproj file.

Compa

[2019-07-04 10:54] ZeroCool11000 opened #1345 "Compiler Error"
Compiler Error for MNIST example and i don't know how to handle it

......

/home/mgruber/Filestorage/software_development/project_ssp/ssp_blob_classification_onnx/ssp_blob_classification_onnx.cpp: In function ‘int main(int, char**)’:
/home/mgruber/Filestorage/software_development/project_ssp/ssp_blob_classification_onnx/ssp_blob_classification_onnx.cpp:38:56: error: no matching function for call

[2019-07-04 11:27] skottmckay commented on #1331
I found out today that being able to use '*' or an empty string for dim_param was accidentally added to the ONNX spec and that text is slated for removal in a pending PR, so having no shape information would be best. Alternatively you could use a unique string in the dim_param for each unknown value instead of using 'None' in multiple places.

As the dim_param is essentially a variable name, I'm n

[2019-07-04 17:13] hossein1387 commented on #1297
I am trying to measure performance before and after I apply my optimization. So I want to mesaure Flops, executation time, model size. What is the best way to do this?

[2019-07-04 17:52] hossein1387 commented on #1256
Apparently, right now the build system only supports ARM 64bit: https://github.com/microsoft/onnxruntime/blob/a8ff209ab6587d6276d7b30b9dd861d27320b3af/tools/ci_build/build.py#L343

So I tried to install the generated wheel on NVIDIA Jetson TX2 which has 4 64bit ARM v8 cpus and got the following error:

`onnxruntime-0.4.0-cp35-cp35m-linux_armv7l.whl is not a supported wheel on this platform.
`

cpu

[2019-07-05 05:10] snnn commented on #1323
One ortvalue is only for one input.

[2019-07-05 09:48] xadupre commented on #1331
I chose empty shapes. It works but I think it would better with some error messages. I'll close the issue.

[2019-07-05 09:48] #1331 closed

[2019-07-05 11:48] xadupre opened #1348 "Performance optimization using inplace"
**Description**

When the output of one node is used by only one another (activation function in a neural network), the runtime is sure that this output will only be used once and it reuse the same container instead of allocating a new one. This information could be stored in OpKernelContext so that it is available in method Compute.of every node implementation. Many allocations could be avoided a

[2019-07-05 12:13] commanderka opened #1349 "Error when linking libonnxruntime_mlas.a(SconvKernelSse2.S.o) with customized cmake build file"
**Describe the bug**

I built onnxruntime as described by running the build.sh script.
When linking against libonnxruntime_mlas.a into my shared lib I get the following error message:

`libonnxruntime_mlas.a(SconvKernelSse2.S.o): relocation R_X86_64_PC32 against symbol MlasConvPostProcessFloatSseFilter4Output1' can not be used when making a shared object; recompile with -fPIC`

CMake does not look

[2019-07-05 18:24] snnn commented on #1349
onnxruntime has a C API and dynamic lib, could you use that instead?