[2019-12-24 01:52] TianzhongSong commented on #2434
@RandySheriffH Awesome job, speed of `topk` has been greatly improved. Thank you.

[2019-12-24 06:02] TianzhongSong commented on #2434
@RandySheriffH

Returns wrong results when the size of the given dimension is too large.

Pytorch script:

    import torch
    import torch.nn as nn
    import numpy as np

    class Model(nn.Module):
        def __init__(self, k=3):
            super(Model, self).__init__()
            self.k = k

        def forward(self, x):
            v, ind = x.topk(self.k, dim=1)
            return v, ind

[2019-12-24 06:15] #2723 closed

[2019-12-24 07:40] sw6y15 commented on #2571
Many thanks for your answer. And I think this feature are also in other EP such as openvino. I've found if the model has the op not support in the EP, it will totally roll back to use basic cpu one.

[2019-12-24 07:40] #2571 closed

[2019-12-24 07:57] tinchi opened #2732 "Support s3 file paths"
**Is your feature request related to a problem? Please describe.**
- Currently Dockerfile(https://github.com/microsoft/onnxruntime/tree/master/dockerfiles) only support model that are already on the container's file system.
- Achieve feature parity with TensorFlow serving

**Describe the solution you'd like**
Add support for s3 path to model_path option. Example:
``` --model_path s3://bucketname/p

[2019-12-24 13:30] nfishe opened #2733 "Passing a python scalar list throws off `input_def_list`"
**Describe the bug**
Passing a python scalar list as a value in the input feed throws:

[code]

**Urgency**
None.  Attemping to remove NumPy from base for experimental reasons

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  `Linux 89b988bab19b 4.9.184-linuxkit #1 SMP Tue Jul 2 22:58:16 UTC 2019 x86_64 GNU/Linux` (running in a container)
- ONNX Runtime installed

[2019-12-25 05:53] yueyihua opened #2735 "Build error in CentOS"
Build Error in CentOS：
['/usr/bin/cmake3', '--build', '/home/yyh/3rdparty/onnxruntime/build/Linux/Debug', '--config', 'Debug']
[  8%] Built target libprotobuf
[ 18%] Built target libprotoc
[ 18%] Built target protoc
[ 18%] Built target onnx_proto
[ 20%] Built target re2
[ 21%] Built target onnxruntime_session
[ 25%] Built target onnxruntime_optimizer
[ 26%] Building CUDA object CMakeFiles/onnxrunt

[2019-12-25 07:15] kitterive commented on #1621
I also need this features,      Will the next version be available？ thanks.

[2019-12-25 17:25] emilianavt commented on #2463
I worked around this issue by modifying `torch/onnx/symbolic_opset11.py` as follows.

Original code in `_interpolate`:

            empty_tensor = g.op("Constant", value_t=torch.tensor([], dtype=torch.float32))
            return g.op("Resize",
                        input,
                        empty_tensor,  # roi only takes effect whith coordinate_transformation_mode="tf_crop_and_resize"

[2019-12-25 19:25] pcaselles commented on #2700
I've linked a wrong model with wrong input tensors shape, I aplogise.

You can use the one uploaded in the modelzoo, or the one you provided in this post. It happens the same, in fact once I discovered this error, I've been using that model to be sure is well generated.

[2019-12-26 01:38] #2724 closed

[2019-12-26 03:58] hariharans29 commented on #2700
@pcaselles - AFAIK, there is no keras Mask RCNN model in the model zoo. There is a Mask RCNN (from PyTorch), could you please provide a link to the exact model to avoid confusion ?

I was able to run the Mask RCNN model a couple of times provided after conversion by the keras-onnx folks using the same session instance. So the problem might be with the specific model you are referring to. So a link

[2019-12-26 11:24] JustLuoyu opened #2741 "Abnormal performance of SetIntraOpNumThreads(1)"
**Describe the bug**
After adding "sessionops.SetIntraOpNumThreads(1);" the CPU usage of my onnxruntime application went up to 100%. On the contrary, the default threads number only occupies 15% CPU.
What's going on? BTW 100% usage is slower than 15%. Is onnx wasting my CPU time?

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win10 64
- ONNX Runtime installed fr

[2019-12-26 14:26] YanYas opened #2742 "Nuget PDB files should not be included in the nuget"
I appreciate that debug symbols are important for [developers ](https://github.com/microsoft/onnxruntime/issues/1399) but they Symbol packages can be published separately, saving a lot of space for the reuse of the Nuget. as mentioned [here](https://github.com/microsoft/onnxruntime/issues/102).
To see how to publish the symbol packages, there is a guide here.
https://docs.microsoft.com/en-us/nuget

[2019-12-26 17:15] snnn commented on #2741
The  default binary on openmp for parallization. For those execution providers, we need to use the openmp enviroment variable to tune the performance.

The most widely used enviroment variables are:

OMP_NUM_THREADS=n
Controls the thread pool size

OMP_WAIT_POLICY=PASSIVE/ACTIVE
Controls whether thread spinning is enabled
PASSIVE is also called throughput mode and will yield CPU after finishing cu

[2019-12-26 17:23] jywu-msft commented on #2684
FYI,
the build error you encountered in the latest release was fixed in master by
https://github.com/microsoft/onnxruntime/commit/ebf23744eb1e587e12e3459b1891a89a840fc687

thanks again for documenting the steps and reporting the error!

[2019-12-26 17:59] hossein1387 commented on #2684
Awesome!

[2019-12-26 18:51] cyrusbehr opened #2743 "Unable to perform inference with converted Insightface resnet 100 model."
I am trying to convert the Insightface resnet 100 model (` LResNet100E-IR,ArcFace@ms1m-refine-v2`) which can be found [here](https://github.com/deepinsight/insightface/wiki/Model-Zoo) to work with onnxruntime.

I use the following conversion python script to convert the model. The model converts successfully.

[code]

Next, I try to load the model in C++ using the following code. Note, I am follow

[2019-12-27 00:22] faxu commented on #2151
@jinfagang - please check the 1.1 release which includes several new CUDA ops.

[2019-12-27 01:18] ankane opened #2746 "C API Features"
Hi, I'm hoping to bring the [Ruby API](https://github.com/ankane/onnxruntime) to feature parity with the [Python API](https://microsoft.github.io/onnxruntime/python/api_summary.html), but there are a few features that I'm having trouble finding in the C API.

1. Device - `onnxruntime.get_device()`
2. Model metadata - `onnxruntime.ModelMetadata` class
3. File path for profiling - the return value o

[2019-12-27 02:21] JustLuoyu commented on #2741
Ok, I can see why now. But yielding all my cores of CPU, I can't agree with this behavior.

And the OpenMP environment variables are used in runtime or build from source?

[2019-12-27 03:18] yangia commented on #2463
I didn't use torch.split. I silced with `for`, and then concatenated with torch.cat. The conversion of torch.split seems to have something wrong with it. Not sure.

[2019-12-27 03:19] yangia commented on #2463
Thank you for your reply. I will try it later.

[2019-12-27 03:35] snnn commented on #2741
By default openmp works in such a way.  You could build onnxruntime from source without the "--use_openmp" flag, the it will be gone.

[2019-12-27 03:56] JustLuoyu commented on #2741
In fact, I do want to use OpenMP to tune the calculation performance. The problem is that I couldn't see the difference while increasing the threads number. My CPU has 12 cores and 24 threads. Increasing the threads number from 2 to 24, the processing time and CPU usage seem the same to me, nothing changed. Only when the threads number equals to 1, the processing time doubles and CPU usage becomes

[2019-12-27 09:24] byfate opened #2750 "Is python onnxruntime-gpu slower than pytorch cuda ?"
**Describe the bug**
I export pytorch alexnet onnx example ,and run it using onnxruntime,and I found that onnxruntime-gpuis 10x slower than pytorch-gpu

**Urgency**
[code]

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 16.04
- ONNX Runtime installed from (source or binary):onnxruntime-gpu 1.0.0
- ONNX Runtime version:1.5.0
- Python version:3.5
- Visu

[2019-12-27 10:14] JustLuoyu opened #2751 "64-bit dll is 100% faster than 32-bit dll"
**Describe the bug**
To my knowledge, the 64-bit program only runs faster when dealing with a lot of 64-bit data. But I don't use any 64-bit data types. Does OnnxRuntime convert my data type to 64-bit data by default?

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win10 64
- ONNX Runtime installed from (source or binary): source
- ONNX Runtime version: v1.1.0
-

[2019-12-27 10:54] 24hours commented on #2750
you have preallocated input into gpu memory
```dummy_input = torch.randn(10, 3, 224, 224, device='cuda')```

``` ort_session.run``` need to allocate into input gpu before running, resulting in slower performance.

as a comparison, I got
I have same speed ( 1ms )  for onnxruntime and torch for Alexnet on Quadro RTX 6000.
However,
Resnet50 torch ( 6 ms ) , onnxruntime ( 3 ms )

batch size = 1, image

[2019-12-27 13:01] iftaken opened #2752 "How to Create Tensor from other types use c++ API ?"
**Is your feature request related to a problem? Please describe.**
Hi, I am using the C API of Onnx Runtime. But I meet a question about how i can create a Tensor from other types data.

I train a ONNX model from pytorch, and I want to use the c++ API in ONNX Runtime.

the python code:
[code]

and I want to use in c++, my code is:
[code]
I don't kown how to use the onnx runtime and create differen

[2019-12-27 18:02] snnn commented on #2741
See: https://github.com/microsoft/onnxruntime/blob/master/include/onnxruntime/core/platform/threadpool.h#L66

When you SetIntraOpNumThreads to 1 , the tp parameter for that function will be always NULL. Then it will go to the lower part and use OpenMP for parallelism.

[2019-12-27 19:13] pcaselles commented on #2700
You can use this model, the exact that is giving me problems: https://we.tl/t-0jtXaTyxI3
This model is from tensorflow/keras using this: https://github.com/onnx/keras-onnx

Are you using gpu acceleration? What is more wird is that sometimes works and doesn't give any errors, but only few times.

[2019-12-27 23:21] snnn commented on #1775
resolved in #2744

[2019-12-27 23:21] #1775 closed

[2019-12-27 23:22] snnn commented on #1601
resolved in #2744

[2019-12-27 23:22] #1601 closed

[2019-12-27 23:30] snnn commented on #2498
#2747

[2019-12-27 23:30] #2498 closed

[2019-12-27 23:53] snnn commented on #2664
Will close it when the wheels are published.

[2019-12-28 00:44] solarflarefx opened #2754 "C# API Direct GPU transfer"
**Is your feature request related to a problem? Please describe.**
It would be very beneficial if there were a way to feed in data to a deep learning model directly from the GPU.  I work within a pipeline where large data is already on the GPU and I want to avoid host copies.

I am working within MS Visual Studio and .NET (in particular C#).

**System information**
- OS Platform and Distribution (

[2019-12-28 02:28] #1433 closed

[2019-12-28 11:55] fuzzyBatman commented on #1319
It seems to have been added to onnxruntime.
I did an update with pip and all the warnings disappeared.

[2019-12-28 11:56] #1319 closed

[2019-12-28 15:00] vadimkantorov opened #2756 "Shape mismatch warnings when using dynamic axis for time dimension"
I'm exporting my PyTorch-trained convolutional speechrec model to ONNX, then I'm using onnxruntime (cpu) to run inference on a batch.

When using dynamic axis for the time dimension, I'm experiencing these strange warnings:

[code]

Snippet to repro:
[code]

model.onnx on my OneDrive: https://1drv.ms/u/s!Apx8USiTtrYmqfdiyT5heiUnoaCVNw?e=1Tsmvk

onnxruntime.__version__ == `1.0.0`

[2019-12-29 03:19] hariharans29 commented on #2743
Hello,

It looks like there has been MxNet to ONNX conversion issues.

The error message basically means there is an operator in the computation graph that has inputs/attributes bound to different types (float and double in this case), when it is supposed to be the same type. I don't know which specific operator is affected, but as an illustrative example - let's take the And op (https://github.co

[2019-12-29 03:36] hariharans29 commented on #2725
Closing this out as this is not an ORT issue per-se. Please re-open if you have further questions. Thanks.

[2019-12-29 03:36] #2725 closed

[2019-12-30 02:52] bitnick10 opened #2757 "[C++] How to batch predict using 1.x"
I'll answer this myself. Any improve advice and suggestions will be appreciated.

[2019-12-30 02:56] bitnick10 commented on #2757
First,since onnxruntime can load onnx from buffer,go load onnx file and change dim param.

[code]

[2019-12-30 03:00] bitnick10 commented on #2757
And one batch predcit example.
[code]

[2019-12-30 04:03] amjbara commented on #827
Any update on this?

[2019-12-30 04:37] hariharans29 commented on #2757
Hello - is this a duplicate of https://github.com/microsoft/onnxruntime/issues/2725 (and the referenced issues within the issue thread) ?

[2019-12-30 04:39] hariharans29 commented on #2756
Hello - are your results correct though (despite the warnings) ?

[2019-12-30 04:42] hariharans29 commented on #2700
Yes, I was using GPU acceleration. I ll try and see if I can run inferencing for about 10 times sequentially.

Is there a specific input that it errors out on ? If so, sharing that would help.

[2019-12-30 04:53] bitnick10 commented on #2757
Yes @hariharans29 .I'll close it a few hours later. Thanks help @hariharans29.

[2019-12-30 05:47] hariharans29 commented on #2757
Thanks for confirming. I ll close it for you.

[2019-12-30 05:47] #2757 closed

[2019-12-30 06:23] skottmckay commented on #2756
Looks like a converter issue with Slice nodes. The 3 Slice nodes are claiming that the output shape matches the input shape. e.g. Slice_10, Slice_15 and Slice_20 all have input and output of shape {B, T} which is incorrect given the parameters to the Slice op.

The output shape should be {B, 1} for Slice_10 and {B, T-1} for the other two.

A symbolic name is assumed to only ever have one value. We

[2019-12-30 10:07] skottmckay commented on #2756
Actually it's an ONNX shape inferencing bug. The Slice shape inferencing first copies all the dimension values/names from the input to the output, but bails out on updating something if it's a symbolic value. It should instead clear the dimension so it is put in a state of unknown. The following code should be clearing any dim_param prior to the 'continue'.

[code]

Luckily your model works as it

[2019-12-30 10:39] vadimkantorov commented on #2756
Yes, it was exported from PyTorch. It traces a LogFilterBank frontend that does preemphasis and thus uses T-1 tensor as intermediate value. It seems to still work correctly, yes.

[2019-12-30 10:55] skottmckay commented on #2756
@hariharans29 could you take a look? Based on the history I think you added the ONNX Slice shape inferencing change in question.

Is the following the correct fix? Works in my local hacked up testing.

[code]

[2019-12-30 11:13] hariharans29 commented on #2756
Sure, I can take a look. Thanks for your investigation.

[2019-12-30 16:18] cyrusbehr commented on #2743
Hi @hariharans29
Thank you I can open an issue with the MXNET team.

I was using onnx v1.2.1, as specified by this tutorial: https://mxnet.apache.org/api/python/docs/tutorials/deploy/export/onnx.html

[2019-12-30 18:23] zeryx commented on #2757
Hey bitnick this looks rad, do you know if this same workflow would work equivalently with the python API?

[2019-12-31 00:36] bitnick10 commented on #2757
Thanks @zeryx. This predict funtion well tested in my project, and runs as fast as keras predict only in single thread. You can modify this code and write benchmark code as your wanted.

[2019-12-31 11:30] Armin234 opened #2761 "Error Build --use_dml"
Hi,

I'm trying do build the DirectML Provider, but running the commad
build.bat --config RelWithDebInfo --build_shared_lib --parallel --use_dml

the build process stops with the following error:

......
word_conv_embedding.cc
  cpu_contrib_kernels.cc
  element_wise_ops.cc
  unique.cc
  activations.cc
  element_wise_ops.cc
  unique.cc
  LINK : Es wurde ein mit /GL kompiliertes MSIL .netmodule oder

[2019-12-31 13:26] tmannen opened #2762 "Using onnxruntime perf test"
I'm trying to use a custom model and test it with perftest. I used PyTorch to create the model (it's a pretrained ResNet50) and import it to onnx. I tested the model with onnxruntime in python and it works. I created random data by using onnx.numpy_helper and numpy like this:

[code]

The folder structure is like this:

[code]

and then I ran the command (I'm using tensorrt and it works normally):

[2019-12-31 13:30] nietras opened #2763 "Huge amount of managed allocations in C# API"
**Describe the bug**
This is a performance issue. The C# API is unfortunately poorly designed and implemented when it comes to managed allocations for each `InferenceSession.Run`. There is no zero managed allocations path, this is sorely needed for high performance/latency sensitive scenarios.

**Urgency**
We need this within a month. It is likely we will have to do our own C# P/Invoke around the

[2019-12-31 14:31] luto65 opened #2764 "Raspberry Pi Zero W"
**Is your feature request related to a problem? Please describe.**
I need to build the ONNX runtime for a Raspberry Pi Zero W.
cpuinfo:
[code]
512 MB memory

**System information**
- ONNX Runtime version (you are using): none working yet

**Describe the solution you'd like**
I would like to be able to run the inference with an onnx model on the raspberry pi zero w

**Describe alternatives you've c

[2019-12-31 15:34] nietras commented on #2763
A `BenchmarkDotNet` example running a simple MNIST is shown below. Note we try to "cache" as much as possible.

[code]
Note you should be able to run this with any `onnx` model, as an example and since main issue here is allocs per `Run` one can use the simple MNIST model as in https://github.com/onnx/models/tree/master/vision/classification/mnist

A quick run of this gives using Microsoft.ML.Onnx

[2019-12-31 22:26] snnn commented on #2762
Please rename "input0.pb" to "input_0.pb"

[2019-12-31 22:39] tmannen commented on #2762
Ahh, I'm an idiot. I'll try it out next time I'm at my work computer.

[2019-12-31 22:53] snnn commented on #931
I just gave a try, it's extremely hard. By default vcpkg builds protobuf but protobuf isn't designed to work well in that way.

[2019-12-31 22:53] snnn commented on #2762
It's our fault. We should document it better.

[2020-01-01 08:49] luto65 commented on #2764
Following the BUILD.md I have installed cmake 3.12.3 however I get the error
CMake 3.13 or higher is required.  You are running version 3.12.3

Could you please specify how to build using version 3.12.3 ?

[2020-01-01 09:05] luto65 commented on #2764
The change happened between April 3 and April 21:
In rel-0.3.1 (April 3)  the Cmake specified was version 3.11,
in the following release rel-0.4.0 of April 21 was already specified version 3.13
Can you please update the BUILD.md accordingly ?
Thanks

[2020-01-01 09:34] deimsdeutsch commented on #1049
I am facing the same issue and its quite ridiculous. We cannot change the cuda version of because of dependencies. Can you guys release a build for cuda 9.0. Also the naming-conventions no way specify which version is compatible with which version of cuda leading to too much confusion.

[2020-01-01 10:31] deimsdeutsch opened #2765 "onnxruntime-gpu installing 0.4.0 instead of latest 1.1.0 version on ubuntu 16.04"
**Describe the bug**
Unable to install onnxruntime-gpu v 1.1.0

**Urgency**
If there are particular important use cases blocked by this or strict project-related timelines, please share more information and dates. If there are no hard deadlines, please specify none.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- ONNX Runtime installed from (

[2020-01-01 17:17] snnn commented on #2765
Please update your pip

[2020-01-02 03:24] ankane opened #2767 "Packaging with 1.1.0 Releases"
Hi, it looks there were some changes with packaging for the 1.1.0 [release](https://github.com/microsoft/onnxruntime/releases).

1. Linux - was packaged as `zip` wrapping a `tgz`, but has since been changed to `tgz`
2. Mac - packaged as `zip` wrapping a `tgz`
3. Windows - packaged as `zip` wrapping a `zip`

Previous releases didn't have the extra `zip` wrapper, which seems redundant.

It looks lik

[2020-01-02 07:35] deimsdeutsch commented on #2765
Which version of onnxruntime-gpu is compatible with cuda 9.0 ?

[2020-01-02 08:37] pcaselles commented on #2700
No, with different inputs always appear the same error.

[2020-01-02 09:36] Armin234 opened #2769 "static library"
Hi,

what are the parameter for build.bat to build the static library ?

Running build.bat without --build_shared_lib like
build.bat --config RelWithDebInfo --parallel --build_csharp

is generating a DLL.

[2020-01-02 09:42] Armin234 commented on #1621
I need this feature too ... preferably mapping the Input/Output to a OpenCL Memory

[2020-01-02 10:14] hariharans29 commented on #2764
Hello - Thanks for the suggestion.

But isn't Build.md already stating that CMake 3.13 or higher is required here - https://github.com/microsoft/onnxruntime/blob/master/BUILD.md#getting-started-build-the-baseline-cpu-version-of-onnx-runtime-from-source ?

[2020-01-02 10:20] hariharans29 commented on #2764
You are right.

[2020-01-02 10:23] hariharans29 commented on #2765
@deimsdeutsch - https://github.com/microsoft/onnxruntime/blob/v0.5.0/BUILD.md#windows-cuda-build. v0.5.0 is compatible with CUDA 9.1.

[2020-01-02 10:25] deimsdeutsch commented on #2765
@hariharans29
Thanks for replying.

We cannot migrate to cuda 9.1 as all our builds work with cuda 9.0. Is it possible to release a cuda 9.0 runtime ?

[2020-01-02 10:26] hariharans29 commented on #2767
FYI @RyanUnderhill

[2020-01-02 11:10] hariharans29 commented on #2743
I see. Perhaps onnx v.16 should have caught this invalid model as the commit I mentioned is fairly recent and should have gone out with the latest release.

[2020-01-02 11:54] nietras commented on #2587
@snnn any status on this? How can I compile with VS 16.4 or later? As I showed I could not find any CI builds showing how this is done or that it works?

[2020-01-02 11:56] nietras commented on #2742
Just a quick note, we prefer having these symbols part of the package. It makes a lot of things easier. The overhead is also not that big compared to the size of dependencies.

[2020-01-02 14:04] hariharans29 commented on #2765
Going based on the comment in https://github.com/microsoft/onnxruntime/issues/2176, we don't plan to release a build for cuda 9. But you can always try building from source.

[2020-01-02 14:06] hariharans29 commented on #2756
Looks like there are some ONNX build issues meaning it could take awhile to get the fix PR merged and consume it in ONNXRuntime. I ll close this issue when the fix PR is merged in ONNX and consumed here.

[2020-01-02 14:53] deimsdeutsch commented on #2765
@hariharans29
We will just have to drop onnxruntime from our product line. Every framework supports multiple versions of cuda. I don't know what is wrong with your releases.

[2020-01-02 17:18] snnn commented on #2587
All of our CI build have been migrated to VC 16.4 except tensorrt.

[2020-01-02 18:54] snnn commented on #2769
No. Not supported yet.

[2020-01-02 18:56] snnn commented on #2769
If you need it now, you can checkout our source code and integrate your code into our build system(the CMakeLists.txt and the others).

[2020-01-02 19:01] snnn commented on #1049
Please pardon me, tensorflow, like us, only support CUDA 10.0.  see: https://www.tensorflow.org/install/gpu

[2020-01-02 22:57] snnn commented on #2767
I updated the Linux release.

[2020-01-02 23:29] snnn commented on #2664
Just checked in one more change, however, there is an on-going issue in our nightly build pipeline,  the new packages are still not available for downloading.  I'll update this thread when the issue is fixed.

[2020-01-03 11:04] #2762 closed

[2020-01-03 11:23] nietras opened #2773 "Native memory leak in `OrtRun` using TensorRT"
**Describe the bug**
It appears there is a bug causing a consistent native memory leak when calling `Run` using the TensorRT execution provider.

**Urgency**
High. This is blocking any production use of OnnxRuntime for us. We need TensorRT to be able to run our models real-time and the memory leak is quickly causing us to run into memory issues.

**System information**
- OS Platform and Distributi

[2020-01-03 11:29] nietras commented on #2773
Running with:
[code]
That is with CUDA instead of TensorRT shows that CUDA version also has a memory leak. While ~2 bytes is small this does accumulate in production too.

[code]
| Method |     Mean |    Error |   StdDev | Gen 0 | Gen 1 | Gen 2 | Allocated | Allocated native memory | Native memory leak |
|------- |---------:|---------:|---------:|------:|------:|------:|----------:|---------------

[2020-01-03 11:35] nietras commented on #2773
Running with none of these providers:
[code]
that is with default execution provider when built with cuda, cudnn, tensorrt support (I do not know which path/execution provider is used then). Then the native memory leak disappears. However, the execution time is way above our limits.

[code]
| Method |     Mean |     Error |    StdDev | Gen 0 | Gen 1 | Gen 2 | Allocated | Allocated native memory |

[2020-01-03 18:38] snnn commented on #2773
Do you know which thread the test function "public float Run()" will be in? It's always the same thread or it could be a new thread created by the benchmark framework?

[2020-01-03 19:15] nietras commented on #2773
@snnn if you run a simple loop around the run this will still leak. And I am pretty sure this occurs on a single thread in BDN. No mattter what calling `OrtRun` repeatedly on a single thread leaks.

[2020-01-04 15:18] YanYas commented on #2742
Hi and Happy New year @nietras

I think that the decompressed package now weighs in at 578MBs with 2 symbol packs and the included MacOS dylib.

As @hanabi1224 explains [here](https://github.com/microsoft/onnxruntime/issues/102#issuecomment-462061706) the size is an issue for redistribution to users rather than developers. I make simplification packages for end user tools so the debugging portion

[2020-01-04 20:15] #2769 closed

[2020-01-05 18:19] patlevin commented on #2761
It would be helpful to at least include the Visual Studio version.
I just ran a build using the same settings and --cmake_generator "Visual Studio 16 2019" and it compiled just fine.
The linker error usually only pops up if there are conflicting settings between the compiler ("whole program optimisation") and the linker ("Link time code generation").
Have you tried a rebuild without the --parallel

[2020-01-06 08:10] 972461099 opened #2779 "The input tensor cannot be reshaped to the requested shape"
I set 'dynamic_axes':
[code]
If the input data is [1,1,244,204], the result is OK
When I use data of different sizes,

[code]

I get this error:
`RuntimeException: [ONNXRuntimeError] : 6 : RUNTIME_EXCEPTION : Non-zero status code returned while running Reshape node. Name:'' Status Message: /onnxruntime_src/onnxruntime/core/providers/cpu/tensor/reshape_helper.h:38 onnxruntime::ReshapeHelper::Reshap

[2020-01-06 11:50] hariharans29 commented on #2779
Hi @972461099 ,

This seems like a PyTorch-ONNX exporter issue wherein the 'dynamic_axes' is not being honored by the exporter.

I think, the requested shape is always: {-1,1,3,3,244,204}. This would mean that the shape to be reshaped when the graph input is {1,1,244,204} would probably be (going based on the pattern) {1,9,244,204} and this reshape request can be executed.

When the graph input sh

[2020-01-06 18:39] hariharans29 commented on #2733
It seems like the input feed as a list misguides some existing logic into thinking that we are trying to create a sequence tensor and finally runs into this error message : "Either type_proto was null or it was not of sequence type" while performing some sanity check.

@jywu-msft - Do we plan to support lists (and nested lists for multi-dimensional inputs) for the feeds in Python ?

[2020-01-06 19:19] jywu-msft commented on #2733
no,
there are no plans to interpret python lists as anything other than onnx sequence.

python lists represent onnx sequences
python dicts to represent onnx maps.
and onnx tensors are represented as numpy arrays.

[2020-01-06 19:52] hariharans29 commented on #2733
@jywu-msft : Thanks for confirming. I actually already had the change to support the requested scenario. The PR can be disregarded if you feel the support is not required. It may help the OP or someone looking for similar support. Thanks.

[2020-01-06 20:36] jywu-msft commented on #2733
Thanks for the PR. I wasn't aware of any plans or requirements to support that scenario. We can re-consider it if there is a strong use-case.
My hesitation is mapping python list to multiple data types doesn't feel clean.

[2020-01-06 22:04] patlevin commented on #2378
Maybe this helps: I got the same error when not copying the DirectML.dll from the ONNX runtime build directory to the app's binary folder.
The version doesn't seem to be compatible with the version installed by the OS.
Copying the DirectML.dll from the ONNX runtime's build output solved the issue for me.

[2020-01-07 00:42] dashesy commented on #458
@MitchVonk what was the issue you had here?

[2020-01-07 06:43] 972461099 commented on #2779
I set the parameter e in d to 11

You are right, thank you very much.
I changed the parameter opset_version=10 to opset_version=11. that can work

[2020-01-07 06:45] 972461099 commented on #2779
You are right, thank you very much.
I changed the parameter opset_version=10 to opset_version=11. that can work

[2020-01-07 09:45] stefanpantic commented on #2378
@nikola-j @dulex123

[2020-01-07 09:58] Armin234 commented on #2761
Hi Patrick, you are right, sorry for the poor information I provided.

After updating my Visual Studio 15 2017 and  removing the --parallel flag I was able compiling the library with DML.

Thanks
Armin

[2020-01-07 09:58] #2761 closed

[2020-01-07 10:59] hariharans29 commented on #2733
@jywu-msft: Thanks. There wasn't any plan or requirement. I just thought I would try and address this open issue which basically asks for this feature. I had the same apprehension because numpy array comes bound to a specific type whereas python list objects may basically contain anything and need to be handled with care. The logic in the PR basically tries to parse the provided list based on the

[2020-01-07 11:08] hariharans29 commented on #2779
Thanks for confirming. Closing.

[2020-01-07 11:08] #2779 closed

[2020-01-07 12:39] nietras commented on #2742
Happy new year to you too @yanyas

I definitely understand and think disk footprint is important, but I do not think the pdb files are the main culprit here. Having pdb files available in a symbol server is an option, but often this becomes a problem, if the server is not available for eternity.

The main problem is how OnnxRuntime employs a "one size fits all" approach to nuget packaging. Made wo

[2020-01-07 13:26] hariharans29 commented on #2746
Hi @ankane,

Thanks for the feature request. I think get_device() might be the only thing that needs to be given some thought. As I see it, get_device() in python returns a macro that is formed when the Py package is built (the macro is constructed based on the build options). We could have a similar logic for the C/C++ interface.

I don't see why the other 2 (Model metadata struct and the end_pro

[2020-01-07 18:20] kzuiderveld opened #2787 "Howto: Support of CUDA/CPU using one DLL"
We'd like to use Onnx runtime using one DLL that can adapt to the available hardware resources on the platform. I believe this was also the intention of the onnxruntime designers because of the "provider" support.
The specific use-case we're interested in: do inference using Cuda when appropriate hardware is available on the system, otherwise fall back on CPU inference.

I compiled the 1.1 release

[2020-01-07 18:32] Hsintao opened #2788 "build error in MacOS with OpenVINO 2019R3.1"
System: MacOS mojave 10.14.6
i run`./build.sh --config RelWithDebInfo --use_openvino CPU_FP32`

and then
`ie_cpu_extension/CMakeFiles/ie_cpu_extension.dir/build.make:773: *** target pattern contains no %.  Stop.`

does building with openvino support macos?
the doc only have the instruction in Windows and Linux.
[https://github.com/microsoft/onnxruntime/blob/master/BUILD.md#openvino](url)

[2020-01-07 19:09] YanYas commented on #2742
I now understand and appreciate your point about only being able to debug if the symbol server is available, which isn't always the case.I think that's a really good proposal. I'd like to hear what others think about this one, but you'd have my vote

[2020-01-07 21:48] tvlenin commented on #2709
Hi @snnn,
Thank you for the information,
We try with other models and it works fine to us.
Thanks

[2020-01-07 21:48] #2709 closed

[2020-01-07 22:14] snnn commented on #2787
No.

[2020-01-07 22:27] RyanUnderhill commented on #1567
Ah, to override the target try using this: `build --arm --build_shared_lib` or `build --arm64 --build_shared_lib`.

[2020-01-08 00:49] tensorbuffer opened #2793 "How to enumerate the tensors and operators in the onnx model from C++?"
**Is your feature request related to a problem? Please describe.**
Trying to run the onnx model on our customized accelerator chip, so need to enumerate all the tensors and operators (together with its input and output tensors) in the model and then send to our chip for execution.
I checked the onnxruntime_c_api.h and does not see any such APIs for tensors or operators.

**System information**
- O

[2020-01-08 02:03] jignparm commented on #2742
Has a user explicitly complained about the size on disk? The primary disadvantage would be download time -- the loading or running time should not be impacted (only relevant dlls are loaded).

Fragmenting a single package into multiple packages  is not without drawbacks (e.g. one for native assets, another for managed, a third for PDB files). Besides the user confusion of which package to install,

[2020-01-08 09:47] Armin234 opened #2795 "DML SessionGetInputCount != CPU SessionGetInputCount (C-Api)"
With my test app the function SessionGetInputCount using the CPU-Provider returns 1 Input, but with the DML Provider this function not only counts the inputs but also  weight und bias of the convolution layers. In my case with 3 convolution layers the function counts 7.

**System information**
- Win 10
- ONNX Runtime installed from source
- ONNX Runtime version 1.1
- Visual Studio version 2015
- G

[2020-01-08 11:33] rameshjesswani opened #2796 "Inference time of onnxruntime vs pytorch"
**Describe the bug**
Inference time of onnxruntime is slower as compare to the pytorch model

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  16.04
- ONNX Runtime installed from (source or binary): binary
- ONNX Runtime version:  1.1.0
- Python version: 3.6

**To Reproduce**
[code]
**Current behavior**

Inference time of **Onnx** on 50 examples: 47 seconds
Infere

[2020-01-08 13:10] Hsintao opened #2797 "Segmentation fault (core dumped)"
**Describe the bug**
A clear and concise description of what the bug is.
i build from source.
`./build.sh --update --build --cudnn_home /usr/local/cuda/lib64 --cuda_home /usr/local/cuda --use_tensorrt --tensorrt_home ~/xintao/TensorRT-6.0.1.5 --use_openvino CPU_FP32 --build_wheel`
**Urgency**
If there are particular important use cases blocked by this or strict project-related timelines, please sh

[2020-01-08 13:26] nietras commented on #2773
CUDA isn't a real memory leak, it appears to be a false positive in BDNs NativeMemoryProfiler, probably due to some startup allocations .

[2020-01-08 13:29] nietras commented on #2787
I have observed the same issue. We would very much like to be able to run with whatever execution provider that might be available. This relates a bit to my comment in https://github.com/microsoft/onnxruntime/issues/2742#issuecomment-571570024 a "plugin" based model would be preferable.

[2020-01-08 18:53] snnn commented on #2793
onnxruntime doesn't expose such feature.  Please use google protobuf instead.

See:
1. [https://developers.google.com/protocol-buffers/docs/cpptutorial](https://developers.google.com/protocol-buffers/docs/cpptutorial)
2. [https://github.com/onnx/onnx/blob/master/onnx/onnx.proto](https://github.com/onnx/onnx/blob/master/onnx/onnx.proto)

[2020-01-08 19:48] snnn commented on #2767
We're sorry. Due to limited resource available, we'll fix it in the next release.  FYI @faxu

[2020-01-08 19:48] #2767 closed

[2020-01-08 20:29] YanYas opened #2799 "Transpose Utility Layer"
**Is your feature request related to a problem? Please describe.**
With OnnxRuntime 0.5 c# I had a helper model
[Transposer10.zip](https://github.com/microsoft/onnxruntime/files/4036730/Transposer10.zip)
 I would run this utility model just to transpose/permute image data so it could be read correctly by a _target_ model. In OnnxRuntime  0.5 The InferenceSession.Run accepted any input so long as t

[2020-01-08 22:21] jignparm commented on #2799
The tensor API has not changed. Can you share an API example of  what was possible before, that is different  (not possible) now?

Adding data wrangling operations (e.g. transpose, slice, concat) in the C# API seems like a stretch (!)

[2020-01-08 22:30] jywu-msft commented on #2773
@stevenlix , can you take a look?

[2020-01-08 23:12] jignparm commented on #2763
The C# API running time performance should be quite close to native C /C++ API.  Since there's no native memory leak in the table above (running on CPU, and excluding TensorRT), how do the GC pauses manifest? Are they causing slowdown, compared to native C++/C?

The number of allocations may seem high, but it's not clear if they are higher than necessary (i.e. what are they being compared to?) --

[2020-01-08 23:43] ykim362 opened #2803 "BERT performance slower than default pytorch on CPU"
**Describe the bug**
I have exported a BERT model from huggingface's transformers models.

Batch size: 1, sequence length: 256
Pytorch: 0.149689 seconds
ONNX: 0.281283 seconds

Batch size: 8, sequence length: 256
Pytorch: 0.761311seconds
ONNX: 2.792252 seconds

https://github.com/huggingface/transformers/blob/master/examples/benchmarks.py#L366

**Urgency**
January/2020

**System information**
- OS

[2020-01-09 01:09] tensorbuffer commented on #2793
Thanks!
Another approach I am thinking, might be to write our own execution provider. There are two APIs I need to do:
- GetCapability(): for us, we will need to support all operators (e.g. if there's not supported one we will add them into our chip firmware to support them), so our GetCapability() implementation is just to add all nodes to sub_graph.
-  Compile(): this is where I am not clear abo

[2020-01-09 01:27] pranavsharma commented on #2754
We don't support this currently. See https://github.com/microsoft/onnxruntime/issues/1621.

[2020-01-09 01:40] pranavsharma commented on #2750
@24hours has already addressed the issue. The input was preallocated on the GPU in the case of torch. Closing this.

[2020-01-09 01:40] #2750 closed

[2020-01-09 09:24] yueyihua opened #2804 "Runtime eror before my code return"
**Describe the bug**
Runtime eror betwen inference and code return：
terminate called after throwing an instance of 'onnxruntime::OnnxRuntimeException'
  what():  /home/yyh/3rdparty/onnxruntime-bak/onnxruntime/core/providers/cuda/cuda_call.cc:97 bool onnxruntime::CudaCall(ERRTYPE, const char*, const char*, ERRTYPE, const char*) [with ERRTYPE = cudaError; bool THRW = true] /home/yyh/3rdparty/onnxrun

[2020-01-09 10:33] nietras commented on #2773
@stevenlix it looks to me and I am not 100% sure but that the leak is in the lines:

https://github.com/microsoft/onnxruntime/blob/293b15480be468529cbd05e0c150fad23b08f186/onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc#L523

https://github.com/microsoft/onnxruntime/blob/293b15480be468529cbd05e0c150fad23b08f186/onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc#L

[2020-01-09 11:11] nietras commented on #2773
After this fix BDN also shows there no longer is a native memory leak:

[code]
| Method |     Mean |   Error |   StdDev |   Median | Gen 0 | Gen 1 | Gen 2 | Allocated | Allocated native memory | Native memory leak |
|------- |---------:|--------:|---------:|---------:|------:|------:|------:|----------:|------------------------:|-------------------:|
|    Run | 417.3 us | 8.26 us | 21.16 us | 406.

[2020-01-09 11:18] nietras commented on #2763
@jignparm running time and native memory leak are of no concern with regards to managed allocations. Managed allocations cause a build up of garbage that the GC has to collect. This causes GC pauses. Of the entire application. Way above our budget. There is no need for all these allocations in the C# code for the OnnxRuntime.

@jignparm in my view this is wrong, the problem here is not whether C#

[2020-01-09 11:59] mxdillon opened #2806 "Cannot start inference session with tf.keras model converted to onnx"
**Describe the bug**
When training a simple tf.keras model and converting to onnx with tf2onnx,
`sess = rt.InferenceSession("model.onnx")` gives the error

`onnxruntime.capi.onnxruntime_pybind11_state.NotImplemented: [ONNXRuntimeError] : 9 : NOT_IMPLEMENTED : Could not find an implementation for the node sequential/dense/Relu:Relu(6)`

This is similar to https://github.com/Microsoft/onnxruntime/is

[2020-01-09 17:41] jywu-msft commented on #2773
Thanks for debugging and root causing it!
I think we'll need to refactor the code to not always create an optimization profile.
probably we can just re-use the one initially created in TensorrtExecutionProvider::Compile()
and update it as needed.
@stevenlix is working on a fix and we'll probably ask you to help us validate it.
Thanks again!

[2020-01-09 20:33] jignparm commented on #2763
Another question --  is the concern mostly about overall app health (i.e. other portions of the application are being negatively impacted due to allocations), or is the primary concern that GC kicks in during inference runs?

Regarding reducing managed allocations -- blittable types are already pinned in memory to avoid data copies. In some cases, like string tensor types, the additional allocatio

[2020-01-09 21:53] stevenlix commented on #2773
@jywu-msft, after looking at the code, I think @nietras 's fix is good for now. Usually trt_profile is not needed in the compute unless shape range is changed, and it's better to keep it in local.

[2020-01-10 06:19] jywu-msft commented on #2788
Onnxruntime integration with OpenVINO doesn't support MacOS.
@smkarlap and @suryasidd can comment on whether it will ever be supported.

[2020-01-10 08:03] TianzhongSong commented on #2434
Issue has been fixed. Close this issue.

[2020-01-10 08:03] #2434 closed

[2020-01-10 17:56] Debottam opened #2812 "Not compatible with latest Eigen preinstalled in system"
Hi,
I have latest eigen (3.3.7) installed in our framework. While building onnxruntime from source if we use this pre installed eigen -Donnxruntime_USE_PREINSTALLED_EIGEN:BOOL=ON , we get error
onnxruntime/include/onnxruntime/core/platform/threadpool.h:64:10: error: 'ThreadPool' in namespace 'Eigen' does not name a type Eigen::ThreadPool .. The thing is we don't want two different version of eigen

[2020-01-10 19:03] snnn commented on #2812
It's hard to support multiple eigen versions at the same time. Would you please turn onnxruntime_USE_PREINSTALLED_EIGEN off? BTW, I don't see the value of enabling it.

[2020-01-10 19:04] neginraoof opened #2814 "Missing integer input type for TopK (CPU)"
**Is your feature request related to a problem? Please describe.**
onnx::topk constrains input to all numeric types.
ORT currently does not have support for int types on CPU.

**System information**
- ONNX Runtime version: latest build from source

**Describe the solution you'd like**
Add support for integer input types.

**Additional context**
This is required for running torchvision Mask RCNN an

[2020-01-10 22:41] smkarlap commented on #2788
Builds for MacOS devices are not currently supported, and won't likely be for at least for the next couple of months. Please check back then. Will update on this issue if anything changes meanwhile.

[2020-01-10 23:24] yuzawa-san commented on #2675
After some playing around for a bit (disclaimer I work primarily in java and I am not a regular user of cmake), I was able to compile it, albeit for a single architecture (linux 64bit). My mac build env is a mess unrelated to anything here, so I have not built it there yet. I did test the java functionality briefly. We are going to stress test and do additional checks before we consider using your

[2020-01-11 00:38] tensorbuffer opened #2818 "Adding execution providers as shared library?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Hello, from this link it says "Build it as a static lib."
https://github.com/microsoft/onnxruntime/blob/master/docs/AddingExecutionProvider.md

I added my own execution provider ("X"), and I see libonnxruntime_providers_x.a is built.
Howev

[2020-01-11 01:20] pranavsharma commented on #2818
As of now execution providers can be linked only statically. We're working on dynamic linking as we speak. fyi @RyanUnderhill

[2020-01-11 01:24] pranavsharma commented on #2814
We're careful with adding types that are not needed as it increases our binary size (due to templatization). Can you specify which of the integral types are required?

[2020-01-11 02:14] tensorbuffer commented on #2818
ok thanks. How to use the added provider? Do I need to copy the libonnxruntime_providers.a and libonnxruntime_providers_x.a to the release folder? Do I need to modify the app code (CXXapi_sample.cc)? How to build the app (since there's dynamic link with libonnxruntime.so and static link with providers)?

[2020-01-11 02:23] snnn commented on #2818
https://github.com/microsoft/onnxruntime/blob/master/docs/AddingExecutionProvider.md

[2020-01-11 02:35] pranavsharma commented on #2806
The generated model has a Relu node whose input (sequential/dense/BiasAdd:0) is of type double. We have implemented only float support for Relu. If you enable verbose logging you'll see this error message: "2020-01-10 18:33:16.3760603 [I:onnxruntime:Default, kernel_registry.cc:273 onnxruntime::KernelRegistry::TryFindKernel] Relu kernel is not supported in CPUExecutionProvider Encountered following

[2020-01-11 02:40] tensorbuffer commented on #2818
Ok I see, the 'Using the execution provider' section. Looks like I need to modify the CXXapi_sample.cc. This looks weird to me, which execution provider to use should be decided by onnxruntime, not by application.

[2020-01-11 09:57] Debottam commented on #2812
Hi @snnn ,
Thanks for replying. So you can see this particular variable here https://github.com/microsoft/onnxruntime/blob/master/cmake/CMakeLists.txt#L65 we tried build the onnxruntime by turning it ON, because we have programs which runs in our framework with our eigen package (3.3.7) we are just worried if onnxruntime introduces a different version of eigen then will that create a mismatch? The

[2020-01-11 12:54] elsa623 opened #2821 "how to install onnxruntime"
pip install onnxruntime
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x10b6c32e8>: Failed to establish a new connection: [Errno 65] No route to host',)': /simple/onnxruntime/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=

[2020-01-11 14:52] elsa623 commented on #2821
The problem is your network. I have a solution: 1. change to another source to pull onnxruntime image; 2.add trust to your source. You can solve this problem with the following command:
pip install onnxruntime -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com

[2020-01-11 14:53] #2821 closed

[2020-01-11 18:04] snnn commented on #2812
No, if at build time, onnxruntime can't see another eigen. It can cause confusion only if there are two different eigen in onnxruntime's INCLUDE path.

[2020-01-11 21:18] mxdillon commented on #2806
Do you know how I could use floats? Putting `tf.keras.backend.set_floatx('float32')` before defining the model still gives the same error.

Also what is the syntax for enabling verbose logging? `sess_options.session_log_verbosity_level` gives an error.

[2020-01-11 21:52] pranavsharma commented on #2806
[code]

[2020-01-11 23:15] mxdillon commented on #2806
Thanks, any ideas about overwriting the default use of doubles with floats?

Does this attribute need to be set to a different integer?

[2020-01-12 04:14] tianleiwu commented on #2803
Please enable optimization like the following and try again:
[code]
Currently, some BERT optimizations are not enabled by default.

[2020-01-12 04:56] yufenglee commented on #2803
@ykim362,  and could you please share the device configuration, i.e., the configuration of your CPU?

[2020-01-13 04:28] bzburr opened #2822 "Onnx Model scores widely inaccurate"

[2020-01-13 06:56] #2822 closed

[2020-01-13 10:30] rameshjesswani commented on #2803
hi @tianleiwu and @yufenglee I am also facing same issue (posted [here](https://github.com/microsoft/onnxruntime/issues/2796)). I have tried the above parameters. But there is not any improvement in inference time.

Configuration of CPU:
[code]

Thanks :)

[2020-01-13 17:40] neginraoof commented on #2814
Thanks @pranavsharma, the model requires int64 input type for TopK.

[2020-01-13 18:25] cyrusbehr commented on #2743
I was able to solve this issue. Solution can be found [here](https://github.com/apache/incubator-mxnet/issues/17195)

[2020-01-13 18:25] #2743 closed

[2020-01-13 18:32] tensorbuffer opened #2825 "How to properly add execution provider and use it?"
**Describe the bug**
This is related to https://github.com/microsoft/onnxruntime/issues/2818
I have followed the steps (https://github.com/microsoft/onnxruntime/blob/master/docs/AddingExecutionProvider.md) to add my provider (denoted "X" here). BTW the doc needs update:  OrtCreateCUDAExecutionProviderFactory() should be CreateExecutionProviderFactory_CUDA() I think.

My problem is that I generated

[2020-01-13 18:46] ykim362 commented on #2803
Thanks, @tianleiwu and @yufenglee .
I've tried both settings. (ort.GraphOptimizationLevel.ORT_ENABLE_ALL and so.intra_op_num_threads=1)
I could get a better performance, but they are still a little behind.

[code]

My machine has AVX2 capable 24 cores (48 threads). Haswell

[code]

[2020-01-13 18:50] ykim362 commented on #2803
@tianleiwu, @yufenglee
Would you be able to advise the best settings? And, are there any models available with your optimized settings?

[2020-01-13 19:16] snnn commented on #2111
Thank you for helping us!

[2020-01-13 19:16] #2111 closed

[2020-01-13 20:37] pranavsharma commented on #2806
Using https://www.tensorflow.org/api_docs/python/tf/keras/backend/set_floatx should've worked. Not sure why it's not working. May be try on keras github.
Regarding the data_type attribute, you don't have to set it manually; it's taken care of as part of the conversion process.

[2020-01-13 20:53] snnn commented on #2825
run "nm -C -g --defined libonnxruntime_providers_x.so", I guess it doesn't have OrtSessionOptionsAppendExecutionProvider_X

[2020-01-13 21:05] jywu-msft commented on #2825
shouldn't it be libonnxruntime.so ?

[2020-01-13 21:08] snnn commented on #2825
You're right.

[2020-01-13 21:17] jywu-msft commented on #2825
the key thing here is you should only need to link libonnxruntime.so
which will contain all the providers you built.

the last 2 steps of https://github.com/microsoft/onnxruntime/blob/master/docs/AddingExecutionProvider.md
are

- Add your provider in onnxruntime_providers.cmake. Build it as a static lib.
- Add one line in cmake/onnxruntime.cmake, to the 'target_link_libraries' function call. Put y

[2020-01-13 21:43] jonringer opened #2828 "[Linux] CApiTest.dim_param fails with mutex error"
**Describe the bug**
trying to bump package version for nixpkgs to 1.1.0 when I ran into this error when running the ctest suite:
[code]
likely to be incorrect usage of a mutex lock.

**Urgency**

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): NixOS
- ONNX Runtime installed from (source or binary): source
- ONNX Runtime version: 1.1.0
- Python version: Python 3.7

[2020-01-13 22:00] tensorbuffer commented on #2825
Yes I did both steps. The symbol is not in libonnxruntime.so
I think adding to cmake/onnxruntime_providers.cmake might be wrong, I copied the ACL to my 'X':
https://github.com/microsoft/onnxruntime/blob/cc75e5a16243f031d6160d576417ae1999a4ab87/cmake/onnxruntime_providers.cmake#L451
https://github.com/microsoft/onnxruntime/blob/cc75e5a16243f031d6160d576417ae1999a4ab87/cmake/onnxruntime_providers.cm

[2020-01-13 22:06] snnn commented on #2825
Please delete your build folder and rebuild it. Redirect the build log to a file and search something like
[code]

[2020-01-13 22:13] snnn commented on #2828
I can reproduce the bug without using nix.

[2020-01-13 22:37] tensorbuffer commented on #2825
Ok it's good now, thanks! I think my .so was not updated (need to copy to release folder), as I was focusing on the provider .a
So the execution providers code are part of libonnxruntime.so, this is different from the answer from https://github.com/microsoft/onnxruntime/issues/2818 ?

[2020-01-13 22:51] snnn commented on #2825
Now it must be part of libonnxruntime.so.

For #2818,  it's in our plan with high priority. @RyanUnderhill will work on it.

[2020-01-13 22:51] #2825 closed

[2020-01-13 22:56] snnn commented on #2828
As for now, I suggest you turn off onnxruntime_ENABLE_LTO. I believe it will solve the issue.
I'll fix the bug (if it's possible), but as you know, 1.1.0 is already released, I can't change it. I can only fix it bug in master and wait for the next release.

[2020-01-13 23:54] cyrusbehr opened #2832 "How to properly format OpenCV Mat data (image) to work with onnxruntime inference?"
I am trying to use the onnxruntime c++ api to perform inference using the onnx model zoo `arcface LResNet100E-IR` model found [here](https://github.com/onnx/models/tree/master/vision/body_analysis/arcface).

The input specs for the onnx model are as follows:
[code]

I am wondering how to properly format `OpenCV Mat` data for the model. Right now, I am doing it as follows in this function:

[code]

[2020-01-13 23:59] jonringer commented on #2828
That does seem to fix the build, although it's less than ideal ;(

[2020-01-14 00:31] jonringer commented on #2828
I'll leave the issue open until a PR closes it :)

[2020-01-14 00:40] yufenglee commented on #2803
@ykim362, we looked at your model, could you try export the model with dynamic length for sequence axis as well?

[code]

And we also found that our latest optimization in 1.1 is not applied to your model automatically. We can provide you a script to fuse the model if the dynamic length change doesn't get the perf you expect.

[2020-01-14 00:43] yufenglee commented on #2796
@rameshjesswani , could you also try export the model with dynamic length, like I mentioned in the other thread:

[code]

#2803

[2020-01-14 01:38] tianleiwu commented on #2803
@ykim362, please add two parameters during calling torch.onnx.export:  **opset_version=10** (or 11) and **do_constant_folding=True** besides dynamic axes mentioned by yufenglee. That's the setting used in our tests.

[2020-01-14 02:43] cyrusbehr commented on #2045
Making the changes that @sky186 suggests allows me to perform inference with the model, though I am not sure if the inference results are correct...
Anyone else given this a try?

[2020-01-14 06:45] pranavsharma commented on #2814
Fixed as part of this https://github.com/microsoft/onnxruntime/commit/b308e826a81040f0d817984a7c971bfff0f3e996

[2020-01-14 06:46] #2814 closed

[2020-01-14 10:57] rameshjesswani commented on #2796
thanks @yufenglee . I tried exporting with dynamic length. Now, inference of ONNX is better than Pytorch.
So here is the comparison after exporting with dynamic length:

Inference time of **Onnx** on 872 examples: `141.43` seconds
Inference time of **Pytorch** on 872 examples: `176.8` seconds

Just another question, do you expect more improvement in onnx inference time as compare to pytorch?

many

[2020-01-14 16:54] ykim362 commented on #2803
Thanks, @yufenglee.
I tried the dynamic sequence length. The performance was just same as reported yesterday.

Thanks, @tianleiwu .
I am already using those settings.

I've shared the newly converted model in the same directory. ('bert_dynamic_len_11.onnx')

[2020-01-14 17:38] yufenglee commented on #2796
You can get better performance with GraphOptimization by replacing code:
[code]
with

[code]

[2020-01-14 18:15] yuzawa-san commented on #2675
We could take inspiration from the tensorflow maven configuration https://github.com/tensorflow/tensorflow/tree/master/tensorflow/java/maven

They have an artifact with the classes (libtensorflow) and another two artifacts for the jni code (libtensorflow_jni and libtensorflow_jni_gpu). It appears both have both the main library (like `libtensorflow_framework.so`) and the JNI library (like `libtens

[2020-01-14 18:18] jywu-msft commented on #2797
is this a TensorRT issue or OpenVINO or the combination of both?
Do you get this issue if you build without OpenVINO (TensorRT only)?

[2020-01-14 18:26] yuzawa-san commented on #2675
I may attempt to package the artifacts in the manner posted above and post a gist or maybe open a pr. Is there a preference amongst the maintainers of maven versus gradle? I guess what is easier to work with in the azure pipeline environments? I am more accustomed to gradle. Gradle has a nice wrapper, and I think maven does as well but it is not built in.

[2020-01-14 20:07] Craigacp commented on #2675
TF Java config is changing towards a JavaCPP style one, as the project is moving to use JavaCPP for it's native bindings.

I think it would be preferable to have a pom file which gets integrated into the jar by calling `jar` again, rather than using maven itself. Otherwise it's tricky to propagate the appropriate compile time flags from the CMake system through to the JNI compilation. I originally

[2020-01-14 22:31] tianleiwu commented on #2796
To verify BERT optimization, add a session option to output the optimized model like
[code]
After running, optimized.onnx can be found. Then you can open the optimized.onnx using [Netron](https://www.lutzroeder.com/ai/) to view the graph. The optimized graph for CPU is like the following:
[code]
If you run onnxruntime in GPU, the optimized graph is slightly different.

[2020-01-14 23:11] yufenglee commented on #2803
@ykim362 , where do you uploaded the model to? And could you also share us your script to benchmark the onnx?

[code]

[2020-01-14 23:22] snnn commented on #2832
The model doesn't work. Amazon agreed to fix it.

[2020-01-14 23:22] #2832 closed

[2020-01-15 02:12] skottmckay commented on #2799
Your transposer model has fixed dimension sizes. Are you getting an error about the input not matching what the model requires?

Possibly the fix would be to use symbolic dimensions (set the dim_param instead of dim_value).

e.g. instead of Input98 being [1, 10, 10, 3], set dim_param names to something like [ 'batch', 'H', 'W', C'].

That way the values are flexible and based on the input when the

[2020-01-15 03:59] zealerww opened #2839 "Which framework can export quantization model to onnx?"
I use post-training or training-aware quantization methods in pytorch, but those models cannot be exported to onnx format. Any frameworks support that? I want to make inference using onnxruntime.

[2020-01-15 07:31] schyun9212 opened #2840 "failed to start inference session with ShapeInferenceError"
**Describe the bug**
I'm trying to export maskrcnn-benchmark PyTorch model using torch.onnx.export.  But when I create a session to validate my model using onnxruntime.InferenceSession, I met ShapeInferenceError. How can I solve this problem?

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04.3 LTS
- ONNX Runtime installed from (source or binary): pip
- ONNX R

[2020-01-15 10:43] rameshjesswani commented on #2796
I am using the same parameters, that you have specified. Here is way of exporting pytorch model to onnx:
[code]

Here is how I am performing inference:

[code]

Thanks :)

[2020-01-15 12:40] Kammmil commented on #237
@Janamdeep
can you tell me how to do it please? ;)

[2020-01-15 14:04] mjwall commented on #2769
@snnn is it on the road map?  Any idea what it would take?  Seems to build just fine but there are linking errors.

[2020-01-15 17:43] neginraoof commented on #2814
@pranavsharma
I'm seeing the following error when testing topk with int64 tensor:

onnxruntime.capi.onnxruntime_pybind11_state.RuntimeException: [ONNXRuntimeError] : 6 : RUNTIME_EXCEPTION : Non-zero status code returned while running TopK node. Name:'TopK_15' Status Message: /home/neraoof/onnxruntime/include/onnxruntime/core/framework/tensor.h:150 const T* onnxruntime::Tensor::Data() const [with T

[2020-01-16 00:04] KeDengMS commented on #2803
Another thing you may try is to use Nuphar execution provider, which compiles the model for optimized inference on CPU. You may follow its [tutorial](https://github.com/microsoft/onnxruntime/blob/71940c09157399beabec57b545d81047b369bbd0/docs/python/notebooks/onnxruntime-nuphar-tutorial.ipynb) on how to run BERT model. To try it out, you may [build from source](https://github.com/microsoft/onnxrunt

[2020-01-16 00:30] ykim362 commented on #2803
Thanks, @KeDengMS !
I will follow the instructions. Is the speed-up from int8 quantization? Or, is Nuphar also improve fp32 speed?

[2020-01-16 00:41] KeDengMS commented on #2803
No the model is floating point. The speed-up is mainly from fusing op, and running element-wise ops like Erf in parallel. Quantization to int8 might give you more speed-ups.

[2020-01-16 00:42] ykim362 commented on #2803
@KeDengMS  Thanks! I will try it.

[2020-01-16 01:04] tianleiwu commented on #2796
@rameshjesswani, have you checked whether the graph of optimized model is same as I described above?

In my machine, inference time of onnxruntime is 47% of that of PyTorch 1.3 when running BERT base (batch_size=8, max_seq_len=128) on SQuAD dev set. YMMV depending on your hardware.

[2020-01-16 01:45] tianleiwu commented on #2839
@zealerww, you might post an issue to PyTorch to ask for supporting quantization in onnx exporter.

For post-training quantization, you could try our [quantization tool](https://github.com/microsoft/onnxruntime/tree/master/onnxruntime/python/tools/quantization). There is a calibration tool is still in pull request. Let us know if you encountered problem using these tools.

[2020-01-16 01:48] skottmckay commented on #2804
Given this:
#26 0x00000000004067e6 in std::default_delete::operator()(MNIST*) const ()
#27 0x00000000004062bd in std::unique_ptr<MNIST, std::default_delete >::~unique_ptr() ()
#28 0x00007fffec35ec29 in __run_exit_handlers () from /usr/lib64/libc.so.6

It seems like your program is exiting and you still have an instance of your MNIST class, which has a onnxruntime::InferenceSession within it. Durin

[2020-01-16 01:55] schyun9212 commented on #2840
This issue occurred during the conversion process when the shape became zero after Resize.

[2020-01-16 01:55] #2840 closed

[2020-01-16 08:15] jinfagang opened #2848 "Type Error: Type 'tensor(bool)' of input parameter (1203) of operator (ReduceSum) in node () is invalid."
[code]

And the code reproduce onnx is:

[code]

Here is my attached onnx model:

https://drive.google.com/open?id=1CegIKH7PF_HzGpzXuTkQ4r38cMyKIG5H

I can make this model go through onnx.checker, but how can not forward in onnxruntime.

Any body knows how should I change something to make it forward?

[2020-01-16 08:23] jinfagang commented on #2848
I believe this is bug or somthing in onnxruntime? Since model can be checked on onnx.checker. Also I chagned to this still got that error:

[code]

[2020-01-16 09:34] jinfagang opened #2849 "TopK not supported?"
[code]

[code]

Doesn't TopK supported for now?

[2020-01-16 09:37] rameshjesswani commented on #2796
@tianleiwu its not same, it seems different. I am using BERT large and pyTorch 1.2 . Could you tell me where to share this model with you, so you can test on your hardware. Thank you :)

![ss](https://user-images.githubusercontent.com/25647309/72511180-fe18e080-384a-11ea-9a8b-65a964c1c184.png)

[2020-01-16 18:06] jywu-msft commented on #2849
it may be due to the same issue https://github.com/microsoft/onnxruntime/issues/2814
which was recently fixed in master with
https://github.com/microsoft/onnxruntime/pull/2833
can you confirm if your model has topK which requires int64 type support?

[2020-01-16 22:03] pranavsharma commented on #2849
There's a followup PR that makes it easy to add more types here - https://github.com/microsoft/onnxruntime/pull/2842

[2020-01-17 03:09] jinfagang commented on #2814
OK, but actually I remmber a long time ago I have successfully forward MaskRCNN which contains topK with onnxruntime.

But just yesteraday I installed onnxruntime from pypi fresh it just fail, so weired.

[2020-01-17 03:13] jinfagang commented on #2849
@jywu-msft @pranavsharma  thanks for your response. From onnx documentation:

[code]

https://github.com/onnx/onnx/blob/master/docs/Operators.md#TopK

It should support input with type int64.

Actually, what surprise me is that I remmber I successfully forwarded such as likely model with TopK node. But now it fails, so strange.

[2020-01-17 04:08] skottmckay commented on #2576
I don't believe you need to quote the multiple items. The following works for me to set two different cmake defines

`--cmake_extra_defines CMAKE_CXX_COMPILER=/usr/bin/g++-4.8 CMAKE_C_COMPILER=/usr/bin/gcc-4.8`

[2020-01-17 04:15] #2576 closed

[2020-01-17 08:19] Kammmil opened #2860 "Jetson nano - building from source - problem"
Hey guys,
can anyone help me out,
i am trying to build onnxruntime from source on jetson nano, but everytime i got an error (look below)
and i have no idea, where i am making mistake or how to fix it.
It would be really nice of you, if you could tell me how to make it work, if possible please explain it step by step :)
Thanks a lot for help :)

**System information**
- OS Platform and Distribution

[2020-01-17 08:23] YZhao33 opened #2861 "Fail to run onnxruntime-gpu ImportError"
Hi,

I met an error when running onnxruntime-gpu package, as follows:

  File "C:\Programs\Python\Python37\lib\site-packages\onnxruntime\__init__.py", line 12, in <module>
    from onnxruntime.capi._pybind_state import get_all_providers, get_available_providers, get_device, RunOptions, SessionOptions, set_default_logger_severity, NodeArg, ModelMetadata, GraphOptimizationLevel, ExecutionMode
Import

[2020-01-17 17:35] jywu-msft commented on #2860
follow the instructions at
https://github.com/microsoft/onnxruntime/issues/2684#issuecomment-568548387

[2020-01-17 18:27] neginraoof commented on #2814
The ONNXRuntime error you see is:
onnxruntime.capi.onnxruntime_pybind11_state.NotImplemented: [ONNXRuntimeError] : 9 : NOT_IMPLEMENTED : Could not find an implementation for the node TopK(11)

which is not clear. In this case, it is actually complaining about missing implementation for that specific input type (int64 for ex.).

[2020-01-17 20:24] pranavsharma commented on #2849
Which opset are you using? Can you share the model? I just updated topk to support int64_t for opset 11 only.

[2020-01-17 20:32] pranavsharma commented on #2861
We don't support cuda 9.0 in our recent releases. Please see https://github.com/Microsoft/onnxruntime#system-requirements-pre-requisite-dependencies. It is most likely looking for cuda 10 libraries and can't find them on your machine.

[2020-01-17 22:31] tianleiwu commented on #2796
@rameshjesswani, I've tried PyTorch1.2 to export a Bert large model for SQuAD based on [transformers](https://github.com/huggingface/transformers/blob/master/examples/run_squad.py). The graph is like the one you posted.

You can add a session option to output the optimized model and open the optimized.onnx file to view the optimized graph:
[code]

The optimized graph is like the following:
![image

[2020-01-17 22:44] jywu-msft commented on #2861
if you need to use cuda 9.0, currently the only option is to build the onnxruntime-gpu python package from source

[2020-01-19 03:39] jinfagang commented on #2849
@pranavsharma  I am using opset 11.

the model is here https://drive.google.com/open?id=1CegIKH7PF_HzGpzXuTkQ4r38cMyKIG5H

[2020-01-19 04:04] zealerww commented on #2839
@tianleiwu hi ,i try thee quantization tool.
However, the quantaization model is slower than fp32 model，and the cpu usage is only 100%(fp32 model is 500%), does it only support single thread?

[2020-01-19 10:13] zealerww opened #2871 "No performance improvement using fp16 model"
**Describe the bug**
I follow https://github.com/onnx/onnx-docker/blob/master/onnx-ecosystem/converter_scripts/float32_float16_onnx.ipynb to covert a resnet50 model to fp16，but I got no performance improvement when I using onnxruntime to test.

**System information**
- OS Platform and Distribution : Debian 9.9
- ONNX Runtime installed from: binary
- ONNX Runtime version: 1.1.0
- Python version:3.5

[2020-01-19 23:45] #2733 closed

[2020-01-20 01:33] skottmckay commented on #2848
The model is invalid. ReduceSum does not support tensor(bool) as per the ONNX spec. Ideally the ONNX checker should catch that - not sure why it doesn't.

https://github.com/onnx/onnx/blob/master/docs/Operators.md#reducesum

[2020-01-20 02:23] zealerww commented on #2871
More:
I test fp16 and int8 model in cpu (Intel(R) Xeon(R) CPU E5-2650 v4)
f16 model converted using https://github.com/onnx/onnx-docker/blob/master/onnx-ecosystem/converter_scripts/float32_float16_onnx.ipynb
int8 model converted using https://github.com/microsoft/onnxruntime/tree/master/onnxruntime/python/tools/quantization

* fp32: time 1s; cpu usage 600%
* fp16: time 1s; cpu usage 600%
* int8: t

[2020-01-20 04:32] tracysh commented on #2871
The int8 GEMM in the last release was still single-threaded. A multi-threaded int8 GEMM was just turned on in master with PR#2844.

For the CPU, FP16 currently is handled by casting all operations to FP32. The GPU path does support FP16 natively.

[2020-01-20 07:41] lxl910915 opened #2872 "Reshape 's requested shape is incorrect"
**Description**
Our model is [EAST](https://github.com/argman/EAST/blob/dca414de39a3a4915a019c9a02c1832a31cdd0ca/model.py#L76) of tensorflow. And we convert tensorflow saved_model to onnx. When we use onnxruntime.InferenceSession to run this model, we get the following error:
`2020-01-20 03:35:56.003457877 [E:onnxruntime:, sequential_executor.cc:183 Execute] Non-zero status code returned while run

[2020-01-20 07:47] zealerww commented on #2839
I got answer in https://github.com/microsoft/onnxruntime/issues/2871. Thanks.

[2020-01-20 07:47] #2839 closed

[2020-01-20 08:34] rameshjesswani commented on #2796
@tianleiwu thanks. Just to summarize this, using BERT Base, you observed inference time of onnxruntime is `47%` of that of `PyTorch 1.3` and using BERT Large, inference time of onnxruntime is `73% ` of PyTorch.

There is huge difference between improvement in inference time of BERT Base and Large as compare to the PyTorch, is this the expected behavior?

[2020-01-20 09:46] AlirezaAlizadeh opened #2874 "BatchNormalization implementation for float64."
**Is your feature request related to a problem? Please describe.**

I try to load an onnx exported torch model with `BatchNormalization` layer in an onnxruntime session. This works when I use `float32` tensors. However, I get the error (`[ONNXRuntimeError] : 9 : NOT_IMPLEMENTED : Could not find an implementation for the node BatchNormalization(9)`) in case I use `float64` tensors.

**System inform

[2020-01-20 10:15] Kammmil commented on #2860
@jywu-msft
Hey man,
thanks for the link,
but i still got error:
[ 69%] Building CXX object external/onnx-tensorrt/CMakeFiles/nvonnxparser_static.dir/ModelImporter.cpp.o
In file included from /home/kamil/projects/onnxruntime/cmake/external/onnx-tensorrt/onnx2trt.hpp:28:0,
                 from /home/kamil/projects/onnxruntime/cmake/external/onnx-tensorrt/ImporterContext.hpp:25,
                 fro

[2020-01-20 10:58] Kammmil commented on #2684
- NVIDIA Jetson NANO/TX1
   * Jetpack UNKNOWN [L4T 32.2.3]
   * CUDA GPU architecture 5.3
 - Libraries:
   * CUDA 10.0.326
   * cuDNN 7.5.0.56-1+cuda10.0
   * TensorRT 5.1.6.1-1+cuda10.0
   * Visionworks 1.6.0.500n
   * OpenCV 3.4.8 compiled CUDA: YES
 - Jetson Performance: inactive

[2020-01-20 10:58] Kammmil commented on #2860
- NVIDIA Jetson NANO/TX1
   * Jetpack UNKNOWN [L4T 32.2.3]
   * CUDA GPU architecture 5.3
 - Libraries:
   * CUDA 10.0.326
   * cuDNN 7.5.0.56-1+cuda10.0
   * TensorRT 5.1.6.1-1+cuda10.0
   * Visionworks 1.6.0.500n
   * OpenCV 3.4.8 compiled CUDA: YES
 - Jetson Performance: inactive

[2020-01-20 13:37] ShaiBet commented on #486
Is there a support from python to use GPU runtime at all?

[2020-01-20 21:49] patmaasridharan opened #2875 "Runtime error on Inference session"
I have a custom UNet in pytorch and exported it to onnx model. That worked fine. On calling inference , there is problem with the optimizer. Below is the output.

ort_session = onnxruntime.InferenceSession("saved_model/seg_R.onnx")
[W:onnxruntime:, graph.cc:2412 CleanUnusedInitializers] Removing initializer 'up1.trans_conv.bias'. It is not used by any node and should be removed from the model.
[W:

[2020-01-21 03:03] skottmckay commented on #2872
This doesn't seem to be related to the open PR[s] around clarifying how Reshape treats a 0 in the requested shape. Based on your output the model is attempting to reshape to {139965333768264,139965333768264,139958748113104,139958748113104}, which looks completely incorrect. Where are the values for the target shape coming from? Can you share the onnx model?

[2020-01-21 03:15] skottmckay commented on #2875
Are you using the CUDA execution provider? If so, this fix may be needed: https://github.com/microsoft/onnxruntime/pull/2510

[2020-01-21 03:57] KangolHsu commented on #1430
same error.
maybe onnxruntime can not support load more than one model at the same time?

[2020-01-21 11:39] zealerww opened #2876 "How to set provider in python api"
I build onnxruntime with mlas and dnnl，but when I use python api, it seems that dnnl always be used. How can I use mlas in python api?

[2020-01-21 12:12] ShmuelFine opened #2877 "Android build is failing both on Windows and Linux"
I'm trying to cross compile for Android both on Windows 10 and Linux (Ubuntu 18.04), and none of them work!
I've downloaded the protobuf last stable branch to cmake/external, and:
On windows, it builds the protobuf successfully but when it goes on, for some reason CMakeFiles\3.16.2\VCTargetsPath.vcxproj is created with  ToolsVersion="4.0" !! which I don't have and have no way to download (VS2010..

[2020-01-21 15:15] danielphil opened #2878 "Providing fewer tensor inputs to Java API than model declares as inputs"
If an ONNX model declares 10 inputs, is it valid to provide 9 instead?

I've been using the Java API and found that `OrtSession.run()` will accept fewer inputs in the input map than the model requires. This results in a crash in `Java_ai_onnxruntime_OrtSession_run()` (see `java/src/main/native/ai_onnxruntime_OrtSession.c`) when building the `inputNames` array because the `for` loop uses the number

[2020-01-21 19:01] Craigacp commented on #2878
Ooops. Line 213 in `OrtSession.java` should use `inputNamesArray.length` and `outputNamesArray.length` rather than `numInputs` and `numOutputs`. I'll make up a PR.

[2020-01-21 19:03] Craigacp commented on #2878
I believe it is valid if you supply all the inputs required by the requested outputs, and that's the way the Java code is supposed to work (though the Java code can only validate that all the required inputs are supplied by calling the run method in the native code). I would appreciate someone more familiar with the ONNX spec confirming that though.

[2020-01-21 19:11] KeDengMS commented on #2876
Please use [providers in InferenceSession.__init__()](https://github.com/microsoft/onnxruntime/blob/87297846352a148c7b08b08a9998098a98ebcb20/onnxruntime/python/session.py#L16).

Example usage could be found [here](https://github.com/microsoft/onnxruntime/blob/b21576eeb0d8ca59b70ba39dee93eb6149f84195/onnxruntime/test/python/onnxruntime_test_python.py#L72-L73).

[2020-01-21 20:22] jywu-msft commented on #2860
You'll need TensorRT 6.x  (this has been the case since Onnxruntime 1.0)

see the tested configuration in the instructions

    * Name:           NVIDIA Jetson NANO/TX1                                                                                                           e-mail: raffaello@rnext.it
    * Type:           NANO/TX1
    * Jetpack:        4.3 [L4T 32.3.1]
    * GPU-Arch:       5.3

[2020-01-21 20:46] jbrownkramer commented on #116
I have the same thing on 1.1.0

[2020-01-21 21:32] yuzawa-san opened #2880 "Shared Library noexecstack flag"
**Is your feature request related to a problem? Please describe.**
The onnxruntime shared library is linked without `-z noexecstack` flag, so the stack is executable as a result. This triggers security warnings specifically when using the Java API, as the JVM's loader emits a warning (but does not outright prevent the loading of the library). Here is an example of what type of warning the JVM make

[2020-01-21 21:33] yuzawa-san commented on #2880
@Craigacp was the original Java API developer and found this first.

[2020-01-21 21:42] #1830 closed

[2020-01-21 21:45] Craigacp commented on #2880
In my testing everything also appeared to work just fine without an executable stack, though I tried it by setting the flag on the built so file, rather than by changing the CMake flags.

[2020-01-21 21:47] danielphil commented on #2878
Thanks for clarifying. 🙂 I was assuming that I'd need to provide all the inputs the model declares, but I forgot an input and got the crashing bug. I wanted to check this was the intended behavior though before I changed anything. Let me know if I can help out by creating a PR to fix.

[2020-01-21 22:07] snnn commented on #2880
Good suggestion. We'll do it.

[2020-01-21 22:57] faxu commented on #2812
The versions of dependencies used by ORT should be up to date here: https://github.com/microsoft/onnxruntime/blob/master/cgmanifest.json

From @snnn's latest response it seems like this should not be an issue regardless of whether that flag is on or off, but may be recommended to turn off.

[2020-01-21 23:01] faxu commented on #2806
@mxdillon can you check if the latest build from master works as expected?

[2020-01-21 23:54] kzuiderveld opened #2885 "MLAS rewrite (#2844) causes performance issues on CPUs with high core count"
This patch increases execution time on my 2x18-core Xeon machine (CPU inferencing) from 56.4 seconds to 123.8 seconds. I perform sequential execution of the ONNX model in an OpenMP parallel region.

I used VTune Amplifier 2020 to identify the issue. After the #2844 fix, the overhead of MlasReorderInput is dominant; the total CPU time is 6738 seconds with #2844 as opposed to 3305 seconds in the pri

[2020-01-22 00:07] tracysh commented on #2885
@kzuiderveld, #2844 was primarily changes for quantized or int8 GEMMs. The hotspot you list is for MlasReorderInput which is a single threaded function used to reorder buffers for the optimized float32 convolution. It's not clear from this why the performance would have changed.

What optimization level is used for SetSessionGraphOptimizationLevel? If ORT_ENABLE_EXTENDED is used instead of ORT_ENA

[2020-01-22 00:16] kzuiderveld commented on #2885
Reordering buffers implies copying of data. The MlasReorderInput might be single-threaded, but is used within an OpenMP region so there are 72 threads calling it and each memory operation adds overhead.

I'll get back to you wrt ORT_ENABLE_EXTENDED. You can have a copy of the model as long it is considered covered on an NDA.

[2020-01-22 00:21] snnn commented on #2885
But we found perf regression on another commit just after Tracy's change. Commit 724ff0753bc3c7a1931e58ccb092df41b262d61f .

[2020-01-22 00:25] kzuiderveld commented on #2885
I benchmarked a dozen or so commits to find the one that caused the slowdown I observed. 56030f8d is OK, didn't test 5db85430 as it is documentation only, next one was Tracy's and it has the issue.

[2020-01-22 00:39] pranavsharma commented on #2874
Would you like to contribute? Should be an easy enhancement.

[2020-01-22 00:43] tianleiwu commented on #2796
@rameshjesswani, this is expected since model size is different. Note that inference time improvement could differ for different models on different hardware.

For BERT-large, it is not likely using CPU in production due to the latency. It need powerful GPU (like V100 or T4) to achieve reasonable latency (<5 ms) for real time inference.

[2020-01-22 01:33] kzuiderveld commented on #2885
sssn, you're absolutely right. I screwed up. The main degradation was indeed caused by 724ff07, although Tracy is not totally out of the woods (but apologies Tracy, you're not the main culprit).

My results:
Version 56030f8d (1/14): 57.3 seconds (3352 seconds). Life is good.
![image](https://user-images.githubusercontent.com/28074679/72857673-919f4680-3c7b-11ea-92ec-fa21c4dff1ec.png)

Version 928b

[2020-01-22 02:04] pranavsharma commented on #2861
Closing as per previous comments.

[2020-01-22 02:04] #2861 closed

[2020-01-22 02:56] zealerww commented on #2876
thanks，I see. mlas corresponds to CPUExecutionProvider, dnnl corresponds to DnnlExecutionProvider

[2020-01-22 02:56] #2876 closed

[2020-01-22 07:02] Kammmil commented on #2860
You can close it, you need tensorRT >= 6 for it to be working.
Thanks

[2020-01-22 07:13] Kammmil commented on #2684
Just a question
what do i do after the build command is done, how do i install it?

[2020-01-22 08:19] rameshjesswani commented on #2796
@tianleiwu many thanks. I am closing this issue as i have got the answer :)

[2020-01-22 08:19] #2796 closed

[2020-01-22 14:15] Kammmil commented on #2684
Hi guys,
after ./build.sh --config Release --update --build --build_wheel --use_tensorrt --cuda_home /usr/local/cuda --cudnn_home /usr/lib/aarch64-linux-gnu --tensorrt_home /usr/lib/aarch64-linux-gnu

how do i install it so i can use it in my python code? :)
thanks in advance

[2020-01-22 14:29] hossein1387 commented on #2684
Depending on you build target, there will be a wheel file. For instance for a tensorrt build, you will have a file named: onnxruntime_gpu_tensorrt-1.0.0-cp36-cp36m-linux_aarch64
this file should be located in your build directory.

[2020-01-22 15:00] EthanPhan opened #2889 "Weird requested input shape after running `bert_model_optimization.py`"
So I'm doing text classification using distilbert model from hugging face. I trained the model using tf2.1, exported it successfully into ONNX format and was able to run it for predicting using onnx runtime. Then I tried the optimization code to improve the speed of the model. This is the command I used to optimize the model:
`python bert_op_scripts/bert_model_optimization.py --input bert.onnx --o

[2020-01-22 15:01] Kammmil commented on #2684
Thanks man but i don't see any file like it
in the folder build i have 2 different folders: lib, Linux.
Folder Linux has: Release and in Release there is:
build                    gmock.pc                         libonnxruntime_providers_tensorrt.a        onnxruntime                                    onnxruntime_test_python_nuphar.py
CMakeCache.txt           gtest_main.pc                    libon

[2020-01-22 15:37] hossein1387 commented on #2684
If your build ended successfully, you should have a wheel. In the build directory, run the following command:

`find ./ -name *.whl`

This should point you to the wheel.

[2020-01-22 16:40] jywu-msft commented on #2684
I see you have a dist directory. The whl file should be in there.

[2020-01-22 18:50] prabhat00155 commented on #2874
I can look into this.

[2020-01-22 19:08] tracysh commented on #2885
The samples for 56030f8 are referencing the older convolution algorithm (MlasConvIm2Col). This is odd because the default optimization level was bumped up to ORT_ENABLE_ALL in change 7c6242b (1/13). I wonder if that build failed to fully rebuild everything that used these values and the test continued to use the older algorithm.

Regarding the model, it would be useful for me to get a copy for int

[2020-01-22 19:33] kzuiderveld commented on #2885
I would have to verify that the "fast" benchmark was indeed made with 56030f8 - jumping between all the branches, rebuilding the libs, relinking with my app and benchmarking and then keeping track of everything is asking for trouble. It was a long day yesterday.

Yup, you can get my model (it's an unet). Let me know where to e-mail it (it's about 7MB).

[2020-01-22 19:41] tracysh commented on #2885
Thanks, I can be reached at tracysh@microsoft.com.

[2020-01-22 21:18] AlirezaAlizadeh commented on #2874
Thanks for considering that. I can spend time on that in the next week. However, I'm also fine if you wanna look into it @prabhat00155.

[2020-01-22 21:54] Zhuoqing opened #2892 "java runtime UnsatisfiedLinkError when loading jni dll from jar"
**Describe the bug**
 looks like the onnx java runtime will try to save the runtime dll into tempfile (C:\Users\zhwu\AppData\Local\Temp\onnxruntime4620205959932865852.dll) and then call System.load for that temp file. And same  for the jni dll.
However in my local box seems when loading the jni dll (onnxruntime4j_jni2846808251558359431.dll) I got UnsatisfiedLinkError. Seems it is expecting `onnxru

[2020-01-22 23:33] YZhao33 commented on #2861
Thanks, but the issue remains, even I installed cuda 10.0.

[2020-01-22 23:34] tianleiwu commented on #2889
The error message indicates that the tool fused some reshape nodes incorrectly. The tool has tested on the bert model in ONNX model zoo that exported from TF1.*, but not on models from TF 2.1.

@EthanPhan,
Could you share the model or the script that exporting TF model to ONNX? Currently, I am working on the tool to support BERT models from TF2.1. I could take a look and provide a fix.

[2020-01-22 23:39] YZhao33 opened #2894 "Fail to run onnxruntime-gpu ImportError #2861"
Reopen issue #2861.
I installd cuda 10.0, but the issue remains.

[2020-01-23 00:27] EthanPhan commented on #2889
@tianleiwu This is the model definition in tf2.1:

[code]

Basically, I wrapped the TFDistilBertModel from the hugging face in a tf.keras layer and use it to build the model. I converted in into ONNX format using tf2onnx package from here: https://github.com/onnx/tensorflow-onnx.git@gs/tf20

[2020-01-23 05:52] snnn commented on #2894
We need the FULL error messages to help you.
Did you see something like: "UserWarning: Cannot load onnxruntime.capi. Error: 'DLL load failed: The specified module could not be found." ?

[2020-01-23 07:04] Kammmil commented on #2684
@hossein1387 @jywu-msft thanks a lot guys :)

[2020-01-23 08:21] YZhao33 commented on #2894
I do not see this. the error message is as follows:

Traceback (most recent call last):
  File "xx\run_sid_eval.py", line 23, in <module>
    import onnxruntime as rt
  File "C:\ProgramData\Anaconda3\lib\site-packages\onnxruntime\__init__.py", line 12, in <module>
    from onnxruntime.capi._pybind_state import get_all_providers, get_available_providers, get_device, RunOptions, SessionOptions, set_

[2020-01-23 13:25] 9dogs commented on #2664
Any updates?

[2020-01-23 14:57] niklas-mohr-jdas opened #2897 "Inference using a LabelEncoder with input type int64"
**Describe the bug**

I try to load an onnx model exported from scikit-learn model with a LabelEncoder in an onnxruntime session. This works when I use string tensors as input to the LabelEncoder. However, I get the error ```onnxruntime.capi.onnxruntime_pybind11_state.NotImplemented: [ONNXRuntimeError] : 9 : NOT_IMPLEMENTED : Could not find an implementation for the node LabelEncoder:LabelEncoder(

[2020-01-23 17:56] jywu-msft commented on #2894
That error message is a bit misleading, it's caused by missing dll dependency.
in this case since it's gpu python build, it's probably due to missing cuda libraries (or missing python lib). can you confirm that
cuda 10 libraries are in your PATH? e.g. C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.0\bin

additionally, you can confirm what dependencies are required for the python-gpu packag

[2020-01-23 18:13] snnn commented on #2894
Is there anything before the "Traceback (most recent call last):" message ?

[2020-01-23 18:15] snnn commented on #2664
It's in our nightly build in testpypi.
1. https://test.pypi.org/project/ort-gpu-nightly/
2. https://test.pypi.org/project/ort-nightly/

However, Windows gpu for 3.8 is still missing.

[2020-01-23 22:17] mariamrahmaani opened #2899 "building ONNXruntime with DNNL cause an error"
**Describe the bug**
When building Onnxruntime with DNNL in Windows, I see the error below:

build.sh --use_dnnl

 Checking File Globs
  Performing update step for 'project_dnnl'
  custom_op_library.vcxproj -> C:\repos\onnxruntime\build\Windows\Debug\Debug\custom_op_library.dll
  libprotobuf.vcxproj -> C:\repos\onnxruntime\build\Windows\Debug\external\protobuf\cmake\Debug\libprotobufd.lib
  libpro

[2020-01-23 22:24] jonringer opened #2900 "Add section for distro installations"
3 package repositories now carry onnxruntime: https://repology.org/project/onnxruntime/versions

It would be nice if the readme or installation page started to include installation guides for a give distro, similar to https://github.com/sharkdp/fd#installation

[2020-01-24 01:31] faxu commented on #2892
CC @Craigacp

[2020-01-24 02:20] Craigacp commented on #2892
That's very odd. The logging indicates that it found onnxruntime.dll and loaded it from the classpath, and then found onnxruntime4j_jni.dll and loaded that. Unfortunately the debug logging doesn't have a message that says it correctly loaded the library, but that's the only way for it to proceed. The second load failed with a `Can't find dependent libraries` error, which usually indicates that the

[2020-01-24 02:24] Craigacp commented on #2878
I have a patch for this, but I won't have time to write a unit test for it until next week which I'd like to do before making the PR. It's a one line fix you can see [here](https://github.com/Craigacp/onnxruntime/commit/ab31bcafbc9f20aa342f8dfaa4ee8c9bd66fd99e).

[2020-01-24 02:40] ankane commented on #2767
fwiw, 1.1.1 packaging is back to normal. Thanks!

[2020-01-24 04:03] snnn commented on #2767
@RyanUnderhill fixed it.

[2020-01-24 11:41] patmaasridharan commented on #2875
No I dont have cuda for now.
I use onnxruntime=1.1.0 which has the "Fix constant folding of node assigned to CUDA" this commit merged already i believe. I tried to build onnxruntime from source. Still the same error.

I also use optset version 11 when exporting the model to solve the upsampling issue.

[2020-01-24 13:16] nietras commented on #2773
appears to be fixed

[2020-01-24 13:16] #2773 closed

[2020-01-24 13:17] nietras commented on #2587
@snnn has the issue been fixed? Is it possible to build with TensorRT on VS2019 now?

[2020-01-24 17:07] faxu commented on #2848
Closing this issue since it's a model issue. CC @vinitra as FYI for onnx checker issue.

[2020-01-24 17:07] #2848 closed

[2020-01-24 17:10] faxu commented on #2803
This tutorial was recently published as FYI: https://github.com/onnx/tutorials/blob/master/tutorials/Inference-PyTorch-Bert-Model-for-High-Performance-in-ONNX-Runtime.ipynb

[2020-01-24 17:33] ykim362 commented on #2803
@faxu @yualan @tianleiwu Thanks! I will follow the tutorials.

[2020-01-24 17:33] #2803 closed

[2020-01-24 18:00] jywu-msft commented on #2899
noticed you have an older version of VS2017. (15.7)
can you update to 15.9?

[2020-01-24 18:28] snnn commented on #2587
@stevenlix Could you help him?

[2020-01-24 19:56] yufenglee commented on #2875
What's the input type of the Neg node? Is it int64?

[2020-01-24 21:51] tianleiwu commented on #2894
I encountered similar error. The solution is to install CUDA 10.0, and CuDNN 7.3 (on Windows) or 7.6 (on Linux).
Here is an example to run in Windows:
(1) Make sure those DLLs can be found in path, like in Windows command line:
   set Path=%Path%;<path to Cuda Bin directory>; <path to CuDNN bin directory>
(2) After that, you can run python script in the same command window.

[2020-01-25 00:09] mariamrahmaani commented on #2899
yes, it worked.
Thanks

[2020-01-25 18:48] Pavel-Konarik opened #2909 "Alpine Linux support"
**Is your feature request related to a problem? Please describe.**
onnxruntime-1.1.1-cp36-cp36m-manylinux1_x86_64.whl is not supported on Alpine 3.11

**System information**
- ONNX Runtime version (you are using):
1.1.1

**Describe the solution you'd like**
Include support for Alpine Linux in manylinux wheel so `pip install onnxruntime` works

**Describe alternatives you've considered**
Building f

[2020-01-25 19:40] snnn commented on #2909
Any hint what we should do?

[2020-01-25 21:25] Pavel-Konarik commented on #2909
Sadly I am not sure why manylinux for onnxruntime does not include support for Alpine Linux, but here are steps to quickly reproduce the error and some additional info.

**Why Alpine Linux?**
I am building a simple and **small** predictor in Docker, and alpine has much smaller image than Ubuntu
**Does installing onnx give the same error?**
No, `pip install onnx` works as intended
**Steps to replic

[2020-01-27 05:28] kunal2197 commented on #2877
I facing the same issue on windows 10. When I try to build CMake insist to have Nvidia Nsight installed? Is it compulsory to have it installed though I don't want to use it in android?

build.bat --android --android_ndk_path C:\Users\Admin\AppData\Local\Android\Sdk\ndk\20.1.5948944 --android_abi arm64-v8a --android_api 26 --cmake_generator "Visual Studio 16 2019"

I was able to build an onnxruntim

[2020-01-27 08:43] patmaasridharan commented on #2875
Its float32[1,1,256,256] both input and output of the network .

[2020-01-27 17:18] jywu-msft commented on #2894
@YZhao33 can you comment on @snnn 's question? there may be a message prior which will indicate the missing dll.

[2020-01-27 17:18] #2899 closed

[2020-01-27 20:19] prabhat00155 commented on #2874
@pranavsharma Do you know how do I build a python whl file for onnxruntime?

[2020-01-27 20:55] skottmckay commented on #2875
Are you able to share the model?

[2020-01-27 21:34] skottmckay commented on #2897
LabelEncoder supports int64 as input.
There's no support implemented for using the same type as both the key and value type, which is the issue with this model when the input is int64.

Is there a real use case where that functionality is required?

[2020-01-27 21:38] skottmckay commented on #2885
a92e924ab29ed71f2176bb04fd9ec3c117c0de5b reverted the change from 724ff0753bc3c7a1931e58ccb092df41b262d61f

[2020-01-27 23:43] snnn commented on #2877
Right, currently it is failing in the master branch.
https://github.com/microsoft/onnxruntime/runs/411725399

If you know how to fix it, welcome to submit your pull requests.  Otherwise I'll do it next month.

Thank you

[2020-01-28 02:24] YZhao33 commented on #2894
Thank you! the issue is solved. I forgot to put cudnn into path.

[2020-01-28 03:02] #2894 closed

[2020-01-28 06:50] Zhuoqing commented on #2892
Thanks @Craigacp . Any chance the windows CI pipeline machine somehow will build an onnxruntime.dll on PATH? I build on windows using `build.bat --config RelWithDebInfo --build_shared_lib --parallel --build_java`
The link command shows it is reading ONNXRUNTIME.LIB and does that cause a hard dependence on onnxruntime.dll? The depencewalker also shows dependence on onnxruntime.dll

[link.command.1.

[2020-01-28 07:38] niklas-mohr-jdas commented on #2897
@skottmckay yes, I specifically need int64 to int64 support: the use case is a set of non ordered integers (e.g. 101, 50235, 100348) which we map to (0, 1, 2) using the LabelEncoder to feed them into an embedding layer.

[2020-01-28 11:24] smuzaffar opened #2921 "ppc64le support"
**Is your feature request related to a problem? Please describe.**
We build our software for x86, aarch64 and ppc64le and our developers would like to use onnxruntime but as it does not build for ppc64le archs, so we can not integrate it.

**System information**
- Cent OS7 on ppc64le arch with onnxversion 1.0.0

**Describe the solution you'd like**
We would like to build and use onnxruntime on PPC

[2020-01-28 12:04] durson opened #2922 "Compile error: relocation R_X86_64_32S against _Py_NotImplementedStruct"
During compilation I get following error:
`/usr/bin/ld: /usr/local/lib/libpython3.5m.a(abstract.o): relocation R_X86_64_32S against `_Py_NotImplementedStruct' can not be used when making a shared object; recompile with -fPIC
/usr/local/lib/libpython3.5m.a: error adding symbols: Bad value
collect2: error: ld returned 1 exit status
CMakeFiles/onnxruntime_pybind11_state.dir/build.make:116: recipe for

[2020-01-28 13:28] Armin234 opened #2923 "multiple Output C-Api"
My Onnx has two Outputs, but when I call

const char* input_names[] = { "Input","Input_2" };
const char* output_names[] = { "Affine" ,"Affine_2" };
lStat = g_ort->Run(session, NULL, input_names, (const OrtValue* const*)&input_tensor[0], **2,** output_names, 2, &output_tensor[0]);

I get a memory access Violation.

Asking only the first Output
 lStat = g_ort->Run(session, NULL, input_names, (const

[2020-01-28 13:50] #2922 closed

[2020-01-28 16:34] snnn commented on #2921
It's hard for us to make progress on it because our team don't have any ppc64le hardware that can be used for dev and testing.

[2020-01-28 16:38] daquexian opened #2924 "ONNX Runtime crashes when inferring this model"
**Describe the bug**
ONNX Runtime crashes when inferring this model: https://drive.google.com/open?id=1Ln9xXIN0A7jWzOHMVCzZnOegBryCgxZy

<details>
  <summary>click to expand stacktrace</summary>

[code]

</details>

After adding some log I found the node named `Preprocessor/map/while/ResizeImage/stack_1:0` had the data type `UNDEFINED` so [this assert](https://github.com/onnx/onnx/blob/master/onnx

[2020-01-28 16:48] niklas-mohr-jdas commented on #2897
Would it be ok if I try to contribute the changes the support this?

[2020-01-28 16:49] daquexian opened #2925 "JNI version seems too high for Android"
**Describe the bug**

@Craigacp Thanks for your great work on Java API!

When compiling Java API for Android (with some necessary modifications), the compilation fails because `JNI_VERSION_1_8` [here](https://github.com/microsoft/onnxruntime/blob/master/java/src/main/native/OrtJniUtil.c#L13) doesn't exist in `jni.h` of Android NDK. The highest jni version Android NDK has is `JNI_VERSION_1_6`.

Cou

[2020-01-28 18:28] #2880 closed

[2020-01-28 18:33] Craigacp commented on #2925
I set it to 1.8 as the Java code requires Java 8, but I'm not entirely sure what JNI changes are exposed by requesting 1.8 instead of 1.6. I'll ask around and see if I can determine what the difference is.

[2020-01-28 18:40] faxu commented on #2804
@yueyihua Were you able to resolve this issue?

[2020-01-28 18:43] Craigacp commented on #2892
I think the `PATH` was changed a bit for the Windows CI pipeline, @shahasad would know. I should be able to modify the loader so that it creates a temporary directory with a random name and then loads the libraries with unchanged names from that directory, which should fix it if it is indeed a naming issue. I'll try that and report back.

[2020-01-28 18:44] faxu commented on #2132
@Exlsunshine sorry for the delay; checking back on this...is the issue still reproducible with the latest 1.1 ORT release?

[2020-01-28 18:47] faxu commented on #2150
@yizhaoyanbo Were you able to get this working with the latest ORT release and using latest version of PyTorch? let us know if more assistance is needed

[2020-01-28 18:50] #2637 closed

[2020-01-28 19:22] yuzawa-san commented on #2892
If you want to download my branch from the above PR: https://github.com/yuzawa-san/onnxruntime/tree/java-gradle and try that out. That was a minor refactor of the loader and it has more info messages.

[2020-01-28 19:26] #1726 closed

[2020-01-28 20:51] yuzawa-san commented on #2746
What about moving the GetAllProviders and GetAvailableProviders functions https://github.com/microsoft/onnxruntime/blob/master/onnxruntime/python/onnxruntime_pybind_state.cc#L272
 into the main C API? That way the logic won't be duplicated between the different bindings (Ruby and python). This functionality does not exist in the Java API yet, but I think it would be useful. If this is a separate t

[2020-01-28 21:14] snnn commented on #2746
One idea was: people can add new execution provider without changing onnxruntime's existing code. So we can't provide functions like "GetAvailableProviders()" in our C API.

[2020-01-28 21:35] pranavsharma commented on #2923
Are you sure input_tensor and output_tensor are arrays of 2 elements each?

[2020-01-28 21:59] pranavsharma commented on #2924
Is this for tensorrt? I tried with CPU and the session was successfully initialized.

[2020-01-28 22:00] Craigacp commented on #2925
The 1.8 level is necessary to call a default method on an interface from JNI. I don't think we do this anywhere in the codebase, so it should be ok to export the lower version until we do do that (and I'll have to document that somewhere as otherwise it will be very mysterious). Any idea why the Android NDK exports the lower version when it supports Java 8?

[2020-01-28 22:17] hariharans29 commented on #2923
Not sure how
`lStat = g_ort->Run(session, NULL, input_names, (const OrtValue* const*)&input_tensor[0], **1**, output_names, 1, &output_tensor[0]);`
would run successfully end to end.

The model has 2 inputs and both the inputs need to provided (even to get the first output alone).
I fed it random data and could get the model to score successfully (the results are not right given the input data is

[2020-01-29 06:52] daquexian commented on #2925
@Craigacp Thanks!

sorry I have no idea either ;)

[2020-01-29 10:06] Armin234 commented on #2923
Hi Hariharans,

adding the two lines
output_tensors[0] = NULL;
output_tensors[1] = NULL;

solved  my problem.

Thanks,
Armin

[2020-01-29 10:06] #2923 closed

[2020-01-29 10:53] mina-asham commented on #2892
This might be related to this pull request: https://github.com/microsoft/onnxruntime/pull/2873
I was getting a similar issue (although mine were clear about which dependent libraries were missing), your link log is showing:

[code]

You can try adding them to your library path and see if it makes a change?

[2020-01-29 11:12] Debottam commented on #2812
Hi @snnn and @faxu,

Coming back to this
**1st: Need of latest version of eigen:**
We use eigen objects extensively in our codes. We are using the latest Eigen-3.3.7. There is a lot of shift from the version you are using in onnxruntime to the latest Eigen-3.3.7. Many functions have become obsolete/replaced in Eigen-3.3.7. In our computing framework if we have two different versions of Eigen, duri

[2020-01-29 15:21] patmaasridharan commented on #2875
yes i can share it.
https://www.dropbox.com/s/1wypohlqp9mj41f/Unet.onnx?dl=0

[2020-01-29 17:08] daquexian commented on #2924
@pranavsharma Sorry. I found the model got broken after running onnx optimizers in onnx-simplifier. It is not related to onnx runtime.

[2020-01-29 17:08] #2924 closed

[2020-01-29 17:31] jywu-msft commented on #2602
Would
https://github.com/microsoft/onnxruntime/tree/master/include/onnxruntime/core/graph
https://github.com/microsoft/onnxruntime/tree/master/onnxruntime/core/graph
be what you are looking for?

[2020-01-29 18:04] SerenaC94 commented on #2602
This seems like a good place to start to develop a suitable "dump/print" function, but from what I can see nothing like it has been implemented yet.
I will consider it, thank you for the information!

[2020-01-29 20:50] Zhuoqing commented on #2892
Tried `temporary directory with a random name and then loads the libraries with unchanged names from that directory` And it works for me on my Windows machine. https://github.com/Zhuoqing/onnxruntime/pull/1/files

[2020-01-29 20:58] Craigacp commented on #2892
Cool. I'm just in the middle of building a version of that patch. It makes a single directory for all the libraries and then passes that through the loading functions. The patch works on Linux, I'm just persuading my Windows VM to build it at the moment.

[2020-01-29 21:15] snnn commented on #2812
No, it won't.

[2020-01-29 21:53] Craigacp commented on #2892
This fix https://github.com/Craigacp/onnxruntime/commit/3aef28097a53cdd8bfa9a0a05ed1106a30acef20 works on Windows and doesn't change any behaviour on Linux. Not had chance to check on macOS yet, but I suspect it'll be fine. We should try and incorporate the fix into #2866 which is rewriting the build system and also the native loader.

[2020-01-29 22:11] Rocheng opened #2940 "Crash in onnx::OpSchema::TypeConstraint()"
**Describe the bug**
When our test app calls onnxruntime.dll, on some machines it will crash in onnx::OpSchema::TypeConstraint()

**Urgency**
None

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10 Pro
- ONNX Runtime installed from (source or binary):
source
- ONNX Runtime version:
1.1.1
- Python version:
N/A (this is a C++ app)
- Visual Studio version (i

[2020-01-29 22:46] Debottam commented on #2812
Hi @snnn
By "it" I meant our atlas software framework (athena) ; if there are different codes relying on two different versions of eigen (which is true for our framework) then during runtime our framework will pick up any one of the two eigen versions which will detrimental to the codes which doesn't depend on that particular version. I hope "it" is clear here.
For Prebuilt Version: we cannot use

[2020-01-29 22:57] snnn commented on #2812
No. It will pick up both of them.

[2020-01-29 23:42] #2518 closed

[2020-01-30 00:09] #2925 closed

[2020-01-30 03:00] skottmckay commented on #2875
The inputs to the Neg nodes in that model are int64, which ORT currently doesn't support (but the ONNX spec says is allowed). The output from Shape is a int64 tensor, and that output goes -> Gather -> Sub -> Div -> Neg, and none of those operations is going to change the type.

Are there any pytorch export options to avoid using int64 for Neg?

[2020-01-30 04:55] kunal2197 commented on #2877
Thanks for reply @snnn . Still, one doubt, is it compulsory to have Nvidia Nsight Visual studio installed for the android build?

[2020-01-30 06:09] snnn commented on #2877
The build break is fixed

[2020-01-30 09:45] krasznaa commented on #2812
:confused: There seems to be a **lot** of confusion around what our issue is. So I created the following demonstration, which will hopefully clarify why we **insist** on using the same Eigen version in all the libraries that we use:

https://github.com/krasznaa/EigenVersionProblem

Please have a look at that code.
  - It has two different versions of an `eigen.h` header: [oldEigen/eigen.h](https:/

[2020-01-30 10:03] prakharter commented on #487
Having the same issue , Pleas advise what did you changed with your image transformation to get the accuracy working , thanks

[2020-01-30 10:40] patmaasridharan commented on #2875
can i ask how do you find that output from Shape is a int64 tensor.
When i try to print model.graph i can only see the input type till ReLu
![Outputonnxmodel](https://user-images.githubusercontent.com/54295010/73442448-24fc0a00-4355-11ea-803e-f0ac5bd4af37.PNG)

[2020-01-30 17:07] snnn commented on #2812
https://gcc.gnu.org/wiki/Visibility

[2020-01-30 17:09] krasznaa commented on #2812
Seriously? A single line? :confused:

Then let me put into a single line: Our code doesn't allow for symbol hiding. (Template symbol resolution is **very** fragile on Linux when symbols are being hidden.)

[2020-01-30 17:20] snnn commented on #2812
Please pardon me, do you agree that it's not a problem on Windows platform, so we can focus our discussion on Linux? Do you have other platforms needed to support?

[2020-01-30 21:55] snnn commented on #2874
Fixed in #2941

[2020-01-30 21:55] #2874 closed

[2020-01-30 22:53] hariharans29 commented on #2897
Yes, please feel free to contribute the change needed to support it. Thanks.

[2020-01-30 22:56] hariharans29 commented on #2897
Closed via #2926

[2020-01-30 22:56] #2897 closed

[2020-01-30 23:01] hariharans29 commented on #2875
The output from a `Shape` node has to be an INT64 tensor according to the spec - https://github.com/onnx/onnx/blob/master/docs/Operators.md#Shape.

[2020-01-31 00:48] #2756 closed

[2020-01-31 05:10] skottmckay commented on #2940
Given that the code in question is constantly exercised in the CI tests on many different windows machines, and on many different developers' boxes, it's a bit strange for it to fail for you.

It seems to be calling the TypeConstraint constructor correctly for the Affine contrib op. It's trying to register the 3 type constraints in the 'd.insert' line at the end of this code:

[code]

DataTypeSet

[2020-01-31 09:01] krasznaa commented on #2812
As Debo must've said in the past, we are only focusing on [CentOS 7](http://linux.web.cern.ch/linux/centos7/) with [GCC 8](https://gcc.gnu.org/gcc-8/) at the moment. (Unfortunately the [ATLAS offline software](https://gitlab.cern.ch/atlas/athena) does a number of things that are quite incompatible with Windows. But I guess I don't have to defend that if one wants to run some application on hundred

[2020-01-31 10:50] nietras commented on #2763
@jignparm as I mentioned, :), you cannot use BDN results as a measurement for GC pauses, especially since no GC occurred during the run.

The budget I am talking about are the GC pauses, not inference times. Inference times have nothing to do with this issue. It is the after effects of running `Run` and the many allocations this does and the many built up allocations over time that causes too long

[2020-01-31 14:17] Mar-Mo opened #2960 "[LSTM] C# saving internal states for scoring and usage of tensor sequences as inputs"
**Describe the bug**
When scoring a previously trained LSTM network it loses its internal states. Basically if the same Tensor is used as input multiple times the output stays the same.

Additionally i'm not sure how to pass a sequence of Tensors as input to the model and if it is supported right now.

**Urgency**
Normal
(i want to use it within my masters thesis as additional possibility to run e

[2020-01-31 18:21] Rocheng commented on #2940
Thanks Scott.  I thought we had passed the /arch:AVX2 flag, but evidently it did not take effect.  Let me check again.

I'll go ahead close this bug.

[2020-01-31 18:21] #2940 closed

[2020-01-31 20:35] pranavsharma commented on #2812
@krasznaa you can run nm -C -D libonnxruntime.so to see which symbols are exposed by onnxruntime. When we run our Linux build, we generate a file called onnxruntime.lds (linker version script) that defines the symbols we expose. You can read more about this [here](https://ftp.gnu.org/old-gnu/Manuals/ld-2.9.1/html_node/ld_25.html). The contents of this file (for 1.0 release as an example) is as fol

[2020-02-01 06:48] lxl910915 commented on #2872
Rebuild TRTIS, solved my problem. Thanks.

[2020-02-01 16:31] xgirones opened #2962 "Support for grid_sample layer in both ONNX and ORT"
**Is your feature request related to a problem? Please describe.**

Need support for the PyTorch `grid_sample` operator in both ONNX and ORT in order to be able to run [Spatial Transformer Networks](https://pytorch.org/tutorials/intermediate/spatial_transformer_tutorial.html) with ORT.

See [ONNX and grid_sample layer](https://github.com/pytorch/pytorch/issues/27212#issue-501445631) and [Spatial t

[2020-02-02 07:03] truemanlee opened #2963 "ONNXRuntime_GPU illegal memory access error"
Description
I encountered the illegal memory access error while using onnxruntime-gpu. But in cpu version of
onnxruntime, the model could inference successfully.

CUDA vesrion: 10.0
CUDNN version: 7.6.5
GPU: rtx2080ti

I noticed that a similar issue occured in older version of onnxruntime, https://github.com/microsoft/onnxruntime/issues/1591. Actually, I was trying to convert the tacotron model (t

[2020-02-02 10:08] marph91 opened #2964 "Error with QLinearConv and INT8 datatype"
**Describe the bug**
The `QLinearConv` layer with INT8 activations and weights doesn't work.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Opensuse 15.1
- ONNX Runtime installed from (source or binary): binary (pip)
- ONNX Runtime version: 1.1.1
- ONNX version: 1.6.0
- Python version: 3.6.10
- Visual Studio version (if applicable): -
- GCC/Compiler version (if

[2020-02-02 11:01] ShmuelFine commented on #2877
I'm sorry but I've just cloned and tried to build by the instructions for Andoird at the bottom of the [build instructions page](https://github.com/microsoft/onnxruntime/blob/master/BUILD.md), and it didn't work for me nor on windows or linux.
On windows it first claimed that the protobuf (cmake/externals) folder is empty, and later (after I've poured there the relevant repo) it claimed that git c

[2020-02-02 12:26] ShmuelFine commented on #2877
@snnn, could you please supply your building command / process?

[2020-02-02 16:46] snnn commented on #2877
git clone --recursive

Did you add this flag when doing the clone?

[2020-02-02 20:58] skottmckay commented on #2872
ONNX and onnxruntime support dynamic shapes.

https://github.com/onnx/onnx/blob/master/docs/IR.md#static-tensor-shapes

[2020-02-02 21:02] #2875 closed

[2020-02-03 03:42] saudet commented on #2675
It's very easy to get this working with GitHub Actions and JavaCPP, indeed. Check https://github.com/tensorflow/java/pull/25 for an example of what we can do with about 100 lines of YAML of these days. If the only thing missing from JavaCPP is a plugin for Gradle, if there is a demand for it, this is something I can work on.

BTW, there isn't any issue with calling the CMake build from Maven, as p

[2020-02-03 03:50] saudet commented on #2892
@Craigacp As discussed previously, please put up all the known limitations like these in a README file somewhere instead of leaving users in the dark and forcing them to post issues like this...

[2020-02-03 03:55] lefromage opened #2965 "docker build fails when pip installing on onnx: Protobuf compiler not found"
**Describe the bug**
 build failed from source for docker

command fails to build from generic Dockerfile.source

**Expected behavior**
docker should build for CPU

**Urgency**
important

**System information**
Docker
Ubuntu 16.04

**To Reproduce**
time docker build -t onnxruntime-source -f Dockerfile.source .

Processing ./build/Linux/Release/dist/onnxruntime-1.1.0-cp38-cp38-linux_x86_64.whl
Requ

[2020-02-03 04:13] Craigacp commented on #2675
@saudet that's the wrong way around. It needs to call maven from cmake with the appropriate flags. @yuzawa-san has already refactored the build to use gradle for the Java parts, it's awaiting merging.

[2020-02-03 04:14] Craigacp commented on #2892
@saudet this was a bug, it's fixed by the build system rewrite that's awaiting merging.

[2020-02-03 05:06] snnn commented on #2965
Please report it to https://github.com/onnx/onnx

[2020-02-03 05:07] snnn commented on #2965
Thank you for reporting this. It is due to my recent change in : https://github.com/microsoft/onnxruntime/commit/fd334aff44b5e5dfe698716a31808c9d002586b3#diff-2eeaed663bd0d25b7e608891384b7298

We'll update the docker file and fix the issue.

[2020-02-03 05:15] truemanlee commented on #2963
![TIM截图20200203131224](https://user-images.githubusercontent.com/10486524/73627272-ecc33700-4686-11ea-8291-bb11d8eadcaa.png)
It seems that the error is caused by the decoder part.

[2020-02-03 08:23] pcaselles commented on #2700
I've used the new release of onnxruntime. I've seen an improvement, now the model can be inferenced in GPU, but with some issues:

After doing more than 300000 inferences we got more than 3% errors. Sometimes there are streaks, meaning that after doing 300 clean inferences suddenly almost 30  consecutive errors appear.

The error that shows up, is the same with the previous release, however now it

[2020-02-03 08:37] lxl910915 commented on #2872
Can you provide an example how to using it. We want to convert tensorflow saved_model to onnx. If we do not fix the input shape when generating tensorflow saved_model, we get this error  https://github.com/microsoft/onnxruntime/issues/2872#issue-552121100

[2020-02-03 11:13] ShmuelFine commented on #2877
Silly me. Thanks for pointing this out. However, this does not solve the issue. Now it's the previous error I had.
on Windows:
`git clone https://github.com/microsoft/onnxruntime.git --recursive`
Then
`build.bat --android --android_ndk_path C:\Users\Admin\AppData\Local\Android\Sdk\ndk\20.1.5948944 --android_abi arm64-v8a --android_api 27 --cmake_generator "Visual Studio 16 2019"`
Got:
`CMake Error

[2020-02-03 12:24] nietras commented on #1859
I am seeing this issue when specifying version `10.2`
[code]
I do not know what I am doing wrong? E.g. using following parameters for `build.bat`
[code]

[2020-02-03 13:39] mrlzla commented on #2840
Anyway how to fix the problem?

[2020-02-03 15:40] Drugbird opened #2967 "Using TensorRT at fp16 precision"
**Is your feature request related to a problem? Please describe.**

No

**System information**
- ONNX Runtime version (you are using): 1.1.0

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I'd like to be able to infer networks using onnxruntime with the TensorRT backend using fp16 precision. The TensorRT backend already supports this, so it would

[2020-02-03 15:49] Craigacp commented on #2878
@snnn after writing a unit test, it seems like onnx-runtime throws an error if I don't supply all the inputs even when they are not used by the requested outputs. I have a simple graph which accepts scalars a,b,c, and computes ab, bc, and ab + bc as separate outputs. When asking for the ab output I get an exception thrown out of the native runtime with the text:
[code]
plus a stack trace. The test

[2020-02-03 16:59] AmirKhooj opened #2968 "ORT with IntelOpenVino EP, examples fail!"
**Describe the bug**
After building the ORT with Intel OpenVino execution provider, I started to run the "onnxruntime_perf_test"  project with below command line arguments:
-v -e openvino PATH\TO\onnxruntime\onnxruntime\build\Windows\RelWithDebInfo\RelWithDebInfo\testdata\squeezenet\model.onnx PATH\TO\onnxruntime\onnxruntime\build\Windows\RelWithDebInfo\RelWithDebInfo\testdata\squeezenet\test_data

[2020-02-03 18:23] snnn commented on #1859
Please reinstall your CUDA SDK and be sure that you have visual_studio_integration_10.2 installed.

[2020-02-03 18:34] hariharans29 commented on #2746
Hi @ankane

Fetching the `ModelMetadata` and `end_profiling()`are supported via #2794 . I spoke to some folks and they say that the global method `get_device()` was apparently added only to support the onnx backend API (https://github.com/onnx/onnx/blob/master/onnx/backend/base.py) and is Python only. I think what you may have bee interested in is something along the lines of the `GetAvailableProv

[2020-02-03 19:30] hariharans29 commented on #2963
Can you please share the model ?

[2020-02-03 19:42] ankane commented on #2746
Thanks @hariharans29, #2794 looks great!

Re `get_device()`: thanks for the context. It sounds like `GetAvailableProviders()` will return similar info, and it's also used to determine fallback providers in Python. There's also `GetRegisteredProviderTypes()` which is used to implement the `get_providers()` method on `onnxruntime.InferenceSession`.

Totally understand if there are concerns with expo

[2020-02-03 20:17] ggeor84 opened #2969 "Quantized model runs slower"
**Describe the bug**
I used the calibrate.py tool to quantize resnet-50. Quantized resnet-50 runs approximately 10x slower than baseline. Measurements made by mlperf tool. onnxruntime cpu.

**Urgency**
04/2020 deadline

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- ONNX Runtime installed from (source or binary): source
- ONNX Runtime version: 1.1.

[2020-02-03 20:57] jywu-msft commented on #2968
can you try with official squeeze net model from onnx model zoo?
https://github.com/onnx/models/tree/master/vision/classification/squeezenet

[2020-02-03 20:58] jywu-msft commented on #2967
yes, we should be supporting this in the next release.
@stevenlix FYI

[2020-02-03 21:10] AmirKhooj commented on #2968
Just tried and it still fails at below line (line 51) in pb_helper.cc:
if (!message->MergeFromCodedStream(input)) return false;

[2020-02-03 21:11] AmirKhooj commented on #2968
EDIT: I believe the actual failure happens in the below line not at ConsumedEntireMessage() function:

if (!message->MergeFromCodedStream(input)) return false;

[2020-02-03 22:41] jywu-msft commented on #2968
Looping in devs from Intel.
@smkarlap @suryasidd FYI
This is on Windows where the integration was not tested as extensively as on Linux Ubuntu 16.04

[2020-02-04 00:18] hariharans29 commented on #2964
Hi @marph91,

Thanks for reporting. Would you like to contribute the additional type support for the `QLinearConv` op ?

[2020-02-04 00:57] ggeor84 commented on #2969
Here is the report for the baseline (full precision model):
TestScenario.SingleStream qps=35.79, mean=0.0277, time=13.971, acc=76.000%, queries=500, tiles=50.0:0.0272,80.0:0.0307,90.0:0.0334,95.0:0.0350,99.0:0.0436,99.9:0.0491
accuracy=76.000%, good=380, total=500

Here is the report for the quantized one:
TestScenario.SingleStream qps=3.89, mean=0.2567, time=128.457, acc=74.400%, queries=500, til

[2020-02-04 01:25] hariharans29 commented on #2962
CC: @spandantiwari

[2020-02-04 07:15] vigsterkr commented on #2818
@pranavsharma any roadmap/project or possibly branch publicly available of this... i.e. potentially help out with the effort?

[2020-02-04 14:22] zealerww commented on #2871
@tracysh
I use the latest onnxruntime in master branch, but I also got similar result.

* fp32 model: time 40ms; cpu usage 450%
* int8 model: time 65ms; cpu usage  300%

Also cannot get performance improvement

I use resnet50 model in https://github.com/microsoft/onnxruntime/tree/master/onnxruntime/python/tools/quantization/E2E_example_model

test code
[code]

quantization code
[code]
Any idea?

[2020-02-04 19:05] tracysh commented on #2871
@zealerww There's still work in progress to improve quantized models. The change for the multi-threaded GEMM fixed half of the performance for ConvInteger. There's still a significant cost from the im2col step in the current implementation: for some of the early 3x3 kernel nodes, the im2col time is twice that of the GEMM.

The float implementation of convolution that you get with ORT_DISABLE_ALL d

[2020-02-04 19:09] marph91 commented on #2964
Hi,
it's not high priority, since it's an additional reference for an existing design. However, if I find some time, I will try to contribute.

[2020-02-04 19:36] pranavsharma commented on #2818
This feature is being worked on in a private branch and not at a stage where it can be opened up for community contributions due to multiple conflicting internal pieces. Once we've achieved this for one execution provider, we can open it up to the community. Stay tuned!

[2020-02-04 21:54] saudet commented on #2675
@Craigacp That's not an answer to my question. I asked you that question before, and I also asked you before why you didn't like JavaCPP, and you didn't answer, but maybe that's of the whys, so please elaborate more if you could. It would be helpful.

[2020-02-04 22:02] saudet commented on #2892
From an end user's perspective, all the issues that I mentioned on pull https://github.com/microsoft/onnxruntime/pull/2215#issuecomment-545243304 are also "bugs".

However, I do not see you do anything about them and none of them have been fixed in the new pull request you mention. From what I understand, you consider all these issues as "limitations", which is fine, but they should be clearly sta

[2020-02-04 22:46] Craigacp commented on #2675
The aim is to drive the whole build through the build.py script and CMake combination that the rest of the library uses. The JNI binding needs to be compiled using the same flags as the onnx runtime native library, so it's easier to leave that in CMake. I originally had the CMake compile the Java parts and generate the native headers too, but CMake isn't very good at building Java projects so it's

[2020-02-05 03:01] saudet commented on #2675
I see where you're coming from, but no, it doesn't. You're wrong. In fact, JNI bindings sometimes require a different set of flags than the rest of the code. CMake, Bazel, Autoconf, etc don't come with any special support for JNI for that. We need to tack these things on manually anyway, so why not do everything in one single place, such as with a tool like JavaCPP with it's own little "build syst

[2020-02-05 05:44] crvkumar opened #2974 "Does CAST node support INT64 to FLOAT16?"
For a model converted from Float32 to Float16, an error is thrown while trying to load the inference session at the CAST node stating that the expected output type is tensor(float) rather than the actual tensor(float16).

[2020-02-05 07:58] ShmuelFine commented on #2877
@snnn, should I look for an additional problem on my side ? everything works for you from clean clone?

[2020-02-05 13:01] nietras commented on #1859
@snnn thanks! That helped :)

[2020-02-05 13:36] Craigacp commented on #2675
The JNI bindings are compiled with the same flags as that allows them to use conditional compilation to turn on or off the various execution providers. When they are turned off it throws a catchable exception that says this provider isn't available and you need to recompile the native library. There is currently no way to probe the available providers from the C or C++ APIs. Without this functiona

[2020-02-06 09:35] sdpython opened #2982 "No Op registered for Shape with domain_version of 12"
**Describe the bug**

Operators not modified in onnx 12 are not supported if the onnx graph is created with opset 12.

[code]

**Urgency**
Probably worht investigating.

**System information**
- Debian
- ONNX Runtime installed from gihub
- ONNX Runtime version: master branch (onnx from master branch too)
- Python version: 3.7

**To Reproduce**

Run python unit tests of onnxruntime.

**Expected beh

[2020-02-06 13:47] erikbrntsn opened #2983 "Error using output of one model as input for another"
I have two nested/sequential models i.e. I want to call model2.Run(model1.Run(data))
With the call to model2.Run I get "Arithmetic operation resulted in an overflow". I dont believe it is really related to #713 as the output of model1 is a 1x64x56x64 float tensor which should not give any memory problems.

The overflow happens here
[code]
with _dataBufferPointer=0x000002c542065060, elementIndex=0

[2020-02-06 16:10] sacha-broute opened #2984 "Loading onnx model from memory"
**Is your feature request related to a problem? Please describe.**
When loading an ONNX model I have to use `OnnxRuntime.InferenceSession("path/to/model.onnx")`

This requires me to have the model in a file, which is not the case in my situation.
(Right now I have to write to file just to load the model, then delete the file)

**System information**
- ONNX Runtime version 1.1.1

**Describe the sol

[2020-02-06 17:44] #2984 closed

[2020-02-06 17:47] sacha-broute commented on #2984
Looking at the source code I see this was already added in September. Not sure why I didn't see this in my version, my bad

[2020-02-06 18:10] snnn commented on #2982
We would think that's a converter bug. Please use the correct opset.

[2020-02-06 18:10] #2982 closed

[2020-02-06 18:12] snnn commented on #2982
Please see the discussion below.

<hr/>

From: Wenbing Li
Sent: Friday, November 8, 2019

Most of converters always stamps the model with max since version from all op appeared, instead of target opset number specified by the user.
Then, If the model generated by the converter was stamped with opset 12, it really means it contains at least one op which spec is changed beyond opset 11 , and there i

[2020-02-06 19:19] hariharans29 commented on #2983
Can you share the model please ?

[2020-02-06 19:21] hariharans29 commented on #2974
It seems like there is a problem with the conversion. Just to be sure, can you share the model please ?

[2020-02-06 19:24] hariharans29 commented on #2983
Also, are you able to run both the models individually ?

[2020-02-07 02:25] crvkumar commented on #2974
The model works fine using ML.NET 1.4.0.
Sorry about the rather large model file. It is a transfer learnt VGG16 model.

[https://drive.google.com/open?id=15gw1bfgBLLcXLrM5LxA2408_60tm5Hi4](url)

[2020-02-07 07:10] hanabi1224 commented on #2742
I think the package should at least provide a way for ppl to be able to opt-out the large PDB file in CI environment instead of doing it manaually.  Personally I use below custom build target in Directory.Build.targets to achive it.

[code]

[2020-02-07 07:50] zemofreedom commented on #2735
I have the same Error in CentOS too

[2020-02-07 08:07] erikbrntsn commented on #2983
I just tried a few things and doing the following works:

[code]
So yes, both models works individually.

[2020-02-07 09:17] natank1 opened #2990 "Upload torch model in C#"
**Describe the bug**
I try to upload a model that has been trained in Pytorch in GPU and exported to ONNX in CPU.
When I try to upload it in C#
var session = new InferenceSession(Model_file_path.onnx);
I get this message

"Microsoft.ML.OnnxRuntime.OnnxRuntimeException: '[ErrorCode:Fail] Node () Op (Conv) [ShapeInferenceError] Attribute dilations has incorrect size'
"
Help

[2020-02-07 10:12] nietras commented on #2587
@snnn @stevenlix I finally managed to build this after updating to 1d79926d273d01817ce93f001f36f417ab05f8a0 with the following build parameters:
[code]
Run from a **Developer Command Prompt for VS 2019**. I am, therefore, closing the issue.

[2020-02-07 10:12] #2587 closed

[2020-02-07 19:13] tianleiwu commented on #2889
I updated the script ([#2957](https://github.com/microsoft/onnxruntime/pull/2957)) to support keras model using Tensorflow 2.1.

I got a TFDistilBert onnx model that converted using [Keras2ONNX](https://github.com/onnx/keras-onnx/blob/master/applications/nightly_build/test_transformers.py).

Now, the model got partial optimization, and model can run in onnxruntime. I am still working on adding the

[2020-02-07 22:20] hariharans29 commented on #2990
Is the model shareable ? These errors are usually an artifact of something in the model that triggers these errors. So, it cannot be debugged without the model...

[2020-02-07 22:21] hariharans29 commented on #2964
Thank you.

[2020-02-08 00:35] ggeor84 opened #2994 "ResNet-50 has unsupported operations with OpenVino"
**Describe the bug**
When attempting to run ResNet-50 with OpenVino as an Execution Provider, I get the following message:

2020-02-07 16:28:06.147212540 [W:onnxruntime:Default, openvino_execution_provider.cc:546 GetCapability] [OpenVINO-EP] Rejecting as graph has unsupported operations.Operation is not supported by OpenVINO

Instead it reverts back to CPU

**Urgency**
None

**System information**

[2020-02-08 01:02] YZhao33 opened #2995 "error when loading onnxruntime-gpu and pytorch library"
I found there is conflict between onnxruntime-gpu and pytorch library due to the loading of different cuda libararies.

If I import torch first and then import onnxtuntime, the script crashed with the following error:

[code]

If I import onnxruntime first and then import torch. The script would work, only if I set num_workers=0 in torch DataLoader.

If I set num_worker >0, the script crashed in i

[2020-02-08 09:12] natank1 commented on #2990
Do you need both the pth and the onnx?

[2020-02-08 09:22] snnn commented on #2995
Where did you get your pytorch? Their official website doesn't have a CUDA 10.0 version.
https://pytorch.org/

[2020-02-08 09:46] snnn commented on #2995
To identify the problem:
1. Install [windbg](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/debugger-download-tools)
2.  Find the gflags.exe in the windbg install folder and start it,

3. Select the image file tab
![image](https://user-images.githubusercontent.com/856316/74082914-91d96900-4a13-11ea-95eb-d73db8a5cf13.png)

4. Type python.exe then press the "tab" key, check "Show

[2020-02-08 12:54] xsacha commented on #2995
On Windows, Pytorch 1.2 is CUDA 10.0 and 1.3/1.4 is CUDA 10.1

[2020-02-08 14:55] natank1 commented on #2990
Which one is required the onnx or the torch model (pth)?

[2020-02-08 18:53] natank1 commented on #2990
That's the code

model = prod_spec_CNN(yaml_data,, 'cpu').to('cpu')
model.load_state_dict(torch.load('model_test.pth', map_location='cpu'))
xx = torch.randn( 1,1,150, 1025)
torch.onnx.export(model, xx, "model_a1_for_study.onnx", input_names="features", output_names=[ "output1" ], verbose=True)

These are the files
[
[blablaaa.zip](https://github.com/microsoft/onnxruntime/files/4174948/blablaaa.zip

[2020-02-09 04:43] xsacha commented on #2404
@pranavsharma How are we meant to perform this in production? I notice you included test code to get this to work properly.

My data is already on GPU and I want to just use it in session.Run(..).

[2020-02-09 23:02] YZhao33 commented on #2995
Thank you for your reply!
I will use both onnxruntime and pytorch built with cuda 10.0

[2020-02-09 23:03] #2995 closed

[2020-02-10 10:23] deeplearningfromscratch opened #2996 "Is static quantization working?"
**Describe the bug**
It seems static quantization is not working.
I tried static quantization with a very simple neural net: input -> conv.

![image](https://user-images.githubusercontent.com/36693407/74141641-a64b7a80-4c3a-11ea-8b38-59570e9da608.png)

[code]

I manually gave input quantization params(following sample com), but it outputs key map error.

`ValueError: Quantization parameters are no

[2020-02-10 10:24] gargayush792 opened #2997 "Proto field is not repeating, cannot start list."
**Describe the bug**
ONNX runtime server gives error saying
[code]

**To Reproduce**
Created Sklearn pipeline using LightGBM. Pipeline inference is working fine on local python onnx runtime. Inference from the same pipeline on the server fails.

The below code for creating pipeline and inference gives correct output for probability values. -

[code]
However when sending a HTTP request to the runti

[2020-02-10 17:44] yufenglee commented on #2969
@ggeor84 Quantization in ONNXRuntime 1.1.0 only supports single thread. We enabled multi-thread for quantification in PR #2844 . Could you please try our latest master and see if you can get an on-par performance?

[2020-02-10 18:09] y2kbugger commented on #116
You have to set your cpu type to either x86 or x64.

@shahasad @jignparm Perhaps this could be made clearer, maybe build should fail if cpu type is not correctly setup in Visual Studio.

[2020-02-10 18:10] xadupre opened #2998 "Cannot build onnxruntime with python 3.8"
**Describe the bug**
I compile onnxruntime for python 3.7 and python 3.8 on the same machine (linux debian), 3.7 works, 3.8 fails (both CPU)

[code]

**System information**
- OS Platform and Distribution, Debian GNU/Linux 9.6 (stretch)
- ONNX Runtime installed from source (master branch)
- Python version: 3.8
- GCC/Compiler version: gcc version 6.3.0 20170516)

**To Reproduce**
Build onnxruntime w

[2020-02-10 18:47] snnn commented on #2998
We have nightly build for python 3.8, so it should work.
Please see [https://dev.azure.com/onnxruntime/onnxruntime/_build/results?buildId=111958](https://dev.azure.com/onnxruntime/onnxruntime/_build/results?buildId=111958)

[2020-02-10 18:48] snnn commented on #2998
Probably we should avoid linking to python libraries on Linux, in all the build configs.

[2020-02-10 19:18] jywu-msft commented on #2998
is this a python lib that you built yourself? why is it finding static lib?

[2020-02-10 22:48] pavelgorev commented on #2960
I'm trying the same thing! I imported the example Matlab model from here https://www.mathworks.com/help/deeplearning/examples/time-series-forecasting-using-deep-learning.html into ONNX. Here is my code (this is a modification of this sample: https://github.com/microsoft/onnxruntime/blob/master/csharp/sample/Microsoft.ML.OnnxRuntime.InferenceSample/Program.cs and this one: https://github.com/micros

[2020-02-11 07:11] rigorosyang opened #3004 "after using the BertOnnxModelTF.py to optimize the onnx bert model, only support batch_size==1?"
I use the BertOnnxModelTF to optimize the onnx bert model ,but running the inference occur below exception using batch_size > 1.

onnxruntime.capi.onnxruntime_pybind11_state.InvalidArgument: [ONNXRuntimeError] : 2 : INVALID_ARGUMENT : Non-zero status code returned while running SkipLayerNormalization node. Name:'SkipLayerNorm1' Status Message: skip is expected to have same shape as input

anyone c

[2020-02-11 07:41] jignparm commented on #116
That should not be the case -- it should work for x86, x64 as well as AnyCPU, depending on which architecture applies to the project (i.e. native C++, .Net Core or .Net Framework).

The package ships with the appropriate targets files, so you should not need to copy any DLLs (the original issue was created prior to the package fixes.)

Can you  post a way to reproduce the error?

[2020-02-11 10:54] erikbrntsn commented on #2983
I have created a minimal model that reproduces the problem:

[Uploading models.zip…]()

Run the following in a c# application:
[code]

The two models are implemented in PyTorch like this:

[code]

[2020-02-11 11:36] xadupre commented on #2998
I saw the nightly build for python 3.8 is working fine. Yes I build python myself so maybe it is due to the way I build python.

[2020-02-11 18:14] natank1 commented on #2990
Can you use the models or do I have to provide additional files ?

נשלח מה-iPhone שלי

[2020-02-11 18:42] jywu-msft commented on #2994
@smkarlap @suryasidd  , is this expected?

[2020-02-11 19:41] suryasidd commented on #2994
There are some operations that are not supported by OpenVINO EP right now in this model like Argmax, ReduceMean and Squeeze. That's the reason it's falling back to the default CPU. However, OpenVINO EP can run the resnet50v1 model from onnx model zoo. https://github.com/onnx/models/tree/master/vision/classification/resnet

[2020-02-11 20:28] MarcoCBA opened #3007 "Onnxruntime build with TensorRT faillure on Jetson Nano."
Im trying to build onnxruntime natively on a Jetson Nano with ARM64 architecture with TensorRT as an execution provider.
After reading the installation scripts and instructions, I ended up using the following one, combining a few things, which builds the lastest cmake first.
[code]

I do have CUDA and CudNN and TensorRT installed, as nvidia-jetpack apt package for jetson nano includes those three.

[2020-02-11 23:59] csteegz commented on #2997
Hi,
You're not using the rawData field correctly in that example. RawData expects a base64 encoded version of the raw data in the input.
You should use float_data and string_data respectively for your inputs.

In addition, the input fields expect 'flattened' versions of the tensor.

We should probably improve the examples of using the JSON API.

[2020-02-12 00:10] y2kbugger commented on #116
To be honest I haven't tried to reproduce since the 0.4 era, I only pinged you because I saw someone saying they had it with 1.1.0. I still do leave mine configured with x86 regardless of whether my code is managed or not. If I have time I'll experiment.

[2020-02-12 00:32] yufenglee commented on #2996
@deeplearningfromscratch the input of conv is 'input' instead of 'input.1:0', from your description. Please try setting "quantization_params={**'input'**: [np.uint8(0), np.float32(0.05)]},".

[2020-02-12 04:15] jywu-msft commented on #3007
don't use --arm64 option. that is for cross compile.
for native build, follow https://github.com/microsoft/onnxruntime/issues/2684#issuecomment-568548387

[2020-02-12 06:51] kcy1019 commented on #2998
It seems like you've missed `--enable-shared` option building the python

[2020-02-12 08:15] Borda commented on #993
Hi, is there any update about Azure Pipelines with support GPU VMs? Thx

[2020-02-12 10:09] jignparm commented on #2763
Using C#  a real time environment is a bit of an odd choice because you cannot control GC to any reasonable degree.

As you mentioned above, having a lower-level C# API  to mitigate the number of manage allocations  and avoid GC entirely would be one way to enable real-time scenarios in C#. The current C# API was designed primarily for ease-of-use and for quick adoption, while keeping the average

[2020-02-12 15:38] mina-asham commented on #2878
@Craigacp did you also test if an input is completely unused? (e.g. inputs: a, b output: c = a, i.e. b is unused)

[2020-02-12 16:06] jbrownkramer commented on #116
I believe one issue was fixed by changing the platform, but I have not tried to replicate the problem.

One thing I know for sure: I have a project - project A -  that uses onnxruntime as a nuget package.  I have another project - project B - that references project A.  Unless onnxtruntime is explicitly added as a Nuget package to project B, onnxtruntime.dll doesn't get copied into the bin folder.

[2020-02-12 16:26] Craigacp commented on #2878
@mina-asham, that works. I made a smaller version of my test that accepts a,b,c and only outputs ab. There supplying c or not is irrelevant to the output. It's on the same branch.

[2020-02-12 18:04] ggeor84 commented on #2994
@suryasidd Thanks for the quick response. Are there any current plans to expand the op coverage to include these?

[2020-02-12 22:55] suryasidd commented on #2994
We are working on adding new ops in the next release coming soon. Will let you know once its out?

[2020-02-13 01:58] jonringer commented on #2828
Still failing on 1.1.1:
[code]

[2020-02-13 03:00] gargayush792 commented on #2997
Tried doing this but now it gives me a different error -
[code]

Error:

[code]

[2020-02-13 06:49] EthanPhan commented on #2889
Thanks a lot. Will try and keep you updated

[2020-02-13 15:27] Craigacp commented on #2878
A little more investigation (i.e. turning on the execution plan printing) shows that it doesn't change the execution plan based upon the outputs requested as I thought.
[code]
It always uses the above execution plan no matter what outputs are requested, hence the failure. I can easily change the Java API to ensure all the inputs are required, but this still feels like an issue in the native librar

[2020-02-13 16:47] MarcoCBA commented on #3007
Why then BUILD.md includes the --arm flag in the steps for building it natively?
I followed the instructions hossein1387 wrote.
The wheel builds with a LOT of warnings in the process (they are all from eigen).
I tried running inference with a mobilenet in onnx format, but the process gets killed everytime.
I used these versions (Jetpack 4.3):
# cmake 3.16.0
# CUDA 10.0.326
# TensorRT 6.0.1
# cuDNN

[2020-02-13 16:58] jywu-msft commented on #3007
re: --arm flag, that is a mistake. we will correct it.

re: process getting killed, I suspect if you run dmesg you'll see that the process is killed by OOM killer.
TRT consumes a lot of memory.
Note the last step in @hossein1387 's instructions to free up more memory on the system.

"You can make a swap file to make sure you have enough RAM. You can disable GUI and desktop at boot time to free up

[2020-02-13 17:03] DrChainsaw opened #3015 "Improve error message when tensor type does not match node input type"
**Describe the bug**
The error message in [graph.cc](https://github.com/microsoft/onnxruntime/blob/master/onnxruntime/core/graph/graph.cc#L1718) would be much more helpful if it hinted that it was actually comparing the type of a node which uses the tensor as input.

As it is now, it gives the impression that something is wrong in the actual initializer Tensor. One needs to look into the source co

[2020-02-13 17:18] MarcoCBA commented on #3007
Indeed, thats what happens.
It already has no GUI and Desktop.
[code]

[2020-02-13 17:51] MarcoCBA commented on #3007
Tried increasing swap up to 8G, and now the inference script hangs.
[code]
I guess jetson nano its not powerful enough.

[2020-02-13 17:56] jywu-msft commented on #3007
which mobilenet model? is it from the onnx model zoo?

in the meantime, can you try CUDA provider instead? the memory requirements will be less.
follow the same build instructions, but replace --use_tensorrt with --use_cuda
and remove --tensorrt_home option

[2020-02-13 18:30] MarcoCBA commented on #3007
After some time loading the model, i ran some inferences with it on a (224x224), and got 30ms per frame ~33fps, which i find kind of slow comparing to NVIDIA benchmarks.
Is there any way to check which provider is being used?

[2020-02-13 21:02] mina-asham commented on #2878
Thanks for the detailed analysis, that explains it, I think we can split this into two bits:
* There is a bug in the Java code (the one you fixed on your branch), and that bug affects models with "unconnected" inputs (i.e. completely non-required inputs)
* There is a potential bug in the native code where the request outputs are only used post evaluation to select specific outputs rather than limi

[2020-02-13 21:19] Craigacp commented on #2878
Well it depends if the native library is working as intended or not. If it's not then the code I have is correct and when the native library is fixed everything will work. If it is working as intended then I think the Java API should check that all inputs are present before calling the native code.

[2020-02-13 22:10] tianleiwu commented on #3004
@rigorosyang, could you share your model?

If your model is trained by Tensorflow Keras and exported by keras2onnx, we will have a new [PR 3014](https://github.com/microsoft/onnxruntime/pull/3014) which might help.

[2020-02-14 05:44] ioarun commented on #613
Hi,
Thanks for the awesome library. I am facing the same issue on Raspberry Pi 4 (Raspbian - Buster). I followed the instructions given [here](https://github.com/microsoft/onnxruntime/blob/master/dockerfiles/README.md#arm-32v7) to build from scratch. Although the wheel file was generated, the same could not be installed on RPi.

Also, I had changed the first line in the docker file as : FROM balen

[2020-02-14 07:56] gargayush792 commented on #2997
Got it working. Encoding the strings to Byte worked. Is there a way I can pass the Strings as is?

[2020-02-14 15:34] nhiem2000 commented on #2965
Has this been fixed yet?  or is there any work around in the mean time?
I am seeing similar error with the Dockerfile.cuda build.
``2020-02-13 22:03:14,770 Build [DEBUG] - Subprocess completed. Return code=0
2020-02-13 22:03:14,771 Build [INFO] - Build complete
Processing ./build/Linux/Release/dist/onnxruntime_gpu-1.1.0-cp38-cp38-linux_x86_64.whl
Requirement already satisfied: numpy>=1.18.0 in /op

[2020-02-14 18:28] jywu-msft commented on #3007
if you turn on verbose logging, you will see some log messages pertaining to node placements.
e.g.
see [example](https://github.com/microsoft/onnxruntime/issues/2404#issuecomment-554276559)

re: Nvidia benchmarks, is it [this](https://developer.nvidia.com/embedded/jetson-nano-dl-inference-benchmarks) ?
I believe those benchmarks are using FP16 precision.
ORT + TRT EP is FP32 precision by default.

[2020-02-14 18:54] smkarlap commented on #2968
The code where the failure occurs is around parsing the input model protobuf file, which occurs before the control even enters OpenVINO specific code. Could you please check whether the error occurs if you run the same test on an ONNXRuntime build without the OpenVINO EP?

[2020-02-14 19:38] AndreV84 opened #3024 "Jetson Xavier - building from source"
1. I tried the solution proposed [here](https://github.com/microsoft/onnxruntime/issues/2684):
`../build.sh --config Release --update --build --build_wheel --use_tensorrt --cuda_home /usr/local/cuda --cudnn_home /usr/lib/aarch64-linux-gnu --tensorrt_home /usr/lib/aarch64-linux-gnu
2020-02-14 14:34:50,960 Build [INFO] - Build started
2020-02-14 14:34:50,960 Build [DEBUG] - Running subprocess in '/c

[2020-02-14 19:43] vinitra commented on #2965
Resolved in #3016 by building onnx dependency from source. #3023 has additional details.

[2020-02-14 19:43] #2965 closed

[2020-02-14 20:08] AndreV84 commented on #1777
very similar issue here:
https://github.com/microsoft/onnxruntime/issues/3024

[2020-02-14 21:25] csteegz commented on #2997
The JSON handling is in https://github.com/microsoft/onnxruntime/blob/master/server/http/json_handling.cc
and is using the protobuf json handler (https://developers.google.com/protocol-buffers/docs/reference/cpp/google.protobuf.util.json_util)

It's possible there's some options that could be changed in the server to make that work - I'm not super familiar with the protobuf parser's options.

[2020-02-15 00:06] tianleiwu commented on #2889
@EthanPhan,
A new PR [3014](https://github.com/microsoft/onnxruntime/pull/3014) can help TFDistilBert to get full optimization.

Due to limitation of shape optimization, the optimized model can only accept input with static shape. For example, we have a model with fixed batch_size=1, and max_sequence_length=12.

There are two steps to get the optimized model. The command line is like the following

[2020-02-17 01:23] skottmckay commented on #3024
The error is from CMake trying to validate that the CUDA compiler works. CMake generates a really simple program using the following

[code]

It tries to compile it using the below command, and the errors you see are from this step:

`/usr/local/cuda-10.0/bin/nvcc    -cudart shared  -Xcompiler=-fPIE   -x cu -c /code/onnxruntime/build/Linux/Release/CMakeFiles/CMakeTmp/main.cu -o CMakeFiles/cmTC_bb4

[2020-02-17 04:59] notogawa opened #3029 "v1.1.1 cant' load certain onnx file"
**Describe the bug**

Some onnx model which can be loaded by onnxruntime-1.1.0 are can't be loaded by onnxruntime-1.1.1.

**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX
- ONNX Runtime installed from (source or binary): pip
- ONNX Runtime version: 1.1.1
- Python version: 3.7.4

**To Reproduce**

Try [this model](https://gist.github.com/notogawa/84a62313cd7ffe

[2020-02-17 05:01] saudet commented on #2675
That's not an issue with JavaCPP, but thanks for pointing this out! The C/C++ APIs of ONNX Runtime does in fact support that just fine. As @EmergentOrder found out quickly enough when he started to use them, the only line missing was an `include = {..., "onnxruntime/core/providers/dnnl/dnnl_provider_factory.h"}`, see https://github.com/bytedeco/javacpp-presets/pull/841. We'll be able to include cu

[2020-02-17 07:42] AndreV84 commented on #3024
Hi @skottmckay
Thank you for your response.
I shall validate the CUDA installation and will get back to you.

[2020-02-17 07:52] AndreV84 commented on #3024
I can run the following:
`#include "stdio.h"
int main()
{
 printf("Hello, world\n");
 return 0;
}`
`nvcc hello1.cu`
`./a.out
Hello, world`
Moreover, I can see that there is no file main.cu in the folder
`/code/onnxruntime/build/Linux/Release/CMakeFiles/CMakeTmp/`
Thanks

[2020-02-17 07:54] AndreV84 commented on #3024
The code below also builds and executes:
`#include "stdio.h"
__global__ void add(int a, int b, int *c)
{
 *c = a + b;
}
int main()
{
int a,b,c;
int *dev_c;
a=3;
b=4;
cudaMalloc((void**)&dev_c, sizeof(int));
add<<<1,1>>>(a,b,dev_c);
cudaMemcpy(&c, dev_c, sizeof(int), cudaMemcpyDeviceToHost);
printf("%d + %d is %d\n", a, b, c);
cudaFree(dev_c);
return 0;
}`

[2020-02-17 07:55] AndreV84 commented on #3024
source: http://www.math.uaa.alaska.edu/~afkjm/cs448/handouts/cuda-firstprograms.pdf

[2020-02-17 07:55] skottmckay commented on #3024
The main.cu is temporary and cmake will most likely clean it up before the attempted build exits.

Can you try with the exact same command line that cmake is generating, with the only change being the path to the cu file?

[2020-02-17 08:08] AndreV84 commented on #3024
change it how?
if I omit the Release parameter it by default tries to use the default folder:
`/build.sh  --build_wheel --use_tensorrt --cuda_home /usr/local/cuda --cudnn_home /usr/lib/aarch64-linux-gnu --tensorrt_home /usr/lib/aarch64-linux-gnu
`
 protobuf from submodule
--
-- 3.11.3.0
-- The CUDA compiler identification is NVIDIA 10.0.326
-- Check for working CUDA compiler: /usr/local/cuda/bin/n

[2020-02-17 08:25] AndreV84 commented on #3024
I will try to delete the folder, clone it from github and try again

[2020-02-17 08:39] AndreV84 commented on #3024
[CMakeOutput.log](https://github.com/microsoft/onnxruntime/files/4212596/CMakeOutput.log)

[2020-02-17 08:40] AndreV84 commented on #3024
[CMakeError.log](https://github.com/microsoft/onnxruntime/files/4212607/CMakeError.log)

[2020-02-17 08:41] AndreV84 commented on #3024
where exactly do I have to change the path, could you extend, please?

[2020-02-17 08:53] skottmckay commented on #3024
Instead of this:
`nvcc hello1.cu`

Please try this:

`/usr/local/cuda-10.0/bin/nvcc -cudart shared -Xcompiler=-fPIE -x cu -c <path to>/hello1.cu -o <path to>/hello1.cu.o`

so that you're more exactly replicating the command cmake is generating.

[2020-02-17 09:01] AndreV84 commented on #3024
the output is as follows:
`/usr/local/cuda-10.0/bin/nvcc -cudart shared -Xcompiler=-fPIE -x cu -c /home/nvidia/hello1.cu -o /home/nvidia/hello1.cu.o
nvidia@nvidia-desktop:~$ ls | grtep *.cu*
-bash: grtep: command not found
nvidia@nvidia-desktop:~$ ls | grep *.cu*
nvidia@nvidia-desktop:~$ ls
add                                 cmake-3.12.3.tar.gz  Downloads                      hello1         out

[2020-02-17 09:01] tracysh commented on #3029
Thanks for the report. The bug is caused by the NCHWc layout optimizer. This graph has every internal node output also be a graph output. The optimizer wasn't accounting for this. I have a fix I've tested out and the graph loads successfully. I'll push that PR out tomorrow.

With this though, there will be extra CPU cycles spent to reorder buffers for each of the convolution and pooling nodes. If

[2020-02-17 09:10] skottmckay commented on #3024
The CUDA compiler seems to be able to generate the object file, so that's good. But linking it to create the executable may be the issue.

If you try this command is it successful or does it replicate the problem? If it works it should create an executable called 'hello1'

`/usr/bin/g++   <path to>/hello1.cu.o -o hello1 -lcudadevrt -lcudart_static  -L"/usr/local/cuda-10.0/targets/aarch64-linux/lib

[2020-02-17 09:13] AndreV84 commented on #3024
the output is as follows
` /usr/bin/g++ /home/nvidia/hello1.cu.o -o hello1 -lcudadevrt -lcudart_static -L"/usr/local/cuda-10.0/targets/aarch64-linux/lib/stubs" -L"/usr/local/cuda-10.0/targets/aarch64-linux/lib" -lcudadevrt -lcudart
/usr/local/cuda-10.0/targets/aarch64-linux/lib/libcudart_static.a(libcudart_static.a.o): In function `cudart::globalState::initializeDriverEntrypoints()':
:(.text+0x234

[2020-02-17 09:35] AndreV84 commented on #3024
similar errors are said to be characteristic to  cases where dl library flag is missed [ -ldl]
reference: https://forum.hdfgroup.org/t/h5pl-c-text-0x749-undefined-reference-to-dlsym/4913

[2020-02-17 10:00] skottmckay commented on #3024
Unfortunately I don't have a machine I can replicate this on. Seems like a fundamental issue for the link to fail when it's just involving some simple CMake + CUDA pieces and no TensorRT components. Given that the cmake setup seems to work for everyone else (I haven't seen an Issue where it's failing in the CMake test for CUDA) there's a good chance there's something about your particular setup th

[2020-02-17 12:58] SimonKoppers opened #3032 "Problem building onnxruntime with OpenVino on Windows"
**Describe the bug**
Building with --use_openvino results in errors due to warnings as warning level is set to W4. If it is reduced to W3, building completes without errors, but has linking problems, which is why only 75% of all unittests pass.

building without --use_openvino works fine.

**Urgency**
not urgent

**System information**
- OS Platform and Distribution: Windows 10
- ONNX Runtime inst

[2020-02-17 13:21] notogawa commented on #3029
I intentionally convert a source graph to a new graph which outputs all internal nodes for a special purpose. The graph in this issue is one of such converted graph.

[2020-02-17 22:56] tracysh commented on #3029
The fix for this has been merged into master. Thanks again for the report.

[2020-02-17 22:56] #3029 closed

[2020-02-18 00:17] jignparm opened #3034 "TensorRT EP failing on dynamic input shape, but CPU/GPU EP passing OK."
**Describe the bug**
Setting  `ort_session.set_providers(['TensorrtExecutionProvider', '...'])`  during an inference session causes a model to fail when the input shape dimension of the model is set to `dim_param = '?'` (i.e. a dynamic value). However, the CPU and GPU execution providers can run this model just fine. See https://github.com/onnx/tensorflow-onnx/issues/784#issuecomment-586866327 for

[2020-02-18 12:49] lxl910915 commented on #3034
In TensorrtExecutionProvider::GetCapability() method, the code
[code]
some input's shape is empty. So we exclude those node whose shape is empty using
[code]
The above code can work. But some kernel fallback to CPU, and a lot of CPUs are comsumed.

What's more, if the input shape is fix, node placements is
[code]
If the input shape is dynamic, more kernel are generated. And node placements is
[cod

[2020-02-18 13:13] olokobayusuf commented on #2962
Any word on this?

[2020-02-18 22:11] danielecazzari opened #3036 "OpenVINO Execution Provider samples C++ and python"
Hi,
there is any chance to include a sample application that shows how to score an ONNX file leveraging OpenVINO Execution Provider both in C++ and Python?

Thanks

Daniele

[2020-02-19 10:36] ankitdhall opened #3041 "torchvision MaskRCNN export to ONNX throws error; onnxruntime.capi.onnxruntime_pybind11_state.Fail: [ONNXRuntimeError] : 1 : FAIL : Node (ConstantOfShape_1966) Op (ConstantOfShape) [ShapeInferenceError] Invalid shape value: 0"
**Describe the bug**
MaskRCNN ONNX model fails to load when reading from disk or from buffer. However, FasterRCNN loads from buffer without errors but throws error when loading from disk. The ONNX model is generated by converting a PyTorch model. The test script has been inspired from the tests in the PyTorch repo. The model is from `torchvision` model zoo, MaskRCNN and FasterRCNN converted with o

[2020-02-19 12:41] TerisGH commented on #3032
I encountered the same issue.

[2020-02-19 17:02] engdorm opened #3042 "Question about adding new optimization"
I want to add new optimization,
In this optimization, some nodes will be added pads to their inputs,
The question is there a way to update all of the shapes of the tensors in the graph
I changed only the node Inputs and output Defs of the specific Node
but is there a way to do ShapeInfernce with the same graph
Or some help function in the graph_utils that I can use?

Thanks

[2020-02-19 20:19] snnn commented on #2998
Please try it with the latest master again.  It won't link to libpython3.8.a so you won't see the same error.

[2020-02-19 21:41] CoderHam commented on #2684
I followed the instructions above but I am getting an unused parameter error on onnxruntime **rel-1.1.1**
[code]

[2020-02-19 22:15] liuyw07 opened #3044 "cannot create sequence of string tensor"
**Describe the bug**
In C++, Constructing Sequence of string tensor fails with error message "unsupported tensor element type in the input: 8"

**Urgency**
Not urgent

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Fedora 29
- ONNX Runtime installed from (source or binary): binary
- ONNX Runtime version: 1.1.1
- Python version:
- Visual Studio version (if applica

[2020-02-20 00:16] vinitra commented on #2967
Support for TensorRT FP16 mode has been added to the master branch in PR https://github.com/microsoft/onnxruntime/pull/2973.

You can enable ORT TensorRT FP16 mode by setting the environment variable `ORT_TENSORRT_FP16_ENABLE=1`. For more details, take a look at the [ORT TensorRT EP documentation](https://github.com/microsoft/onnxruntime/blob/master/docs/execution_providers/TensorRT-ExecutionProvi

[2020-02-20 00:16] #2967 closed

[2020-02-20 04:29] liuyw07 commented on #3044
man you guys are fast, thanks!
please close this if you'd like

[2020-02-20 08:08] snnn commented on #2921
Seems new manylinux2014 docker images can help us solve this.

[2020-02-20 08:32] smuzaffar commented on #2921
@snnn , we were able to build onnxruntime for ppc64le using the changes here https://github.com/cms-externals/onnxruntime/pull/4 but some of our tests failed to produce identical results. One of onnxruntime test also failed to run. @mrodozov do you remember which test was failing?

Have you tried using proot and qemu to get emulate powerpc ? We do use it to install ppc64le rpm packages on our x86_

[2020-02-20 08:37] snnn commented on #2921
@tracysh  Could you please take a look at cms-externals#4  ?

[2020-02-20 11:43] mrodozov commented on #2921
turn this:
`-Donnxruntime_BUILD_UNIT_TESTS=ON`
and then the test is:
`onnxruntime_mlas_test`
a validation test to my understanding.
We were trying to bring this implementation:
https://github.com/microsoft/onnxruntime/blob/master/onnxruntime/core/mlas/lib/arm/sgemmc.cpp#L22
on powerpc

[2020-02-20 16:29] mika-fischer opened #3055 "Source ZIPs/tarballs are missing submodules"
The current source tarballs are pretty useless, since the code for all git submodules is missing.

For CI builds, and also for normal users, it would be very beneficial to have an archive of the source code, that can be used to actually build the software.

[2020-02-20 18:22] snnn commented on #3055
It's auto-generated by github, we can't change it.  ONNX has the similar issue.

[2020-02-20 19:27] #3044 closed

[2020-02-20 19:28] tracysh commented on #2921
That's strange, because the Conv2D tests build on the GEMM routine. MlasFgemmTest::ExecuteShort first loops over small GEMMs from 1-15 which stresses some of the partial vector stores. Do the tests after this, which are multiples of 16, work okay?

[2020-02-20 20:15] mika-fischer commented on #3055
You're obviously already attaching assets to the github releases (the binaries). It's simply a matter of generating a tarball with the complete sources and attaching that as well. That the original github tarball is also there is not a big deal, but maybe it can even be prevented...

Maybe check how the mxnet guys are doing it, they also have a lot of submodules: https://github.com/apache/incubato

[2020-02-20 20:17] snnn commented on #3055
@faxu @yufenglee What do you think?

[2020-02-20 20:20] mika-fischer commented on #3055
Here's the process they use: https://cwiki.apache.org/confluence/display/MXNET/Release+Process#ReleaseProcess-Step1.10.Createartifactsforthereleaseandpushtothedistfolder

I don't know github enough to say how to attach assets to releases. But you're already doing that, so you probably know :-)

[2020-02-21 07:34] skottmckay commented on #3024
@jywu-msft so you have any insights into this issue?

[2020-02-21 10:34] mrodozov commented on #2921
this is the full unittest output
[unit_test.txt](https://github.com/microsoft/onnxruntime/files/4235577/unit_test.txt)

[2020-02-21 13:45] msobroza opened #3063 "Could not reproduce the inference time results of tutorial "Inference-PyTorch-Bert-Model-for-High-Performance-in-ONNX-Runtime""
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04.5 LTS xenial
- ONNX Runtime installed from (source or binary): binary
- ONNX Runtime version: 1.1.1
- Python version: 3.7.1
- Pytorch version: 1.3.1
- Visual Studio version (if applicable):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version:
- GPU model and memory: only CPU
- P

[2020-02-21 17:05] Craigacp commented on #2878
I've made a PR for the Java fix, I agree we should open another issue for the native library behaviour.

[2020-02-21 18:30] CoderHam opened #3067 "Rel-1.1.1 C++ API unable to run Op Set 11 on GPU"
**Describe the bug**

I use the `tools/ci_build/build.py` script to build onnxruntime **rel-1.1.1** and use the C++ API to load and run a model that contains ops from Op Set 11. For some reason this runs _only on my CPU_ with a very small spike in volatile GPU memory.

When I use the python API for onnxruntime-gpu the model runs as expected for v1.1.1.

There must be a build issue that does not bu

[2020-02-21 18:42] snnn commented on #3067
Do you have such code in your application:
[code]

[2020-02-21 18:45] snnn commented on #3067
Due to limited resources available, we didn't implement all the opset11 ops on GPU.

[2020-02-21 19:01] CoderHam commented on #3067
Yes I do

[2020-02-21 19:02] CoderHam commented on #3067
It's odd that it would work with python and not C++. Is this intentional or expected behavior?

[2020-02-21 19:07] snnn commented on #3067
No, it shouldn't be the case.

[2020-02-21 20:48] CoderHam commented on #3024
@skottmckay @jywu-msft
Facing the same issue on Jetson Xavier as well.
Cuda 10.0
JetPack 4.3
Onnxruntime 1.1.1

[2020-02-21 21:13] #2878 closed

[2020-02-21 21:40] Craigacp commented on #2892
This should be fixed by the merging of #2866. @Zhuoqing could you check to see if the current master branch resolves your issue.

[2020-02-21 22:10] pranavsharma commented on #3067
If you configure the log severity level to VERBOSE, you should be able to see in the logs the placement map (which nodes got assigned to which provider). That should give a hint.

[2020-02-21 22:35] CoderHam commented on #3067
On Python the model runs significantly faster and has very low CPU consumption (Mostly GPU). As explained earlier the slowdown is seen on the C++ side.

I can try the same logging approach in C++ to see which layers get assigned to CPU as compared to the GPU in python.

[2020-02-22 00:55] slevental opened #3071 "Using Java library with DNNL"
**Describe the bug**
I've compiled java jar with options:
`./build.sh --use_dnnl --use_openmp  --build_java --parallel --config RelWithDebInfo`

At the end, I've used `onnxruntime4j-1.1.0-with-binaries.jar` in my java application; but after trying some of the benchmarks and analyzing model exec with profiler I've noticed that DNNL is not in the call stack and MLAS is used instead;

I've found an o

[2020-02-22 01:10] snnn commented on #3071
It's a bug.

[code]

We need to have the similar thing on the jni project.

[2020-02-22 01:11] snnn commented on #2998
Hi @xadupre , could you please try it again?

[2020-02-22 05:21] n8allan commented on #2742
Nuget specifically has separate symbol packages for a reason.  It is not good practice to include PDB files in your package, especially when they are 130MB.  :-(   It is also not reasonable to ask people to manually remove files from a nuget package they've downloaded.    All this is to say... yes please on this issue.

[2020-02-22 05:37] xiaoerqi opened #3076 "BERT performance slower with Intel(R) Xeon(R)"
Describe the bug
I have exported a BERT model from tensorflow's transformers models.

I wrote a sample with C + + API.It works well on my personal computer(Intel(R) i9 9900k), but it's very very very slow on the company's servers(Intel(R) Xeon(R) Gold 5118)

Batch size: 1
personal computer: 13.028000 ms
company's servers: 599.910000 ms

Urgency

System information

OS Platform and Distribution: Ub

[2020-02-22 12:56] littlecaiji opened #3077 "Can not open the website in ONNX Tutorial page"
Here is the website : https://microsoft.github.io/onnxruntime/auto_examples/plot_load_and_predict.html#sphx-glr-auto-examples-plot-load-and-predict-py

[2020-02-22 13:02] littlecaiji commented on #2665
@faxu Hi, I want to use onnxruntime with TensorRT Execution Provider, I have built it, but I don't know how to use the onnxruntime I built in python. Mabye this is the reason why this issue is opened.

[2020-02-23 13:31] xadupre commented on #2998
It works now. Unit tests are still failing because tensorflow is not available on python3.8 but the compilation works.

[2020-02-23 17:21] snnn commented on #2998
Thank you

[2020-02-23 17:21] #2998 closed

[2020-02-23 20:07] tracysh commented on #3071
@slevental As the developer on MLAS, I'm curious about the model architecture used here where DNNL is faster than the out of box experience with MLAS. Let me know if you'd be willing to share any info about the model to help improve MLAS.

[2020-02-23 20:51] jonringer commented on #2900
closing due to inactivity

[2020-02-23 20:51] #2900 closed

[2020-02-23 21:42] cjermain commented on #2849
I am also seeing this in opset 11 with onnxruntime 1.1.1, when trying to sort a Tensor of int64.

[2020-02-24 01:39] hoaquocphan commented on #1550
Hello All,
CC @qw2208  @snnn
currently I have the same issue as you.

`my_code.cpp:220:3: error: 'OrtCreateEnv' was not declared in this scope
   OrtCreateEnv(ORT_LOGGING_LEVEL_WARNING, "test", &env);
   ^~~~~~~~~~~~
my_code.cpp:220:3: note: suggested alternative: 'OrtEnv'
   OrtCreateEnv(ORT_LOGGING_LEVEL_WARNING, "test", &env);
   ^~~~~~~~~~~~
   OrtEnv
my_code.cpp:224:37: error: 'OrtCreateSessi

[2020-02-24 02:59] snnn commented on #1550
The API was changed.  Please refer https://github.com/microsoft/onnxruntime/pull/3050 as an example of how to update your existing code.

[2020-02-24 09:57] hoaquocphan commented on #1550
Hi @snnn

Thank you very much for your support,
I can fix many issue such as **OrtGetErrorMessage => g_ort->GetErrorMessage**
But there are some function/struct related to **Allocator** doesn't have the alternative:
[code]
So could you please help me for this remain issue.
Thank again.

[2020-02-24 15:15] msobroza commented on #3063
Related to [this issue](https://github.com/microsoft/onnxruntime/issues/3076) (uses also Intel(R) Xeon(R) Gold architecture)

[2020-02-24 17:56] snnn commented on #1550
OrtCreateDefaultAllocator -> GetAllocatorWithDefaultOptions
OrtSetSessionThreadPoolSize -> SetIntraOpNumThreads and SetInterOpNumThreads

[2020-02-24 18:00] jywu-msft commented on #3034
+ @stevenlix
typically for dynamic input models, you'll need to run symbolic shape inference script to process the onnx model and fill in additional shape information.
tensorrt is unable to create engines , without having shape information.
see https://github.com/microsoft/onnxruntime/blob/master/docs/execution_providers/TensorRT-ExecutionProvider.md
for information on how to run the symbolic_shap

[2020-02-24 18:16] jywu-msft commented on #3024
Unfortunately we don't have a Jetson Xavier available for us to reproduce this issue.
We've tested on Jetson Nano and others have tested on TX1, TX2
Adding @hossein1387 who has participated in threads about ORT on Jetson to see if he has any insights.

[2020-02-24 19:06] AndreV84 commented on #3024
thank you for following up!

[2020-02-24 19:32] slevental commented on #3071
@tracysh model that we are using is Seq2Seq with LSTM encoder/decoder; I'm not sure that DNNL is faster - I'm trying to conduct a comparison using java but it seems that DNNL doesn't work there; If you have any benchmarks on MLAS vs DNNL for LSTM-RNN - I would appreciate it; also interesting to hear what CPU optimizations are possible for these model architectures; I was thinking about quantizatio

[2020-02-24 19:59] Craigacp commented on #3071
@slevental if you checkout the branch referenced in my PR (#3082) you can build the Java package with DNNL support.

[2020-02-24 20:43] pranavsharma commented on #2849
This is an invalid model.

[code]

[2020-02-24 20:58] jywu-msft commented on #3032
@suryasidd , @smkarlap FYI

[2020-02-24 21:26] pranavsharma commented on #2742
@nietras Thanks for writing up the [proposal](https://github.com/microsoft/onnxruntime/issues/2742#issuecomment-571570024). In the upcoming 1.2 release (early March), we plan on separating the managed assembly into a separate package called Microsoft.ML.OnnxRuntime.Managed. Each execution provider will be delivered in it's own separate package *without* the managed assembly. This aligns with your

[2020-02-25 02:59] hoaquocphan commented on #1550
Hi @snnn

Thank you very much for your support.
I fixed all these issues.

[2020-02-25 03:28] slevental commented on #3071
@snnn now when I'm doing the same build using the most recent master (as well as using the PR you had sent) I'm constantly getting an error on a linking stage:

[code]

Not sure what's the reason. It seems that CI is working, but I'm curious if CI contains --build_java  with --use_dnnl

[2020-02-25 04:37] hoaquocphan opened #3087 "building ONNX fail with error "undefined""
Hello All,

I would like to report the issue when building the ONNX application to run some models supported by ONNX.

**Error**

/usr/src/debug/onnxruntime/1.0.0-r0/git/onnxruntime/core/automl/featurizers/src/FeaturizerPrep/Featurizers/DateTimeFeaturizer.h:72: undefined reference to `Microsoft::Featurizer::DateTimeFeaturizer::TimePoint::TimePoint(std::chrono::time_point<std::chrono::_V2::system_c

[2020-02-25 06:58] TyrionChou commented on #2463
@yangia hi, may i see your change code that use for and cat() to solve this question？

[2020-02-25 10:52] AndreV84 commented on #3024
folks said:

It won't work to compile it by a standard g++ with cuda linked.
source: [](https://devtalk.nvidia.com/default/topic/1071650/jetson-agx-xavier/validation-of-cuda-installation/post/5431992/#5431992)

[2020-02-25 14:44] jcarlosgarcia commented on #2684
Thanks @hossein1387  @jywu-msft ! Following these instructions worked like a charm on a TX2.

[2020-02-25 17:02] slevental commented on #3071
I've upgraded cmake and re-cloned everything; and the problem went away - not sure what was the reason; I had to do this first, before submitting a comment, sorry for bothering;

[2020-02-25 18:43] snnn commented on #3071
Thank you for confirming.

[2020-02-25 18:43] #3071 closed

[2020-02-25 18:46] jywu-msft commented on #3024
@AndreV84 , @CoderHam
are both of you using CMake 3.17rc1?

[2020-02-25 18:55] CoderHam commented on #3024
Yes @jywu-msft I am using `cmake-3.17.0-rc1`

[2020-02-25 18:58] jywu-msft commented on #3087
can you provide more details?
How are you building onnxruntime? What build options? From which branch/commit?
from the above it looks like you're building on ARM and featurizers are enabled (which I don't think was tested on ARM)

[2020-02-25 18:59] AndreV84 commented on #3024
`cmake --version
cmake version 3.17.0-rc1`

[2020-02-25 19:05] jywu-msft commented on #3024
It looks to me like cmake 3.17 rc1 has some behavior change where it uses static cuda runtime by default, which may be why the link command doesn't have additional -ldl -lpthread

Can you use the latest stable cmake version 3.16 instead?
or, try building with additional cmake option for setting the runtime library type (I haven't tested this out yet)

``
./build.sh --config Release --update --buil

[2020-02-25 19:08] AndreV84 commented on #3024
tried the command above and the output is still the same;

[2020-02-25 19:14] jywu-msft commented on #3024
I haven't tested it myself. it's possible other changes need to be made in onnxruntime/cmake/CMakeLists.txt
your log shows it's still trying to link against static cuda runtime

/usr/bin/g++   CMakeFiles/cmTC_eb5cb.dir/main.cu.o -o cmTC_eb5cb  -lcudadevrt -lcudart_static  -L"/usr/local/cuda-10.0/targets/aarch64-linux/lib/stubs" -L"/usr/local/cuda-10.0/targets/aarch64-linux/lib" -lcudadevrt -lcudar

[2020-02-25 19:15] AndreV84 commented on #3024
I used to download from here: https://cmake.org/download/
where do I get 3.16 from?
could you provide exact url, please?

[2020-02-25 19:20] faxu commented on #3077
Where was that linked from?
Here is the correct url: https://microsoft.github.io/onnxruntime/python/auto_examples/plot_load_and_predict.html#sphx-glr-auto-examples-plot-load-and-predict-py

[2020-02-25 19:20] jywu-msft commented on #3024
sorry. what i meant was 3.16.x , so i think 3.16.4 should be fine.

[2020-02-25 19:21] #3015 closed

[2020-02-25 19:23] faxu commented on #3036
We have this reference implementation: https://github.com/Azure-Samples/onnxruntime-iot-edge/blob/master/README-ONNXRUNTIME-OpenVINO.md

Do you have some specific questions?

[2020-02-25 19:27] faxu commented on #3067
@CoderHam any findings on this issue regarding the discrepancy?

[2020-02-25 19:31] faxu commented on #2422
Closing. If you have further questions or requests, please reactivate and/or file a new issue with a feature request.

[2020-02-25 19:31] #2422 closed

[2020-02-25 19:31] AndreV84 commented on #3024
cmake --version
cmake version 3.16.4
tthe output is as attached
[16.log](https://github.com/microsoft/onnxruntime/files/4251780/16.log)
rosoft/onnxruntime/files/4251775/16.log)

[2020-02-25 20:25] jywu-msft commented on #3024
The current master branch of onnxruntime requires TRT 7.0.x for integration.
TRT 7 is not yet available in JetPack.
To build onnxruntime with TRT 6, please use an older version of onnxruntime.
please follow
https://github.com/microsoft/onnxruntime/issues/2684#issuecomment-568548387

please replace step 3 with
``git checkout ebf2374``

[2020-02-25 20:31] CoderHam commented on #3024
Thanks @jywu-msft :)

[2020-02-25 20:35] jywu-msft commented on #3024
btw, thanks for confirming that cmake 3.16.4 works.
I can see in your log that the CUDA compiler check succeeded.

-- The CUDA compiler identification is NVIDIA 10.0.326
-- Check for working CUDA compiler: /usr/local/cuda-10.0/bin/nvcc
-- Check for working CUDA compiler: /usr/local/cuda-10.0/bin/nvcc -- works

we will look into how to get it fixed for cmake 3.17 , but it is still RC1, so I suggest

[2020-02-25 21:32] AndreV84 commented on #3024
`[ 32%] Built target onnx
Scanning dependencies of target onnxruntime_providers
[ 32%] Building CXX object CMakeFiles/onnxruntime_providers.dir/home/nvidia/code/onnxruntime/onnxruntime/core/providers/cpu/activation/activations.cc.o
In file included from /home/nvidia/code/onnxruntime/cmake/external/eigen/Eigen/Core:313:0,
                 from /home/nvidia/code/onnxruntime/onnxruntime/core/util/mat

[2020-02-25 21:38] jywu-msft commented on #3024
Please make sure you follow step 5 of the linked instructions (turning off Dev mode which treats build warnings as errors)

[2020-02-25 22:43] danielecazzari commented on #3036
Hi Faith,
Thanks for pointing me out to the reference implementation but this covers only the python portion of my question. I'm still not able to find a comprehensive C++ sample for OpenVINO and other execution providers. I just noticed some code snippets on TensorRT documentation.

Another thing that I noticed is that python runtime seems to be bound to a specific Execution Provider but I would

[2020-02-26 00:08] AndreV84 commented on #3024
seems done;
thank you for your assistance

[2020-02-26 00:09] AndreV84 commented on #3024
could you propose a basic sample to execute within python 3 interface to verify that the gpu component works and won't fail?

[2020-02-26 00:57] CoderHam commented on #3067
@faxu Here are the logs: [log_py.txt](https://github.com/microsoft/onnxruntime/files/4252885/log_py.txt) and [log_c.txt](https://github.com/microsoft/onnxruntime/files/4252887/log_c.txt)

On using python only these 4 ops are loaded on CPU. While in C a large number of Gather() and Unsqueeze() are loaded on CPU as well.
[code]

Note: I used the above script mentioned in the issue description to bui

[2020-02-26 01:35] hoaquocphan commented on #3087
Hi @jywu-msft
Thanks for your reply.

I would like to provide more details.

I will explain more about my procedure.
+ I use onnxruntime with branch rel-1.0.0
+ I build SDK with Onnxruntime (the SDK is OK when build hello world app)
+ I use this SDK to build the .cpp file to run onnx models and the error appears as previous post.

full error log:

-DONNX_ML
-I /data2/hoaphan/onnxruntime/build/tmp/

[2020-02-26 02:18] hossein1387 commented on #3024
@AndreV84 take a look at this simple mnist demo that I made to test inference performance for Openvino and Onnxruntime:

https://github.com/hossein1387/int8_experiments/tree/master/mnist/onnxrt

in the onnxrt folder, run the following command:
`python3 main.py -x LENET.onnx`

I do not have access to TX1 right now, but on a 8 core x86 (Intel(R) Core(TM) i7-7700K CPU @ 4.20GHz) using onnxruntime **(

[2020-02-26 03:06] jywu-msft commented on #3087
did you follow https://github.com/microsoft/onnxruntime/blob/master/BUILD.md#cross-compiling-on-linux-without-docker
to cross compile onnxruntime?

can you try to rebuild it? but this time,
change line 59 https://github.com/microsoft/onnxruntime/blob/b783805f957c88f97b2b4398e2ace138fbdf831b/cmake/CMakeLists.txt#L59
to OFF ?

[2020-02-26 03:10] kzuiderveld commented on #2885
![image](https://user-images.githubusercontent.com/28074679/75307961-56f47500-580a-11ea-9355-3957d684e99e.png)

I pulled down the latest version of ONNX runtime and redid my benchmarks. The latest version is a tad faster compared to the version I was using, so whatever caused the performance degradation, it is fixed now and this issue can be considered as resolved.

Note: in my case, inference bec

[2020-02-26 03:32] hoaquocphan commented on #3087
Hi @jywu-msft

I didn't use Cmake to compile onnxruntime as the guide. so can not try your method.
I compiled onnxruntime by yocto to create the SDK,
Then using SDK to compile my source code (.cpp file)

[2020-02-26 03:54] hoaquocphan commented on #3087
Hi @jywu-msft
I would like to add some information:

Using the SDK to build the hello.cpp successfully with below code:

but when I insert below line to code, it will lead to the error in above post.

[2020-02-26 04:02] jywu-msft commented on #3087
i think the issue is datetime_transformer.cc.o has a dependency on libautoml_featurizers.a which it doesn't look like you built. see: https://github.com/microsoft/onnxruntime/blob/v1.0.0/cmake/onnxruntime_automl_featurizers.cmake#L13

but for your purposes (tinyyolov2) you don't need featurizers at all.
so you shouldn't build datetime_transformer.cc etc.

in other words,
when building libonnxrunti

[2020-02-26 04:08] jinfagang opened #3092 "2020 year topK still not support?"
[code]

this is a really common used op in onnx...

[2020-02-26 05:49] littlecaiji commented on #3077
Thanks for you answer!
The link is from :
https://github.com/onnx/tutorials

[2020-02-26 06:26] hoaquocphan commented on #3087
Hi @jywu-msft

Thank you very much for your support.
As your comment, I just found that my Makefile lack of  libautoml_featurizers.a
after add line **-lautoml_featurizers** to Makefile, the compiling was built successfully.

so Thank again for your support.  You are so handsome!

[2020-02-26 06:26] #3087 closed

[2020-02-26 12:10] AndreV84 commented on #3024
executed on 8 core Jetson AGX, I wouldn't say that it uses gpu;
is there any chance to run something with use of GPU?
`[INFO   ]   =======================================================================
[INFO   ]   Accuracy = 97.13% out of 10000.0 tests, avg inference=0.02901ms per image
[INFO   ]   =======================================================================
9920512it [01:00, 164042.39

[2020-02-26 16:00] sacha-broute commented on #116
It happens to me also, and without a way to reproduce it for now

[2020-02-26 16:43] hossein1387 commented on #3024
If you have onnxruntime-gpu installed, you should automatically see the usage of Jetson GPUs.

[2020-02-26 16:58] AndreV84 commented on #3024
@hossein1387 thank you for your response. Yes I have built and installed onnxruntime-gpu as whl with pip. However, before starting the example I have  GR3D_FREQ 0%@1377
and while running it it is  GR3D_FREQ 6%@1377 `GR3D_FREQ 1%@1377` or it also remains 0; and when the execution ended there are also fluctuations up to 5%

[2020-02-26 17:54] faxu commented on #3092
See https://github.com/microsoft/onnxruntime/issues/2849

Is this the same model you shared before? What is the type?

[2020-02-26 18:01] jywu-msft commented on #3024
For CMake version 3.17RC1, I found that if you replace the following line in onnxruntime/cmake/CMakeLists.txt
``string(APPEND CMAKE_CUDA_FLAGS "-cudart shared")``
with
``set(CMAKE_CUDA_RUNTIME_LIBRARY Shared)``
the CUDA compiler check should succeed.

[2020-02-26 18:13] faxu commented on #3077
Thanks!

https://github.com/onnx/tutorials/pull/177

[2020-02-26 18:31] #2885 closed

[2020-02-26 18:48] #3077 closed

[2020-02-26 19:45] AndreV84 commented on #3024
@jywu-msft: thank you for the update!
could you suggest a basic cuda check to be run from under python to get confirmed that onnxruntime-gpu installation can successfully use GPU, rather than CPU's please?

[2020-02-26 20:50] jorditg opened #3095 "undefined reference to `OrtGetApiBase' collect2: error: ld returned 1 exit status"
**Describe the bug**
Trying to compile squeezenet derived C++ inference sample with onnxruntime 1.1.2 I get undefined reference to `OrtGetApiBase'

**Urgency**
none

**System information**
- Linux Ubuntu 18.04
- ONNX Runtime installed from binary
- ONNX Runtime version: 1.1.2

**To Reproduce**
Code:
[code]
Libraries installed:
[code]

Compilation:
[code]

**Expected behavior**
Compilation without

[2020-02-26 21:50] jywu-msft commented on #3024
you can turn on verbose logging prior to your sess.run() call, and it will show which nodes were assigned to execute on GPU.
see https://github.com/microsoft/onnxruntime/issues/2404#issuecomment-554276559

``import onnxruntime as ort``
``ort.set_default_logger_severity(0)``
``sess = ort.InferenceSession(...)``
``sess.run(...)``

[2020-02-26 22:47] ari9dam opened #3096 "Attribute 'alpha' appeared multiple times"
**Describe the bug**

I am getting this error in inference time. Model did load successfully and was exported without any error. Here is the pytorch code and the onnx graph:
``
class FastTextWithVisualFeaturesAndContextCNNModel(nn.Module):
def init(self, vocab_size: int,
word_embedding_dim: int,
visual_embedding_dim: int,
n_classes: int,
visual_feature_size,
embedding_matrix=None,
dropout = 0):
su

[2020-02-26 22:55] CoderHam commented on #3067
@faxu @pranavsharma Could you have a look at the log and verify is this is indeed a bug in the build process?

[2020-02-26 23:20] AndreV84 commented on #3024
@jywu-msft Thank you for following up!
I added
`rt.set_default_logger_severity(0)`
to the proposed previously mnist cpu example
`python3 main.py -x LENET.onnx`
[verbose.log](https://github.com/microsoft/onnxruntime/files/4258686/verbose.log)
It doesn't seem to call cuda;
perhaps I need some example of ort.InferenceSession( code) that call cuda on execution to see it reflected in the log

[2020-02-26 23:37] AndreV84 commented on #3024
Is there any GPU sample around that I might execute with the verbose logging?

[2020-02-27 00:00] snnn commented on #3096
It's a converter issue. Please report it to pytorch community.

[2020-02-27 00:02] snnn commented on #3096
Could you please disable all the onnxruntime optimizers and try it again?

[2020-02-27 00:05] ari9dam commented on #3096
Yes disabled and worked.
Thank you

On Wed, Feb 26, 2020, 4:03 PM Changming Sun <notifications@github.com>
wrote:

[2020-02-27 00:46] snnn commented on #3096
May I know which ORT version you're using? Does it include #2791 fix?

[2020-02-27 03:03] pranavsharma commented on #3067
From the logs, it's clear that the python version runs a bunch of optimizations (fusions) while the C one doesn't. What optimization level did you set when using the C API? Try with ORT_ENABLE_ALL. (It should've been the default starting v1.1.1, but that's a different issue). Please post your C and Python programs here. Also, when you're building you don't need openvino and tensorrt if you just wa

[2020-02-27 03:34] pranavsharma commented on #3092
@jinfagang please provide the model file to be able to do any meaningful investigation. Thanks!

[2020-02-27 03:43] pranavsharma commented on #3095
I can't reproduce the issue. See below.

![image](https://user-images.githubusercontent.com/2732907/75410296-4d354500-58d0-11ea-8b2a-2095cfa983d9.png)

[2020-02-27 04:10] jywu-msft commented on #3095
link order matters.

link order matters. linker searches from left to right. you should have -lonnxruntime after isic_onnx_model_run.cpp because libonnxruntime will resolve the missing symbols needed by your program.
see the build command in @pranavsharma 's example above where he built your sample program successfully.

[2020-02-27 04:15] jywu-msft commented on #3024
there

it is working. you actually built TensorRT Execution Provider. (CUDA Execution provider is a different provider)
They both execute on GPU.

your verbose.log shows
``
2020-02-26 18:13:28.123485238 [V:onnxruntime:, inference_session.cc:642 TransformGraph] All nodes have been placed on [TensorrtExecutionProvider].
``
That means all nodes are executing on GPU via TensorRT

[2020-02-27 04:22] jywu-msft commented on #3024
you can test on onnx models from onnx model zoo.
e.g. [squeezenet](https://github.com/onnx/models/tree/master/vision/classification/squeezenet)
you can then use the python api set_providers() to test 'CPUExecutionProvider' vs 'TensorrtExecutionProvider' or 'CUDAExecutionProvider'

see [example](https://github.com/microsoft/onnxruntime/blob/master/onnxruntime/test/python/onnxruntime_test_python.py#

[2020-02-27 06:17] jinfagang commented on #3092
Of course. what I wanna convert (actually wanna simplify a model using onnx-simplify), it's a onnx model exported from CenterMask.

the model actually generated but with TopK (it may have bool value) inside it make it unable to check pass in onnxruntime. Not sure it's type issue or not.

I paste the model download link here hope you guys take a quick look at it:

链接: https://pan.baidu.com/s/1cwtyI

[2020-02-27 07:30] jorditg commented on #3095
Thank you @jywu-msft. Issue solved, just changing library order.

[code]
library correctly linked and working.
Sorry for the question. Not using g++ for a long time.
Thanks!

[2020-02-27 07:30] #3095 closed

[2020-02-27 10:13] truemanlee opened #3099 "About the threads used"
Hi,
I am using the python api with cpu version to inference. But somethings confuse me. If I start only one process, the inference speed is very fast. However, if I start 2 or more processes, all processes inference very slowly, even stuck. I got the clue in the file "onnxruntime/core/util/thread_utils.cc", so I let inter_op_num_threads=2 and intra_op_num_threads=2, and export OMP_NUM_THREADS=1.

[2020-02-27 16:22] erikbrntsn opened #3100 "c# api depends on cuda 10.0 but documentation lists 10.1 as requirement"
The README.md in the root of the project states:

"The default GPU build requires CUDA runtime libraries being installed on the system:
    Version: CUDA 10.1 and cuDNN 7.6.5
"

However the newest c# nuget package ~~(1.2)~~ (1.1.2) expects cuda 10.0.
Specifically SessionOptions.cs includes the following line
[code]
cublas64_100.dll is contained in cuda 10.0 wheres cuda 10.1 and 10.2 contains cubla

[2020-02-27 16:56] #1837 closed

[2020-02-27 16:58] sacha-c commented on #116
I figured out my issue!

I am using _paket_ as a package manager, instead of VS nuget manager. So my project doesn't have a packages.config, which is why onnxruntime.dll is never copied

props.xml has the following conditions:
 ` <ItemGroup Condition="Exists('packages.config') OR
                        Exists('$(MSBuildProjectName).packages.config') OR
                        Exists('packages.$(M

[2020-02-27 17:07] sacha-c opened #3101 "When using another package manager than NuGet (like paket), onnxruntime.dll is not copied to build directory"
**Describe the bug**
When using another package manager than VS (like paket), onnxruntime.dll is not copied to build directory.
The consequence is an exception when using OnnxRuntime: [same as in this issue](https://github.com/Microsoft/onnxruntime/issues/116)
 `Unable to load DLL 'onnxruntime.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)`

**System informatio

[2020-02-27 17:47] faxu commented on #2969
@ggeor84 were you able to retry this with the newest version? let us know if continued support is needed

[2020-02-27 17:49] faxu commented on #2441
@albertkwek92 do you still need assistance on this issue? if so, please provide more details as mentioned above; if not, please close this issue. Thanks!

[2020-02-27 18:01] #2555 closed

[2020-02-27 18:10] faxu commented on #2765
@deimsdeutsch Unfortunately we just have a small team with limited bandwidth and cannot support all variants of dependent libraries so optimize for the most popular ones. We welcome contributions from the community to help expand the product support.

[2020-02-27 18:10] #2765 closed

[2020-02-27 18:12] snnn commented on #1958
It's not a bug of onnxruntime, it's a bug of the mxnet converter.
When you open the model, you'll see the second node of the model is BatchNormalization. It has an attribute with name of  "spatial" and value of 0.  But based on the input shapes the value should be **one** here.

Please see:
https://github.com/onnx/onnx/blob/master/docs/Changelog.md#BatchNormalization-7

For example, for the "scale

[2020-02-27 18:12] #1958 closed

[2020-02-27 18:12] faxu commented on #2804
Closing due to inactivity. please reopen as needed.

[2020-02-27 18:12] #2804 closed

[2020-02-27 18:13] faxu commented on #2600
@verigle do you still need assistance on this issue? if so, please share more details as mentioned above. thanks!

[2020-02-27 18:14] #2602 closed

[2020-02-27 18:15] faxu commented on #2622
Closing as issue appears resolved. Please reopen if more clarifications are needed.

[2020-02-27 18:15] #2622 closed

[2020-02-27 18:16] faxu commented on #2482
@kunalgoyal9 Do you still require assistance to troubleshoot this issue? If so, please share more details above and please try the latest version of ORT.

[2020-02-27 18:21] #2342 closed

[2020-02-27 18:22] #2151 closed

[2020-02-27 18:23] faxu commented on #1961
Closing this issue. Please reopen and provide more details if the latest release still exhibits perf issues.

[2020-02-27 18:23] #1961 closed

[2020-02-27 18:25] snnn commented on #2296
In onnxruntime 1.2, we'll add a new cmake option: onnxruntime_PREFER_SYSTEM_LIB.
If it is ON, onnxruntime will search the headers(pybind11) from you system path.
see:  https://github.com/microsoft/onnxruntime/blob/master/cmake/external/pybind11.cmake#L2

However, if your pybind version isn't new enough, it will cause compatibility issues when both onnxruntime and another pybind module are loaded i

[2020-02-27 18:25] #2296 closed

[2020-02-27 18:27] tracysh commented on #2921
Update: I was curious about the latest state of Power ISA (I worked on Xbox 360, a PowerPC 2.02 implementation), so I updated MLAS to directly use VSX intrinsics. I verified the GEMM using gcc 7.4 to cross compile then run from qemu. I'll get my changes into a branch you can try on your end in a few days.

[2020-02-27 18:28] #1567 closed

[2020-02-27 18:28] #1454 closed

[2020-02-27 18:30] faxu commented on #2812
@Debottam as we discussed, i believe this issue is now resolved for you? can you please confirm and close the issue if so? Let us know if you have further issues. Thanks!

[2020-02-27 18:35] skottmckay commented on #2872
Based on the converstation on https://github.com/onnx/tensorflow-onnx/issues/784 it appears this is due to a TensorRT issue that is captured on https://github.com/microsoft/onnxruntime/issues/3034.

Please re-open if that's not the case.

[2020-02-27 18:35] #2872 closed

[2020-02-27 18:40] CoderHam commented on #3067
Thanks @pranavsharma setting the optimization level to **ENABLE_ALL** worked. I was setting **DISABLE_ALL** earlier and wasn't aware that disabled some GPU ops and forced them to run on CPU. Closing this issue.

[2020-02-27 18:40] #3067 closed

[2020-02-27 18:45] jywu-msft commented on #3100
latest nuget package is 1.1.2
1.2 release is coming soon and does require cuda 10.1
the release branch was just created from master yesterday.
master branch documentation reflects the updated cuda requirement.

Thanks for noticing the issue in SessionOptions.cs ,if the cublas library was renamed for CUDA 10.1, 10.2, the code needs to get updated.
@yufenglee, @faxu FYI

[2020-02-27 19:00] erikbrntsn commented on #3100
Sorry, 1.2 was i typo on my side. I did mean 1.1.2

[2020-02-27 19:09] CoderHam commented on #3067
Can you help me understand the significance of
ORT_DISABLE_ALL -> Disables all optimizations (**Does this disable some GPU ops?**)
ORT_ENABLE_BASIC -> Enables basic optimizations (**Which ops on also run on GPU if this is enabled?**)
ORT_ENABLE_EXTENDED -> Enables basic and extended optimizations
ORT_ENABLE_ALL -> Enables all available optimizations including layout optimizations

You mentioned OR

[2020-02-27 19:15] ggeor84 commented on #2969
@faxu I did and still saw no improvement. I shared with @yufenglee via email my repos to reproduce results. do you want to continue the discussion here or via email?

[2020-02-27 19:37] fdwr commented on #2378
@stefanpantic : Does patlevin's advice solve the AV, copying ORT's version of DML.dll to your application folder? The DML version that comes with ORT is a preview and has more functionality than the OS version (granted, I would not expect a read AV, but I also don't expect it to work).

[2020-02-27 19:43] snnn commented on #3099
Threads can't be shared between processes. In your case, please set inter_op_num_threads=1 and intra_op_num_threads=1 and disable openmp to make onnxruntime run a single thread mode. You may control your CPU usage by controling the number of python processes active.

[2020-02-27 20:04] spandantiwari commented on #2990
@natank1 - what version of PyTorch are you using for exporting your model?